[2015-07-29 13:56] heruan opened #1 "Informations about this plugin"
I'm working on a SPA which requires I18N support, and I'm looking at `polyglot.js`, `Jed` and `i18next` libraries. Since I'm using the Aurelia framework, I found this repository and I wonder if an official I18N plugin for Aurelia is coming in the next few weeks!

[2015-07-30 09:23] zewa666 commented on #1
Hi there,

this official repo will be based on i18next. It's currently in the final phase. You can see the pre-work at https://github.com/zewa666/aurelia-i18next

Hope to get it live by next week, there is only one more important thing missing.

[2015-08-11 06:50] atsu85 opened #2 "What is the purpose/status of this repository?"
Hi, from the name i'd guess that it has smth to do with internationalization, but there are only 3 commits and none of them seems to be related to i18n.

What is the purpose/status of this repository?

[2015-08-11 12:19] zewa666 commented on #2
As mentioned here https://github.com/aurelia/i18n/issues/1 it is the official place where the currently developed solution will land. Just hold tight we've got one more thing to finish

[2015-08-11 12:19] #2 closed

[2015-08-27 15:46] #1 closed

[2015-09-02 08:51] milunka opened #5 "Plugin cannot be used without installed babel-runtime"
After i have sucessfully installed this plugin i findout that i could not use it.
For some reason almost all files requires babel-runtime but this module isn't between jspm dependecies but only in devDependencies section.

I am thinking that build process is somehow wrong or definition of required dependencies for jspm needs update requirements of this plugin.

[2015-09-02 13:28] zewa666 commented on #5
Hi there,

Hm not sure whats causing this. Maybe this line, which could be used during the build sequence https://github.com/aurelia/i18n/blob/master/build/babel-options.js#L10

@EisenbergEffect do you have any idea? So far I wasn't able to reproduce this error

[2015-09-02 13:33] EisenbergEffect commented on #5
It sounds like a configuration issue. Try removing the runtime from that list. That shouldn't be needed.

[2015-09-03 12:44] valichek opened #6 "How to refresh translated view when using converters?"
Switching locale doesn't affect the view when I use TValueConverter, but values translated with `t='myProp'` do change.
[code]
How to trigger translation with converters?

[2015-09-03 13:27] valichek commented on #6
Well, after playing with ValueConverters I have found the solution. Not beautiful, but works.
Here is example for TValueConverter.
[code]
I change currentLocale value on `i18n:locale:changed` event and it triggers reavaluating of test property.

[2015-09-03 13:30] zewa666 commented on #6
Hi there, yes you're right there is no nice approach available at the moment. There is though a new feature planned called ValueConverter signaling, which would allow us to hint VCs about changes and thus let them re-evaluate their inputs. This will help, but we have to wait until its complete

[2015-09-03 13:42] EisenbergEffect commented on #6
@zewa666 I wonder if we could bake i18n into the templating engine more deeply. Could we come up with something like we have for animation? Could there be a base abstraction somewhere that we could tie in that this library could implement to plug things in more deeply?

[2015-09-03 13:45] zewa666 commented on #6
@EisenbergEffect what would be the benefit? Can't wrap my head around where this might come in handy. In case of the Animator we needed it actually for certain things to get automatically called. Not so for I18N as far as I can think. I'd be happy for an example.

[2015-09-03 13:48] EisenbergEffect commented on #6
Well, I was thinking about this specific case. What if string interpolation expressions could automatically be updated when the culture changed, for example?

[2015-09-03 13:53] zewa666 commented on #6
That'd be an interesting approach, although I fear that we could run into a lot of edge cases with that. As an example what if I don't want to update every binding as for performance reasons but just a specific section?

But yeah I see what you're talking about. I'm just not sure how good/bad that tighter coupling together with Aurelia's core plays out.

[2015-09-03 13:56] EisenbergEffect commented on #6
I don't know either, but I wanted to throw it out there so you could ponder it and see if anything would make sense.

[2015-09-03 14:50] EisenbergEffect opened #7 "Setup Linting"
Set up eslint to follow the same rules as the core repos and resolve all lint errors. You can see how to do this by looking at the lint task of any sore repo along with its .eslintrc file.

[2015-09-03 14:51] EisenbergEffect opened #8 "Setup d.ts generation"
Be sure that d.ts files are being generated from the source using our babel plugin. You can see how to set this up by looking at the build tasks from any core repo. Along with this, set up the doc generation. This can be seen by looking at the doc task from any core repo. Setting up the docs along side this will ensure that the generated d.ts files are correct because the docs infrastructure uses

[2015-09-03 21:01] Mordred opened #9 "t - customAttribute and params"
It is possible to somehow pass parameters to translation when using attribute?

E.g.:
[code]

[2015-09-04 01:17] EisenbergEffect commented on #5
Has this been resolved as a configuration issue. Can this be closed?

[2015-09-04 08:24] zewa666 commented on #9
I'm not sure I fully understand what you'd like to achieve. Can you show me what you'd do in code and what the translation key would look like?

[2015-09-04 09:12] Mordred commented on #9
I need to pass some arguments to translation:

[code]

[code]

Currently this is possible only as:

[code]

I would be nice to have some option how to pass parameters to "t" attribute.

[2015-09-04 11:04] zewa666 commented on #9
Nope currently not, but thanks for the good idea :+1:

[2015-09-04 11:08] zewa666 commented on #5
I've just tested it today on a completely new machine, where node and everything was installed from scratch. No problems when installing aurelia-i18n. @milunka sorry but I'm not really sure what was causing your issue. Could you try to setup a fresh new skeleton with the latest version and see if it happens again?

[2015-09-04 11:46] Souldrinker commented on #5
As far as I can see the issue is that in for example most files in the dist/amd folder you get a lot of defines to babel stuff, for example this:
[code]

In your old aurelia-i18next the babel stuff is not in the defines. As long as the babel stuff is there it seems you need to have babel and babel-runtime defined in your config.js (which seems to get there anyway when you have aurelia-cli imported

[2015-09-04 12:12] milunka commented on #5
@zewa666 with skeleton application this issue cannot be duplicated because after provisioning everything for skeleton application you have in jspm folder babel-runtime installed. And as @Souldrinker wrote in his comment, define section from almost every i18n js file requires babel-runtime.
I think that as @EisenbergEffect wrote just remove runtime from babel-options.js and maybe config.js and comp

[2015-09-04 12:16] zewa666 commented on #5
@Souldrinker, @milunka thanks for clarifying the situation. Didn't thought about you TS guys :)

Next time I'm at my desktop, I'll release a new version. As you @milunka and @EisenbergEffect mentioned, this should fix the issue.

[2015-09-06 09:23] apDyn opened #10 "i18n plugin fail to load in latest aurelia framework 0.16.0 release"
When starting the app, I get the following errors:
[code]
Please note, this is after manually altering the "github:aurelia/i18n@0.1.0" section in jspm's config.js to match the latest framework components.

[2015-09-07 07:14] CharlesPockert commented on #10
Looks like this issue on aurelia-dialog to me - wrong repo :P https://github.com/aurelia/dialog/issues/25

[2015-09-07 07:17] apDyn commented on #10
You're right.
Closing this issue.

[2015-09-07 07:17] #10 closed

[2015-09-07 09:05] valichek opened #11 "Translation doesn't work when using if.bind"
[code]

[2015-09-07 10:08] zewa666 commented on #11
does that only happen if he translation attribute is set together with the if binding on the same element?

Could you try this and tell me what happens?
[code]

[2015-09-07 11:59] valichek commented on #11
@zewa666 Seems that It only happens when attributes are set together on the same element

[2015-09-07 12:29] zewa666 commented on #11
OK thanks for checking that out, will have a look at it.

[2015-09-08 05:46] zewa666 commented on #5
@Souldrinker, @milunka hey guys I've finally managed to push the new version without runtime setting. Could you please give it a try?

[2015-09-08 11:22] milunka commented on #5
@zewa666 i tried latest version and it works without problem. I just have one small request could you please create tag 0.1.1 for your latest commit? Otherwise i could not install specific version into my project and i must use master branch.

[2015-09-08 11:22] #5 closed

[2015-09-08 12:00] zewa666 commented on #5
of course will do. Thanks or checking it out :+1:

[2015-09-08 13:59] zewa666 commented on #7
I think I got that working now, could you give it a quick look?

[2015-09-08 14:00] zewa666 commented on #8
@EisenbergEffect ok will do so just need some free time to do the type annotations

[2015-09-08 14:35] Souldrinker commented on #5
Thanks for this, but it would also be nice if you while you were at it would have compiled it against the current version of Aurelia libraries so we avoid manually hacking the config.js to avoid forks.

May I ask why some of the libraries like this one and aurelia-validation isn't released in sync with the rest of the aurelia libraries when new "major" (0.x) versions are released now that they are

[2015-09-08 14:41] zewa666 commented on #5
The problem is simple. Because Im a noob :) will take care of that in future releases

[2015-09-08 14:43] Souldrinker commented on #5
hehe, no problem, just asking. I got it working just fine after some minor fiddling with the config.js ;-)

[2015-09-08 14:49] EisenbergEffect commented on #7
Looks good.

[2015-09-08 14:49] #7 closed

[2015-09-09 08:29] zewa666 commented on #8
@EisenbergEffect could you please check the configs from the branch https://github.com/aurelia/i18n/tree/dts-setup? Running `gulp build` currently errors with multiple declarations of `import i18n`

[2015-09-11 11:47] zewa666 commented on #9
@Mordred could you give it now a try, the feature has now been added and should work as expected. Funny enough another issue with having values bound to t `t.bind = ...` now is fixed as well :)

[2015-09-11 12:01] valichek opened #12 "Using namespaces"
I do have following setup:
[code]
I have default `translation.json` and `nav.json`
Default namespace works fine:
[code]

but `nav` namespace do not:
[code]

Have checked the log, but `nav.json` is never loaded.

[2015-09-11 12:44] zewa666 commented on #12
Translation is the default namespace thus this one always works.
I think you have to register multiple namespaces during setup phase. Take a look here http://i18next.com/pages/doc_init.html and search for `Multiple namespace:`.

If I understand correctly just adding the next to the setup should be enough:

[code]

not sure if you need to include translation as well, haven't tried it myself.

[2015-09-11 13:25] valichek commented on #12
thx, @zewa666 , just checked that
here is correct config for my case
[code]
If we define `namespaces`, the `defaultNs` property has to be set explicitly

[2015-09-11 13:31] zewa666 commented on #12
perfect, good to know and thanks for sharing the insights ... may I ask you to create a PR updating the README and put that information in? Also make sure you you've signed our CLA

[2015-09-12 09:47] JeroenVinke opened #13 "Cannot read property 'forEach' of undefined"
Unhandled promise rejection TypeError: Cannot read property 'forEach' of undefined
    at http://localhost:9000/jspm_packages/github/aurelia/i18n@0.2.0/index.js:89:43

line 89 is this line: https://github.com/aurelia/i18n/blob/master/src/index.js#L35

the `attributes` property is undefined.

[2015-09-17 11:50] bsrdjan opened #14 "i18n:js 74 Uncaught TypeError: Cannot read property 'localeMatcher' of null"
Fresh installed skeleton 0.18.1 and this plugin. When using nf Value Converter in HTML markup, the error occurs if no options supplied, like in this example:

[code]
This works:
[code]

[2015-09-17 12:02] bsrdjan opened #15 "Unformat number ?"
Any ideas how to unformat the number, for the [fromView method](https://github.com/aurelia/i18n/blob/master/src/nf.js) ? Found only [this workaround](http://stackoverflow.com/questions/29255843/is-there-a-way-to-reverse-the-formatting-by-intl-numberformat-in-javascript) as of now.

[2015-09-19 07:35] JeroenVinke commented on #13
I didn't need any attributes so I removed it from the options. this caused the error because it expects any empty array

[code]

[2015-09-21 06:54] JeroenVinke opened #17 "Override i18next ajax loader to use systemjs loader"
i18next uses ajax to fetch the translations. This is causing some path resolving issues. If you add aurelia-i18n to any plugin using this config:
[code]
and if you then install the plugin, the browser will look for the .json file in localhost:9000/resources/en-US.json instead of localhost:9000/jspm_packages/github/aurelia/validation@0.3.1/resources/en-US.json. i18next allows for an override of the

[2015-09-21 09:23] zewa666 commented on #13
ok thx for the hint, like your PR, lets continue the discussion over there

[2015-09-21 09:23] #13 closed

[2015-09-21 09:44] zewa666 commented on #14
@bsrdjan a new version was released which should fix the problem, please report back after testing

[2015-09-21 09:52] zewa666 commented on #15
Hmmm what should the unformat do exactly? I guess it should only remove the thousand separator right?

[2015-09-21 10:07] zewa666 commented on #17
So using the jspm json plugin should help solving this task I guess. Will have a look at it. Just out of interest, what happens if you add a relative path by prefixing `resGetPath` with `./`?

[2015-09-21 10:33] JeroenVinke commented on #17
yes, it would be great of we could use the json plugin. Adding `./` doesn't change anything I'm afraid.
![image](https://cloud.githubusercontent.com/assets/2189477/9989883/bbedaad0-605c-11e5-86f4-ce334f788af7.png)

[2015-09-21 11:04] bsrdjan commented on #15
the "unformat" should get the Number value of the locally formatted number, from the View input text field for example. The getValue() or val() sounds perhaps better, "unformat" term I found in numeraljs.

Removing thousand (group) separator is not enough, the decimal separator is the next problem. The local decimal separator in Germany for example is a comma, and it must be replaced with the Java

[2015-09-21 11:46] zewa666 commented on #15
I think you're on the right track. The german example was what I thought of immediately as well and heck there could be a lot of problems related to that. As of that I don't really see this fit in our plugin but actually more as part of the work you're trying to do by including it in the standards proposal.

I really don't feel too happy about implementing that feature for ourselves but if you fee

[2015-09-22 11:36] zewa666 commented on #15
@bsrdjan ok I've created a first raw demo of how that might work. Currently there is no ValueConverter or anything else available, just the source + unit tests in a separate branch.
https://github.com/aurelia/i18n/tree/unformat

could you checkout that one and run the tests? Additionally it would be nice if you could provide some unit tests with some edge cases which fail for you or you'd see nece

[2015-09-22 12:00] zewa666 commented on #11
hmm dunno why but it seems one of the recent changes I've made did indirectly fix this issue as well. Could you jspm install the latest version of aurelia-i18n and give it another try?

[2015-09-23 09:05] zewa666 commented on #17
ok it seems that System json imports are quite easily done here.
Below find an example how you'd configure the custom loading process. So in your case the validation plugin would need to use that way when referencing i18n.

[code]

[2015-09-23 09:14] JeroenVinke commented on #17
that is awesome, thanks Vildan :+1:  I assume this would also cache already loaded translation files?

[2015-09-23 10:17] zewa666 commented on #17
it should go through the normal systemjs loading process, which does caching ... so without knowing exactly I'd say yes :)

[2015-09-30 07:49] valichek commented on #9
@zewa666 hi, I just tried to use ```t.bind = ...``` but doesn't work for me, I use ```github:aurelia/i18n@0.2.2```, it binds only once, and then when locale is switched nothing happens

[2015-09-30 07:58] zewa666 commented on #9
@valichek could you show me the markup and vm as well as the two translations you've used for the test?

[2015-09-30 08:29] valichek commented on #9
here is markup
[code]
`step.title` contains the key in translation smth like: `"wizard-steps.0"`
And translation:
[code]

[2015-09-30 08:34] zewa666 commented on #9
Ok I forgot to include the event listener for locale changes, there is a new version just now released 0.2.3 which should fix that. @valichek please try it out again with that one.

[2015-09-30 09:56] valichek commented on #9
Now works like a charm) Thx

[2015-09-30 11:58] zewa666 commented on #9
thx @valichek, now that you reviewed this we only need to wait for @Mordred's reply on testing the params then we may close this issue

[2015-09-30 12:29] Mordred commented on #9
@zewa666 Sorry for delay. `t-params` seems to be working only if you define it before `t` attribute:

This works:
[code]

This doesn't work:
[code]

You should warn about this in the documentation.

[2015-09-30 14:50] valichek commented on #9
hm, for me that works
[code]
But if I place `t-params.bind=` before `t.bind=`, it doesn't

[2015-10-04 12:54] valichek commented on #9
and it look like my last example works for Firefox, and not for Safari and Chrome

[2015-10-05 12:00] zewa666 commented on #9
ok @valichek and @Mordred. Your both input and testing so far was invaluable, so a big thanks to both of you. The recent release now should fix that issue with a new custom resolver. So whenever you have time give it another try. Thanks in advance

[2015-10-06 07:44] #17 closed

[2015-10-06 07:45] zewa666 commented on #11
Closing due to inactivity

[2015-10-06 07:45] #11 closed

[2015-10-06 07:46] zewa666 commented on #14
Closing due to inactivity

[2015-10-06 07:46] #14 closed

[2015-10-06 07:53] #12 closed

[2015-10-07 13:29] Mordred opened #19 "Intl.js polyfill"
I'm getting error `XHR error (404 Not Found) loading http://example.com/Intl.js` on Safari. Problem is that you are loading `Intl` here https://github.com/aurelia/i18n/blob/master/src/i18n.js#L16 but dependency is called `Intl.js` inside `package.json` https://github.com/aurelia/i18n/blob/master/package.json#L29 so it should be also loaded as `Intl.js`

[2015-10-07 13:40] Mordred commented on #9
@zewa666 Good job, it is working now.

[2015-10-07 16:43] zewa666 commented on #19
Hmm thats strange, I think this used to work earlier. Whyever the naming is wrong, even with the proper one it still fails to load the file as it seems to request it from the perspective of the skeleton app. Need to investigate this a bit more.

[2015-10-09 20:24] ashirai opened #20 "error upgrading from 0.2.3 to 0.2.4"
After upgrading aurelia-i18n from 0.2.2 to 0.2.4, I am getting this error.
Unhandled promise rejection TypeError: this.lazyParams is not a function
If I downgrade it from 0.2.4 to 0.2.3, it works just fine.

[2015-10-12 07:48] zewa666 commented on #20
Can you reproduce this error or does it only happen from time to time? If first one please create a Plunkr or simply setup a clone of the skeleton with i18n version 0.2.4 depicting the problem.

[2015-10-12 21:35] ashirai commented on #20
Yes, I can reproduce it every time.  This is what I noticed. I had a line of code like this: <span t="save"></span>, and if I replace it with <span>${i18n.tr("save")}</span>, it works just fine. Again in version of 0.2.3, <span t="save"></span> works without any problem but in 0.2.4, t="..." doesn't seem to work anymore. I confirmed that I have no other changes besides what I mentioned above.

[2015-10-13 14:16] leon-andria opened #21 "Sync dependencies to latest Aurelia build"
"aurelia-dependency-injection": "github:aurelia/dependency-injection@0.11.0",
 "aurelia-templating": "github:aurelia/templating@0.16.0",
 "aurelia-loader-default": "github:aurelia/loader-default@0.11.0"

[2015-10-14 20:27] wichert opened #23 "Support locale in route paths"
A common way to handle language selection in a site is to use the first component in the URL path to set the locale. Aaike implemented this in aaike/router@83891160c2c116c388517b344ed91d972089a911 with the following rules:

* if the current locale is the sites default locale the URL is not changed
* if the current locale is not the site default locale the URL path is changes to `/${locale}<normal

[2015-10-14 20:50] zewa666 commented on #23
@Aaike can you take a look at this one?

[2015-10-14 20:54] wichert commented on #23
FWIW Aaike's original change no longer applies: in aurelia/router@/3185d5b614a2dfed5ca129fed9fa0793daee81c0 @bryanrsmith moved the relevant code to history-browser. I don't think that is the right place to do this though. Perhaps there is a missing router hook that i18n could use so this doesn't have to be done in the routing system itself.

[2015-10-14 21:01] zewa666 commented on #23
that's what @bryanrsmith was talking about as well. I'd really like to see a nice integration via hooks so we don't have to spoil the code all over multiple repos

[2015-10-14 21:13] wichert commented on #23
At first sight it looks like two hooks should suffice:

* a `pre-parse` hook which can take the path being parsed, grab the locale from it and return the modified path for further router processing
* a `post-generate` hook which gets a generated path and insert the current locale

Another option is to use a `pre-generate` hook which takes a route object as parameter, and returns the route object t

[2015-10-14 23:42] stephenlautier opened #24 "error after updating aurelia mid-october 2015"
Hi,

After updating Aurelia to latest (Mid-October 2015), I've been getting errors caused by unsubscribe, this is due to a breaking change in Aurelia as specified.

http://blog.durandal.io/2015/10/13/aurelia-mid-october-2015-releases-performance-and-portable-javascript/

So any event aggregator subscription has to be disposed by `this.subscription.dispose();` instead of `this.subscription();`
http

[2015-10-14 23:56] stephenlautier commented on #24
Added fix @ https://github.com/aurelia/i18n/pull/25

[2015-10-15 12:30] zewa666 commented on #24
this should be fixed now with the latest release. Once again also thanks for your help and reporting the issue :+1:

[2015-10-15 12:30] #24 closed

[2015-10-15 12:31] zewa666 commented on #21
Done with the previous tags

[2015-10-15 12:31] #21 closed

[2015-10-15 12:32] zewa666 commented on #20
@ashirai can you verify that this happens with the latest tag 0.2.6 as well? If so please create a clone repository with the example depicting the problem as I cannot reproduce it.

[2015-10-15 13:49] EisenbergEffect commented on #8
@zewa666 Can you make sure that aurelia-tools is up to date in this repo and then try building the d.ts again? That may be why you are seeing that issue.

[2015-10-15 15:13] ashirai commented on #20
@zewa666, thank you, that fixed it!

[2015-10-15 15:14] zewa666 commented on #20
Glad to hear that

[2015-10-15 15:14] #20 closed

[2015-10-16 10:40] #9 closed

[2015-10-20 11:31] SorenMuller opened #27 "Support for Typescript"
It would be absolutely awesome, if support for Typescript were added.. :-)

[2015-10-21 12:17] zewa666 commented on #8
@EisenbergEffect hey as discussed with you while being in Tally, could you setup the necessary stuff you mentioned in order to get me started with creating the dts file?

[2015-11-02 14:25] SorenMuller commented on #27
Any idea when this issue will be adressed ??

[2015-11-02 16:01] EisenbergEffect commented on #27
In the next release....beta is coming in the next week or so. We are waiting on some dependency tooling updates which broke use...related to the Babel 6 update. Hang in there.

[2015-11-04 16:51] salminio opened #28 "i18n flattens passed in objects where i18next expects full objects"
translation.json
`
{myKey: "alert for __property.name__"}
`

my code looks something like this:
`
this.alertHeader = this.i18n.tr('myKey', {property: this.property});
`

i18n.tr makes this call
`
this.i18next.t(key, (0, _utils.assignObjectToKeys)('', fullOptions))
`

which flattens out a hierarchy {property: {name:'prop1", type:'string', foo:{bar:1}}} so that would end up being:
[code]

which look

[2015-11-11 08:44] heruan opened #29 "Errors with aurelia pre-beta release"
After upgrading to Aurelia pre-beta release, I get this error on plugin initialization:
[code]
referring to the `getAttribute` method here:
[code]

[2015-11-11 10:36] RWOverdijk opened #30 "Bundled translation files"
Hello,

It looks like aurelia-i18n doesn't use bundled translation files. I have it registered using the text plugin.

[2015-11-11 14:22] lares83 opened #32 "i18n stopped working"
After pre beta update loading i18n cause that whole application is not being bootstrap.
I'm getting this error in console

[code]
aurelia.use
.plugin('aurelia-i18n', (instance) => {
        // adapt options to your needs (see http://i18next.com/pages/doc_init.html)
        instance.setup({
          resGetPath : 'locale/__lng__/__ns__.json',
          lng : 'de',
          attributes : ['t','i18n'

[2015-11-11 15:53] JeroenVinke commented on #32
duplicate of https://github.com/aurelia/i18n/issues/29, and a workaround is to change [this](https://github.com/JeroenVinke/i18n/commit/487c49cc30a404f74816dcfbd3afced33c4f689b) in `jspm_packages/github/aurelia/i18n@0.3.0/index.js`

[2015-11-11 16:05] lares83 commented on #32
Your fix works great:) Thanks. I'll close ticket as it's a duplicate of #29.

[2015-11-11 16:05] #32 closed

[2015-11-11 18:19] zewa666 commented on #29
Thanks for the report and thanks @JeroenVinke for your quick help. As @EisenbergEffect said, the API will be made public again. That should fix the issue

[2015-11-11 19:58] ChrisMancini opened #33 "Applying a Value Converter to a Translated value."
I want to apply a value converter (simple converter to append a ":" to the end of the field) to a translated field.

If I do this:

[code]

As one would expect the converter is applied to the label before the translation occurs, therefore it doesn't find the key in the translation table.

Any suggestions as to how to apply the converter (in HTML, not the viewmodel) to the value after it has been t

[2015-11-11 21:22] EisenbergEffect commented on #29
Released fix to templating.

[2015-11-11 21:22] #29 closed

[2015-11-11 21:23] EisenbergEffect commented on #29
@zewa666 On an unrelated note. Now that the binding engine has signals, that's probably something you should take advantage of in the i18n library to refresh all translated values when a culture change happens.

[2015-11-12 19:50] nomack84 commented on #33
Do you know the `t` converter? Just try:
[code]
Regards

[2015-11-12 19:56] nomack84 commented on #27
This is a duplicate of #8

[2015-11-12 20:09] ChrisMancini commented on #33
Exactly what I was looking for thanks!  (I did know about the t converter (am using it in other places), didn't know you could chain converters though!)

[2015-11-12 20:09] #33 closed

[2015-11-16 22:25] Mordred commented on #19
Any news?

[2015-11-16 22:31] zewa666 commented on #19
was able to reproduce the issue myself. its on the list and will get to it asap. The necessary internal API changes have been made in the meantime so the fix should hopefully be easy

[2015-11-17 07:31] zewa666 commented on #19
@Mordred the recent release should fix that, please try it out

[2015-11-17 22:22] lares83 opened #34 "After bundle translations are not working"
Hi,
When I bundle my project translations are not being displayed. I'm using the aurelia-beta-01.

[2015-11-18 16:56] zewa666 commented on #15
closing due to inactivity

[2015-11-19 13:41] Mordred commented on #19
Good job, it works.

[2015-11-19 13:41] #19 closed

[2015-11-23 08:20] wichert commented on #23
@zewa666 Has there ben any progress on this front? Is there anything I can do to help?

[2015-11-24 11:50] valichek opened #37 "Uncaught TypeError: Cannot read property 'dispose' of undefined"
After updating to beta-1 I got in Chrome
[code]

In Firefox I have `TypeError: this.subscription is undefined`

The error occurs when changing `merchantState.selector`
[code]
I change `merchantState.selector` during navigation in auth step, and app-subcomponent is removed at that moment with if.bind="..." from the DOM.

Just got some idea to override the problem. That html works with no  error.
[c

[2015-11-25 07:31] zewa666 commented on #37
ok I can't actually replicate the issue but have talked to @jdanyow to update [aurelia-plunker](http://plnkr.co/edit/5vMoxM?p=preview) to include it so you can easily create a sample. Stay tuned will reply here once its updated

[2015-11-25 11:35] jdanyow commented on #37
@valichek / @zewa666 sorry for the delay- the plunker has been updated with the latest aurelia bits and now includes the aurelia-i18n plugin.

http://bit.ly/aurelia-plunker

[2015-11-27 07:46] sternert commented on #37
I have the same issue, I have trouble to pinpoint where the actual problem is and are thus unable to show it in plunkr.
    Unhandled promise rejection TypeError: Cannot read property 'dispose' of undefined
        at TCustomAttribute.unbind (http://localhost:1111/jspm_packages/github/aurelia/i18n@0.2.6/t.js?bust=1448609338856:118:26)
        at Controller.unbind (http://localhost:1111/jspm_packag

[2015-11-27 07:57] zewa666 commented on #37
hey we currently have weird issues with the show.binding if used together with the animator-css. May I ask you guys to test if the error still happens if you remove the animator-css plugin?

[2015-11-27 08:04] valichek commented on #37
I have `aurelia-animator-css` plugin disabled

[2015-11-28 13:08] zewa666 commented on #37
sry I seem to be doing something wrong, still can't replicate the issue. @valichek may I ask you to use the updated aurelia plunker to create an example depicting the issue?

[2015-11-28 13:09] zewa666 commented on #6
This is now handled with the new TBindingBehavior. Updated readme follows soon.

[2015-11-28 13:09] #6 closed

[2015-11-28 13:10] zewa666 opened #39 "Create README content for TBindingBehavior"
Introduce the new feature with the signaled TBindingBehavior

[2015-11-28 13:23] valichek commented on #37
@zewa666 will try

[2015-11-28 13:36] jdanyow commented on #37
I wonder if there's a scenario where `bind` then `unbind` is called in the same task queue flush. If that were to happen, `unbind` would be called before [this line](https://github.com/aurelia/i18n/blob/master/src/t.js#L57) is evaluated.

Maybe this could be reproduced by putting a `t` custom attribute on a element that has `if.bind="show"` and then executing `this.show = !this.show` a few times i

[2015-11-28 16:00] bsrdjan commented on #15
sorry for the slow response, the question is still open on my end and can check a raw demo in 2 weeks.

I just discovered that my bigger aurelia app, based on latest beta, does not load in desktop Safari because I was using Intl API without importing the polyfill.

I imported the [polyfill](https://github.com/andyearnshaw/Intl.js/) and it helped a bit but still does not work in desktop Safari. Cur

[2015-11-29 16:55] moshensky commented on #34
same here, any resolution

[2015-11-29 23:23] moshensky commented on #34
I had the same issue. After turning debugging of i18n to true, I saw that I used t value converter before resources files got loaded. Setting     getAsync : false solved issue for me.

[2015-11-30 10:35] zewa666 commented on #15
@bsrdjan ok np lets reopen it then. Will try out the 1.0.0 release and update it if no problems exist

[2015-11-30 10:37] zewa666 commented on #34
@lares83 can you confirm that @moshensky's workaround works for you as well?

[2015-11-30 18:46] lares83 commented on #34
@zewa666 @moshensky's workaround works well for me, thanks

[2015-12-01 07:08] zewa666 commented on #34
ok, I've added some info about this in the README file. Thanks @moshensky for the solution

[2015-12-01 07:08] #34 closed

[2015-12-01 20:14] #8 closed

[2015-12-01 20:14] #27 closed

[2015-12-02 23:59] ehudkaldor opened #40 "Error: Error invoking TaskQueue. Check the inner error for details."
hope you can help direct me. i am trying to write an Aurelia app, with i18n. I follow the instructions, but any time I add I18N to the initialization, i get a long, weird exception:
Unhandled promise rejection Error: Error invoking TaskQueue. Check the inner error for details.
------------------------------------------------
inner error: makeRequestFlushFromMutationObserver@http://localhost:8000/j

[2015-12-03 00:17] ehudkaldor commented on #40
i have tried it with and without adding I18N as a parameter for configure()

[2015-12-03 06:41] zewa666 commented on #40
@ehudkaldor may I ask you to try to recreate the issue within this plunker? http://plnkr.co/edit/5vMoxM?p=preview

[2015-12-03 07:21] ehudkaldor commented on #40
I am new to plnkr, so not sure if i am doing anything wrong. I put the relevant files in, but i could not save them. i created a new one, but nothing seems to happen. can you check it here?
http://plnkr.co/edit/wiRcGr?p=preview

[2015-12-03 08:07] zewa666 commented on #40
Just press the fork button, which will create a copy for yourself. Then modify that one and save it.

[2015-12-03 17:07] RichTeaTime opened #41 "'t-params' attribute cannot be renamed"
I don't want to use the 't' attribute for i18n, so have specified ```I18N.setup({ attributes:['i18n'] });``` in my aurelia plugin initialisation.

However, if I want to use the 'attribute param' syntax, I can only currently use 't-params', e.g.
```<div i18n="token" t-params="value" />```
I want to be able to do
```<div i18n="token" i18n-params="value" />```

This seems pretty simple to add, just a

[2015-12-03 17:14] ehudkaldor commented on #40
http://plnkr.co/edit/wiRcGr?p=preview

[2015-12-03 17:26] zewa666 commented on #41
good catch. since you've done already the great work may I ask you to sign our CLA and create a PR with the changes?

[2015-12-03 17:33] zewa666 commented on #40
mmhm not quite that, you really need to leverage the existing structure of the plunker, as it points to hosted config.js entries. Also your translation files are missing.

If that feels like to much crazy work, simply create a github repo with all your sources (of course don't check in npm/jspm folders).

[2015-12-04 09:03] flieks opened #42 "escape characters in input placeholder translation"
hi,

on an input field i want to put translation with special characters. How to do ?

I tried this
[code]
and this
[code]

I'm using aurelia-i18n 0.2.6

thanks
Felix

[2015-12-04 13:55] TheGr8Nik opened #43 "Interpolation with subobjects doesn't work"
If we want to interpolate with some sub-object values the resulting string is wrong.

Example:
translation.json
[code]

foobar.js
[code]

I tried to find out what is the problem and I found it!
At line 75 of the i18n.js file https://github.com/aurelia/i18n/blob/master/src/i18n.js#L75
the subobjects are converted in object values:

[code]

But if we give a look to the i18next source code of the mas

[2015-12-04 20:29] ehudkaldor commented on #40
see here:
https://github.com/ehudkaldor/whatsupdoc

[2015-12-05 09:27] GreenToast opened #44 "Problem with ArrayObserver"
Hey guys,

It seems for me that the ArrayObserver has a bug by observing the splice method. If I run the following code with splice the Error below is thrown. If I use the push instead it works pretty fine.

addType(payload) {
        this.listselected.splice(payload.pos, 0,{_id:payload.id,properties:{name:payload.name}});
        //this.listselected.push({_id:payload.id,properties:{name:payload.n

[2015-12-07 12:38] jdanyow commented on #44
@GreenToast it looks like you're on an old version of Aurelia. Does updating to the latest releases solve this issue?

[2015-12-07 18:23] aogorek opened #45 "application doesn't start with plugin."
After adding plugin to main.js application doesn't start
Config (main.js) looks like this:
[code]

and exception looks like this:
[code]

[2015-12-07 18:58] GreenToast commented on #44
Thanks. Yes the Aurelia project.json over yeoman is a few month old . "jspm update" solved it. Sorry, haven't checked that earlier.

[2015-12-07 18:58] #44 closed

[2015-12-07 20:41] #45 closed

[2015-12-07 20:41] aogorek commented on #45
problem with libraries version after upgrade

[2015-12-07 22:00] jdanyow commented on #44
@GreenToast I don't think `jspm update` will get you fully updated.

To force jspm to fully update your project, locate [this section](https://github.com/aurelia/skeleton-navigation/blob/1.0.0-beta.1.0.2/package.json#L61-L75) in your package json and use it to craft a `jspm install` statement.  Here's what the skeleton-navigation project's command to update would be based on [this package.json](ht

[2015-12-08 06:43] ehudkaldor commented on #40
anything?

[2015-12-09 08:05] zewa666 commented on #42
could you add an example of what is inside firstname and what you'd expect to have  as placeholder value?

[2015-12-09 08:17] zewa666 commented on #40
sry it took me so long, was on vacation. The issue you have is that in the meantime there was a new release and it seems you didn't fully update your jspm dependencies. I think this time `jspm update` inside your projects root should help. See here http://blog.durandal.io/2015/12/03/aurelia-patch-updates-2015-12-03/

[2015-12-14 08:21] Mordred opened #46 "Upgrade to i18next v2.0.0"
I18next is now [v2.0.0](https://github.com/i18next/i18next/releases/tag/2.0.0). It would be nice to able to upgrade.

[2015-12-14 08:35] zewa666 commented on #46
Are there any breaking changes you know of which could cause issues?

[2015-12-14 08:55] #39 closed

[2015-12-14 09:00] Mordred commented on #46
If you switch [setup](https://github.com/aurelia/i18n/blob/master/src/i18n.js#L26) to new version it should be OK. See http://i18next.com/docs/migration/

[2015-12-17 07:12] zewa666 commented on #43
this should be fixed with the latest release. Please reopen if you still experience issues

[2015-12-17 07:12] #43 closed

[2015-12-17 07:12] zewa666 commented on #28
this should be fixed with the latest release. Please reopen if you still experience issues

[2015-12-17 07:12] #28 closed

[2015-12-17 23:20] ehudkaldor commented on #40
sorry for the delay (me too). the update indeed solved it. closing.

[2015-12-17 23:20] #40 closed

[2015-12-18 12:39] valichek opened #47 "Getting 404 error for translation.json even if defaultNs is configured with different file"
Error comes out when trying to switch locale.

Here is plunker: http://plnkr.co/edit/NVHURr

Here is config for plugin.
[code]

[2015-12-21 14:35] ggrimbert opened #48 "Error injecting i18n unit test"
Hi,

I'm experiencing issues while using aurelia-i18n with unit tests.
I'm injecting I18N in my classes and the test fails at :

var i18nName = loader.normalizeSync('aurelia-i18n'); from file i18n.js
When the app pass this line, loader is undefined, as all parameters of the constructor.

![image](https://cloud.githubusercontent.com/assets/15869188/11932795/366d3da6-a7f8-11e5-8061-c8a0e1d13619.png)

[2015-12-21 16:06] zewa666 commented on #47
interesting ... I think though this is a bug by i18next itself, we're not touching anything there as far as I know.

[2015-12-22 07:29] zewa666 commented on #48
Without the actual code I may just guess so could you create a plunker so we can test your issue?

[2015-12-22 08:19] ggrimbert commented on #48
Sorry but plunker is down, so i can just copy/paste my code :

[code]

With this code, and the unit test posted above, I launch "karma start" and get the following result in command line :

[code]

[2015-12-29 10:19] ggrimbert commented on #48
Hi,

Are you working on this, or do you need other informations ?

[2015-12-29 14:25] EisenbergEffect commented on #48
@zewa666 Ping

[2015-12-29 14:51] ggrimbert commented on #48
I come with some news, after investigating and debugging a lot, I found that inside the aurelia-dependency-injector, an invoke method is called based on the injects of the class. However, I18N has no inject, so the invoke method is called without parameters, causing the problem I have.

Example with I18N :

![image](https://cloud.githubusercontent.com/assets/15869188/12036155/9fed40e0-ae43-11e5-8e

[2015-12-29 15:28] EisenbergEffect commented on #48
@zewa666 This should be an easy fix. Can we address this? Also, is there some particular reason that a factory needs to be used?

[2016-01-02 21:07] Mordred commented on #37
Any progress with this? You should clear these timeouts during `unbind` and run `dispose()` of subscription only if really subscribed.

[2016-01-04 17:28] zewa666 commented on #48
@ggrimbert I still do not see a issue. I guess the way you've setup your unit tests may be wrong. Here is how I'd do it.

[code]

and here the unit test

[code]

[2016-01-04 17:29] zewa666 commented on #42
@flieks ping

[2016-01-04 17:30] zewa666 commented on #41
@RichTeaTime ping

[2016-01-04 17:31] zewa666 commented on #37
@EisenbergEffect could you create a new release and @valichek check it afterwards? I guess @Mordred's PR should fix that

[2016-01-04 17:39] EisenbergEffect commented on #37
We will have some new releases this week. Hopefully tomorrow or Wednesday. I'm waiting on a couple of final things to come in so we can aggregate the patches and release details.

[2016-01-04 22:42] valichek opened #52 "TypeError: undefined is not an object (evaluating 'new this.Intl.DateTimeFormat') in Safari and IE"
Getting this error in Safari (osx) and Internet Explorer (windows). Firefox and Chrome are OK.
Looks like `Intl` polyfill not working, it would be nice to have some warning and default handler, but not exception, because it breaks code execution

In https://github.com/andyearnshaw/Intl.js/blob/v0.1.4/Intl.complete.js#L29
Intl is added as `global.Intl`, not `window.Intl` as in aurelia/i18n https://

[2016-01-04 23:54] valichek commented on #52
Quickfix if someone is suffering

`jspm install intl=github:andyearnshaw/Intl.js@0.1.4`

This code goes somewhere to load first, like App.js
[code]

[2016-01-07 14:44] RichTeaTime commented on #41
Sorry, was otherwise engaged. Also a complete noob at git, but will get the PR created asap.

[2016-01-07 15:19] RichTeaTime commented on #41
Pull Request #53

[2016-01-07 15:58] zewa666 commented on #41
@RichTeaTime thanks for the contribution, its merged and will be ready with the next release

[2016-01-07 15:58] #41 closed

[2016-01-07 16:45] doktordirk commented on #48
as it is i just had that error. happens simple when
[code]
isn't called. Imho "TypeError: Cannot read property 'normalizeSync' of undefined" isn't the best error message for users forgetting initializing the plugin (with nothing!).

[2016-01-07 16:51] EisenbergEffect commented on #48
@zewa666 Do you use Loader#normalizeSync internally? I hope not. If so, you and I need to coordinate to fix that **today**.

[2016-01-09 11:08] doktordirk opened #54 "0.4.5 broken"
no htmlParamsResource defined

https://github.com/aurelia/i18n/commit/3fd242f24eb320b2dad9b4ad22048f778635ef66#diff-6b77f8cbb641c01e2d9bc298ee6c76d7R45

[2016-01-09 11:17] zewa666 commented on #54
damn good catch, sry about that. Wonder why it still worked for me :)
Its fixed with the latest commit.

[2016-01-09 11:21] doktordirk commented on #54
jepp. works again with that

[2016-01-09 12:28] valichek opened #55 "Feature request: Would be nice to get some number parser to convert number string to number according locale."
`NumberFormat` from `Intl` doesn't have such API, but https://github.com/jquery/globalize#number-module can be used

[2016-01-09 12:43] zewa666 commented on #55
I think thats related to this here https://github.com/aurelia/i18n/issues/15

[2016-01-09 12:48] valichek commented on #15
Also keep in mind that aurelia-validation has related issues and ideally to solve it in the way that makes it possible to be used in aurelia-validation. https://github.com/aurelia/validation/issues/202

[2016-01-09 14:03] zewa666 commented on #15
@valichek did you have a chance to give the previous branch a try? I can update it to work with the latest aurelia-i18n version if needed

[2016-01-09 14:18] valichek commented on #15
@zewa666 not sure I understand what you mean

[2016-01-09 14:35] valichek commented on #15
Oh, I see, good trick in `unformat` method, will try it

[2016-01-10 17:49] zewa666 commented on #15
@valichek done, please give it a try

[2016-01-10 17:50] zewa666 commented on #48
@doktordirk I think I remember you said that the last fix solved your issue is that right? @ggrimbert what about you, also using the previously posted test approach?

[2016-01-10 17:51] #54 closed

[2016-01-10 17:51] zewa666 commented on #52
@valichek can you try it out with the new version? Maybe this got fixed as well

[2016-01-10 17:52] zewa666 commented on #37
@valichek has this been fixed with the recent release?

[2016-01-10 17:53] doktordirk commented on #48
yes. was fixed. tx

[2016-01-11 06:52] #55 closed

[2016-01-11 07:58] ggrimbert commented on #48
I haven't tried already, but this solution is not the best for me. I have created a service used in many classes, so if I want to use your solution, I have to implement it into all my unit tests

[2016-01-11 09:59] zewa666 commented on #48
well I wouldn't know what to do else tbh. I18N is a service by itself, so in order to mock it or work with it you need to initialize it under test. You could also create a separate mock file which gets loaded automatically by karma to do the initial registration under test environment.

[2016-01-12 01:02] stephenlautier opened #56 "typedefinition error: i18n no default export"
After downloading latest with d.ts file provided I've been having the following error:

[code]

By changing this:
`import i18n from 'i18next';` to `import * as i18n from 'i18next';` within the `aurelia-i18n.d.ts` (line#2) file works fine though.
Not sure how to fix it since its automatically generated by babel.

Its quite critical since it doesn't even build as it is. Any clues?

[2016-01-12 07:31] zewa666 commented on #56
@stephenlautier does this happen on the latest release or the master branch? Please note that the master branch is meant for development only

[2016-01-12 10:11] stephenlautier commented on #56
@zewa666 this happens from the latest release installed from jspm

[2016-01-12 12:17] valichek commented on #52
have checked for Safari and it works

[2016-01-12 12:39] valichek commented on #37
yes, error is gone

[2016-01-12 14:08] zewa666 commented on #56
@EisenbergEffect can you take a look at this one please?

[2016-01-12 14:09] zewa666 commented on #52
cool ok lets close this one, we can reopen it if it fails again

[2016-01-12 14:09] #52 closed

[2016-01-12 14:09] zewa666 commented on #37
Allrighty :+1:

[2016-01-12 14:09] #37 closed

[2016-01-12 14:09] zewa666 commented on #42
closing due to non-activity

[2016-01-12 14:09] #42 closed

[2016-01-12 20:21] EisenbergEffect commented on #56
This looks like a bug in TypeScript. A default export should not be required to use that syntax. As a workaround, you could change the way the import is done.

[2016-01-13 10:21] zewa666 commented on #56
ok sry I totally misunderstood the problem at first. It's fixed now and will be part of the next release

[2016-01-13 11:20] valichek opened #57 "Getting translation error when using t signals"
The message that appears instead of translation is `key 'translation:... (de)' returned an object instead of string.`

There are no plunker with the latest i18n, so I will try to describe it here.

Somewhere in my app I have:

[code]

[code]

inside `custom-component` `prop1` and `prop2` are shown as `${prop1}` and `${prop2}`

I have two items inside `items`
First item is rendered fine, shows corr

[2016-01-14 00:38] stephenlautier commented on #56
That's great thanks!

[2016-01-14 14:48] heruan opened #58 "Translate input placeholders"
Why not to create an attribute binding for translate input placeholders?

Something like:
[code]

Options could be passed with a syntax like:
[code]

[2016-01-14 14:51] zewa666 commented on #58
I'm not sure this is the best approach since it introduces even more ways to translate stuff. How about instead we create an additional attribute like `[placeholder]`? https://github.com/aurelia/i18n#specifying-attributes

[2016-01-14 15:07] heruan commented on #58
I think this way would be cleaner and more extendable, using a more structured _Aurelia syntax_ (like other bindings). The `t="[placeholder]my.key"` surely would work, but how to specify options like default values, context or plurals?

[2016-01-20 10:22] kaarholt opened #59 "setTimeout in TCustomAttribute causes annoying 'blink' in browser"
My view is first rendered with initial texts, then (one tick later) texts are replaced by i18n texts. This causes a visible 'jump' of content in the browser, because elements might need less or more space.

The reason is the usage of setTimeout in https://github.com/aurelia/i18n/blob/master/src/t.js line 50 and 62. QUESTION: Why are these timeouts there?

Using i18n in text-nodes instead of attrib

[2016-01-20 13:54] EisenbergEffect commented on #59
@zewa666 I'd like to understand why those setTimeout calls are there too. We definitely don't want to delay things in the binding process that affect rendering since this will cause performance issues and, as mentioned above, UX problems.

[2016-01-20 15:59] zewa666 commented on #59
tbh I have absolutely no clue why I needed those timeouts, especially why there is a second one nested below. I remember vaguely there was some timing issue with binding, but maybe that's gone by now. Will have to check that again

[2016-01-20 16:03] EisenbergEffect commented on #59
There may have been a bug in subscribing to the value property of a custom attribute early on. That was fixed though.

[2016-01-20 16:16] zewa666 commented on #59
ok, sounds good will try to fix it asap

[2016-01-21 06:44] zewa666 commented on #59
ok seems that it works without using the timeouts. All tests passed and I couldn't find an obvious issue in my test candidates.
This will go online with the next release

[2016-01-21 09:44] steamonimo opened #60 "Router.Title translations for the title of the page"
In the router configuration you can give a title to the route:

`config.map([ { route: ['xy'], name: 'xy', moduleId: 'xy', title: 'MenuXy' } ... ]`

This route can be translated by i18n in the HTML code - for example for a nav bar

`<li repeat.for="row of router.navigation" class="${row.isActive ? 'active' : ''}">`
`<a href.bind="row.href" t="${row.title}">${row.title}</a>`
`</li>`

However the br

[2016-01-26 20:38] tkallevik opened #61 "Intl.js 404 Not Found"
Hi

When running the a bundled version of my application I get the following error in Safari:
[code]

Here is some parts of my config.js (I have exluded the parts I meant to be irrelevant in this case):
[code]

Can you help me solve this?

[2016-01-26 20:53] EisenbergEffect commented on #61
More than likely you need to actually add it to your bundle config so that it ends up in the distributable bundle.

[2016-01-26 20:56] tkallevik commented on #61
Ok, I just thought that it would be added since it is a dependency for the aurelia-i18n plugin, which is added to the bundle. i18next is another example of a dependency for that plugin, and that is added without me explicitly saying so.

[2016-01-26 20:58] EisenbergEffect commented on #61
@zewa666 Can you provide input on this. Is the Intl.js library statically imported or is it dynamically imported? I'm assuming it is loaded based on need. If that is the case, can you identify which browsers need it and which don't? Also can you update the docs to indicate that if supporting browsers that need it, then the bundle config will need to be appended?

[2016-01-27 07:04] zewa666 commented on #61
@EisenbergEffect yes the dependency on the i18n polyfill is a dynamic one. Browsers like Safari or IE < 11 and Node.JS do not provide a default implementation. Will create the README update.

[2016-01-27 19:49] jedd-ahyoung commented on #60
@Aaike This issue may need to be tagged as a feature request.

[2016-01-30 18:19] cdennig opened #63 "Error installing current update 0.4.7"
Hi there,

when trying to update to the current version of aurelia-i18n (0.4.7), jspm reports the following error:

[code]

The package is not updated.

Please have a look at it.

Many thanks,
Chris

[2016-01-30 18:24] EisenbergEffect commented on #63
Yes, as reported in the gitter chat room, there's an issue with the package.json file right now that we are trying to resolve. This relates to jspm. Please do not update until the fix is announced. We are working on it.

[2016-01-30 18:24] #63 closed

[2016-02-01 10:42] heruan commented on #46
:+1: Absolutely, [v2.0.0](https://github.com/i18next/i18next/releases/tag/2.0.0) has full ES6 support, letting import/use plugins with:
[code]
See http://i18next.com/docs/

[2016-02-01 16:43] salminio opened #64 "Intl and i18next not found doing jspm update"
We have one of our jspm dependencies on aurelia-i18n
`      "aurelia-i18n": "npm:aurelia-i18n@^0.4.1",`

today it pulled down version 0.4.8 and the .jspm.json had both Intl and i18next without github prefixes and "registry": "npm".

causing the following errors:
[code]

as a test removing the registry entry (both of them) from .jspm.json fixed my issue. As best I can tell - without using the speci

[2016-02-02 07:38] zewa666 commented on #46
hmmm there are several issues with updating to the new version. Not only there are massive API changes, but also the separation of loading mechanisms and move to plugins makes the way we used to work in this plugin totally different.

In order to fully support each option, either the Aurelia user has to install more things on his own and do additional settings, or I preload all of them, which on t

[2016-02-02 07:47] zewa666 commented on #59
This was released, if you @kaarholt still experience any issues we can reopen this again

[2016-02-02 07:47] #59 closed

[2016-02-02 07:48] zewa666 commented on #48
closing as the root cause was fixed

[2016-02-02 07:48] #48 closed

[2016-02-02 07:49] zewa666 commented on #15
ok so the initial version of this is now released. If need something specific or more features we can create a new issue

[2016-02-02 07:49] #15 closed

[2016-02-02 08:21] Mordred commented on #46
What about dropping dependency on i18next and letting users configure it during bootstrap? E.g.

[code]

All you have to do then is provide some kind of interface which should be implemented for the provider.

[2016-02-02 13:59] heruan commented on #46
I think that the upgrade is necessary, Aurelia is still in beta and it "leverages the cutting edge capabilities of the web" and having an official (and great!) plugin going stable with an "old" dependency doesn't fit very well.

Said that, the plugin must be self-sufficient with a small set of feature, i.e. a simple `aurelia.use.plugin('aurelia-i18n')` must suffice to have the plugin working with

[2016-02-02 15:41] zewa666 commented on #46
@heruan thats exactly what I was thinking of. The approach @Mordred presents is cool but introduces the following facts.

Aurelia-i18n becomes an abstraction layer for i18n. But i18next itself became exactly that in v2. So are we starting to over-abstract things?

And secondly if the plugin is too hard to configure, it will be harder to use. That may lead to people not using it at all because it l

[2016-02-02 15:51] flieks commented on #64
i also have this problem when jspm install aurelia-i18n
Repo npm:i18next/i18next not found!

[2016-02-02 17:19] doktordirk commented on #64
+1

[2016-02-02 20:21] doktordirk commented on #61
@zewa666 stupid question: other than in the tests i don't find a dependency on Intl.js anywhere. in that case moving it to devDependency would remove some problems

[2016-02-03 07:08] zewa666 commented on #61
Intl.js is loaded on demand if needed. Means if the browser or environment does not fully or at all support the Javascript Internationalization API, the plugin will load the polyfill.

So no, moving it to a devDependency thus is no option

[2016-02-03 07:24] #61 closed

[2016-02-03 09:45] Exsilium122 commented on #64
I have done pull request to jspm to add those libraries to dependencies. Please vote: https://github.com/jspm/registry/pull/737

[2016-02-03 11:08] wichert commented on #23
@zewa666 ping?

[2016-02-03 12:38] doktordirk commented on #64
@flieks try in console
[code]

[2016-02-03 12:45] doktordirk commented on #64
@salminio for jspm update try
[code]

[2016-02-03 13:18] zewa666 commented on #23
oh sry totally forgot to reply here.
Yep we've internally talked about it and currently the top priorities are to bring the plugins dependencies up to date. The Routing parts will follow then. So for now, no new progress

[2016-02-04 17:38] salminio commented on #64
Ran that command but still getting the same error

[2016-02-04 17:55] doktordirk commented on #64
@salminio
was on of the tries that worked for me. currently i just install and keep jspm@0.16.15 locally. in case of problems i clear out previous jspm packges. so:

npm install --save jspm@0.16.15
del -rf jspm_packages (or so)
remove the map entry in config.js
jspm install

[2016-02-04 18:46] salminio commented on #64
that worked.

[2016-02-08 13:14] steamonimo opened #65 "Position of t-params.bind in HTML code"
It might be a coincidence but since the last update the replacement of variables with t-params.bind will only work with the correct order of t-params and t. Since HTML usually has no order in its attributes this might be the root for unexpected problems:

This **will work**
[code]
This **will fail**
[code]

[2016-02-08 13:29] Mordred commented on #65
Maybe this commit? https://github.com/aurelia/i18n/commit/019fd7bd6b21f917f8e59b2adda81e5c5784d1e0

[2016-02-08 21:37] k2s opened #66 "Intl and i18next lookup issue with JSPM > 0.16.15"
[code]

this installs correctly: `jspm install aurelia-i18n@0.4.8`

[2016-02-08 22:13] EisenbergEffect commented on #66
@zewa666 Please look into this asap. Apparently the npm package config is incorrect.

[2016-02-09 00:11] k2s commented on #66
my temporary fix was
* `jspm install aurelia-i18n@0.4.8`
* manually edited `map` in `config.js` file:
[code]
* `jspm install`

[2016-02-09 06:58] zewa666 commented on #66
I'm really not sure why this happened as it locally did work. Hmmm. Nevertheless the recent update should have fixed that hopefully. It seems that creating an Alias for NPM packages on JSPM isn't working that smoothly.

@EisenbergEffect could you give it a try and if it works create a new release? Thanks in advance

[2016-02-09 17:50] heruan commented on #66
Running `jspm update` I now get
[code]
The same running `jspm install aurelia-i18n`.

[2016-02-09 20:25] Jenselme commented on #66
Just tested, with `jspm install aurelia-i18n` and it worked fine. I guess that the problem was solved. Thanks.

[2016-02-09 20:44] k2s commented on #66
v0.4.10 worked for me, but I had to:
[code]

@heruan make sure you have "jspm": "0.16.15" and not higher version

[2016-02-10 15:50] heruan commented on #66
I reverted to `jspm` v0.16.15 (why can't we use the latest version?) and `jspm update` went fine, but now my application runs only on Chrome, and I get this on Safari:
[code]
and in Firefox a generic
[code]
What happened to Aurelia/JSPM with the latest updates?

[2016-02-12 01:33] ehudkaldor commented on #64
none of these worked for me. any other workaround/solution?

[2016-02-13 14:57] heruan commented on #64
I reverted to `jspm` v0.16.15 (why can't we use the latest version?) and `jspm update` went fine, but now my application runs only on Chrome, and I get this on Safari:
[code]
and in Firefox a generic
[code]
What happened to Aurelia/JSPM with the latest updates?

[2016-02-13 15:12] EisenbergEffect commented on #64
The jspm team gave us bad info on how to update to be compatible with prvious and next versions. So, they broke our stuff. Then we had to lock down versions to get it to work. We've since updated our libraries and everything should be fixed again so you can update your jspm and then jspm update Aurelia.

[2016-02-13 15:12] #64 closed

[2016-02-15 07:42] heruan commented on #64
Sure I'm missing something… but
[code]

[2016-02-16 00:15] ehudkaldor commented on #64
Yup, same here.

On Sun, Feb 14, 2016, 23:42 Giovanni Lovato <notifications@github.com>
wrote:

[2016-02-16 20:36] RWOverdijk commented on #66
:+1: This is still a problem here

[2016-02-16 20:39] RWOverdijk commented on #64
:+1:

[2016-02-17 07:42] k2s opened #68 "development/testing setup problem"
I wanted to run `karma start`, but I can't.

What I did:
[code]

What problems I have:
* `npm install` doesn't work because of `"i18next": "i18next/i18next@^1.9.0"` in `package.json`, it works after I replace it with `"i18next": "^1.9.0"`
* `karma start` errors all tests because config.js points to wrong versions: `WARN [web-server]: 404: /base/jspm_packages/npm/aurelia-dependency-injection@1.0.0-

[2016-02-17 18:15] vbnewb commented on #60
I just used the translate function in the router config.map

         { route: ['', 'home'],name: 'home',   moduleId: './home',   nav: true, title: this.i18n.tr('nav:Home'), icon:'fa-dashboard',auth:true },

[2016-02-17 19:34] vbnewb opened #69 "IOS Plugin Loading"
Team,
My site no longer loads if I attempt to use the aurelia-i18n plugin from an iphone.

The final console entry is :
DEBUG [aurelia] , Loading plugin aurelia-i18n.

It should soon be followed by:
DEBUG [aurelia],Configured plugin aurelia-i18n.

But the configured line never gets logged and it appears that no other actions take place after this and aurelia just stops loading.

I tried a few thin

[2016-02-18 14:36] qlayer commented on #66
This is still an issue.

[2016-02-18 14:36] qlayer commented on #66
This is still an issue. Can you please look into this.

[2016-02-18 14:38] EisenbergEffect commented on #66
You should not be using jspm beta (0.17.x).
@zewa666 Can you look into this?

[2016-02-18 14:47] qlayer commented on #66
Does this mean that you won't be supporting 0.17 when it is released ?

[2016-02-18 15:09] henning-krause commented on #64
Same here. Uninstalled aurelia-i18n, ran jspm update.Then tried to install it again, and it failed:

warn Repo npm:i18next/i18next not found!
err  Repo npm:i18next/i18next not found!

[2016-02-18 15:12] doktordirk commented on #64
try
## Rebuild your project
Rebuilding your project as follows can help. Currently, a local installation of jspm@0.16.15 (`npm install jspm@0.16.15 --save`) is advised.
* `npm prune`
* `npm install`
* delete the jspm_packages folder `rm -rf ./jspm_packages`
* delete the map entry in `config.json`
* `jspm install`

[2016-02-18 15:30] RWOverdijk commented on #64
Adding `npm:` works for me (as a workaround).

`jspm i npm:aurelia-i18n`

[2016-02-18 15:34] henning-krause commented on #64
@doktordirk , thanks, that did the trick.

[2016-02-18 18:01] zewa666 commented on #66
does not happen with suggested version 0.16.15 guess that's the weird issue with the new jspm version.

Guys can you try to run `npm install intl@1.0.1` and see if that fixes that issue?

[2016-02-18 21:25] k2s commented on #68
was able to solve `Error: EMFILE: too many open files` problem by editing /etc/security/limits.conf according to this article https://easyengine.io/tutorials/linux/increase-open-files-limit/

still the tests are not ececuted

[2016-02-19 07:20] qlayer commented on #66
I get
[code]
Even after I tried npm i i18next
I did try to install i18next with jspm first and then to retain the version, but I get the same error.

[2016-02-19 07:20] zewa666 commented on #68
which version of jspm are you using @k2s?

[2016-02-19 07:22] zewa666 commented on #66
yeah npm i18next is whole another story, as the necessary version we're using isn't available via the npm repository. So once more to get it right. With the old version of JSPM (0.16.15), and a fresh install, does the error still occur or is it only with the latest version of JSPM. If so I need to take a fresh look at it.

[2016-02-19 07:42] Souldrinker commented on #66
Yes that npm:i18next/i18next not found error appears as soon as we try anything newer than jspm 0.16.15. Fixing the local jspm version to 0.16.15 fixes it, so it probably needs another look.

[2016-02-19 10:10] k2s commented on #68
I don't think it is problem with jspm. The `"i18next": "i18next/i18next@^1.9.0"` is wrong in package.json section `dependencies` which is not processed by jspm, but npm.

But I tried jspm@0.16.25, jspm@0.16.27 and jspm@0.16.29.

[2016-02-19 10:12] doktordirk commented on #68
try:
npm install jspm@0.16.15 --save
npm prune
npm install
delete the jspm_packages folder rm -rf ./jspm_packages !!!
delete the map entry in config.json !!!
jspm install

[2016-02-19 10:18] k2s commented on #68
[code]

[2016-02-19 10:23] doktordirk commented on #68
ah right. my suggestion only fixes jspm issues. yours is with npm. hmm

[2016-02-19 10:26] doktordirk commented on #68
@k2s but you had npm issues fixed above.so i guess if you npm install as you did and then jspm@0.16.15 install with no jspm folder and the map entry cleared it might work

[2016-02-19 12:59] Souldrinker commented on #66
Apart from the issue mentioned regarding i18next above we ran our app on an iPhone6 yesterday and nothing happened. So my collegue brought his private Mac to work today and now after installing xcode and stuff we could finally debug why the app wasn't working and it turned out it was due to Intl.js not being found in our app folder (where it shouldn't be).

And as far as I can see there is a misma

[2016-02-22 22:20] ehudkaldor commented on #66
same here. still the same
`err  Repo npm:i18next/i18next not found!`

[2016-02-22 22:22] EisenbergEffect commented on #66
What version of i18n is it trying to install?

[2016-02-22 22:23] EisenbergEffect commented on #66
0.4.10 is the latest and appears to have a correct package configuration. What version of jspm are you using?

[2016-02-22 22:30] ehudkaldor commented on #66
[code]

[2016-02-22 22:34] EisenbergEffect commented on #66
It looks like the request is invalid somehow. I've confirmed that that version is present as a github release. @guybedford Any ideas why this might be happening?

[2016-02-22 22:35] ehudkaldor commented on #66
and latest:
[code]

[2016-02-23 12:10] suneelv opened #71 "Error looking up github:i18next/i18next@^1.9.0."
When trying to install this plugin using "jspm install aurelia-18n, I am getting the following error

 Error looking up github:i18next/i18next@^1.9.0 and the installation is failing.

[2016-02-23 13:08] suneelv commented on #71
Using jspm install aurelia-i18n@^0.4.10 is working

[2016-02-23 16:23] ggrimbert commented on #71
I am experiencing a problem too, I got
[code]
while trying
[code]

[2016-02-26 06:44] ehudkaldor commented on #66
any update?

[2016-02-26 06:58] EisenbergEffect commented on #66
Should be fixed. There was a release this morning.

[2016-02-26 06:58] #66 closed

[2016-02-28 19:13] droda59 commented on #71
Same, doesn't work for me with any version

[2016-02-29 14:02] droda59 commented on #64
@ehudkaldor, were you able to fix it? I still can't

[2016-03-01 08:15] ehudkaldor commented on #64
still not working for me....
NODEJS 5.7.0, all the others are default (npm install and jspm install with no version param).

[2016-03-01 08:16] ehudkaldor commented on #66
still not working...
nodejs 5.7, not stating version when installing packages.

[2016-03-01 08:20] ehudkaldor commented on #66
i am using Docker to build. first, the docker image of nodejs (compiling from source):
[code]

then, using it to create Aurelia:
[code]

and still getting the "i18next not found" error on trying to install aurelia-i18n

[2016-03-01 08:24] henning-krause commented on #64
@ehudkaldor , have you tried the steps outlined by @doktordirk? You have to follow them exactly. That helped me. Especially important is the

npm install jspm@0.16.15  --save (or --save-dev, depending on your setup).

[2016-03-01 08:27] J4ck4l0pe opened #72 "Failing to bundle [workaround]"
I couldn't bundle my app including aurelia-i18n. This was the error:

[code]

I got it working by changing

[code]

to

[code]

I added

```"aurelia-dependency-injection": "npm:aurelia-dependency-injection@1.0.0-beta.1.1.4",```

and it worked for me.

[2016-03-01 09:16] RomkeVdMeulen opened #73 "README link "i18next features" is dead"
The [i18next features](http://i18next.com/pages/doc_features.html) link in the [Translating with the TValueConverter](https://github.com/aurelia/i18n#translating-with-the-tvalueconverter) section leads to a 404 page.

[2016-03-01 09:58] RomkeVdMeulen commented on #71
Same here. Installation over npm is working, jspm gives `Repo npm:i18next/i18next not found!`

[2016-03-03 07:12] zewa666 commented on #73
thanks for the hint

[2016-03-03 07:12] #73 closed

[2016-03-03 07:46] zewa666 commented on #71
ok so this problem can only happen with a newer version of jspm.
the thing is that the old < v.2 releases of i18next are a bit weird and need to be installed via github. It seems that JSPM > 0.16.15 allthough has issues with differentiating between github/npm sources.

So can you all please try the following inside your project if your global jspm version <> 0.16.15 (check that out by running `jsp

[2016-03-03 07:48] zewa666 commented on #68
guess this should be fixed by now, I'll reopen if issues are still existing. As mentioned it works with jspm@0.16.15

[2016-03-03 07:48] #68 closed

[2016-03-03 12:14] droda59 commented on #71
Works for me doing that

[2016-03-03 12:46] mbenedyk commented on #52
I get the same exception when i execute unit test for 'df' by Chutzpah, byt when i run them from browser they are ok

I`m using aurelia-i18n@0.4.10

[2016-03-03 12:49] mbenedyk opened #76 "TypeError: undefined is not an object (evaluating 'new this.Intl.DateTimeFormat')"
I get exception
"TypeError: undefined is not an object (evaluating 'new this.Intl.DateTimeFormat')"
 when i execute unit test for 'df' by Chutzpah, but when i run them from browser they are ok

I`m using aurelia-i18n@0.4.10

probably refers to: https://github.com/aurelia/i18n/issues/52

[2016-03-03 13:12] stefan505 opened #77 "Set innerHTML within TValueConverter & TBindingBehavior"
Is it possible to set the innerHTML similar to `[html]` used on attributes within TValueConverter and TBindingBehavior?

[code]

The above doesn't work.

[2016-03-03 15:44] zewa666 commented on #52
@mbenedyk should be fixed with the next release

[2016-03-03 15:45] zewa666 commented on #76
oh ok didn't see earlier that you already created a new issue :)

ok lets see if the next release by @EisenbergEffect will fix this otherwise we need to take a closer look.

[2016-03-03 15:47] zewa666 commented on #77
No not really ... this mode is more for simple renamings text but not full fledged solutions possible with the attributes

[2016-03-03 18:29] stefan505 commented on #77
Bummer, thanks.

[2016-03-03 23:00] ehudkaldor commented on #64
it did not work. (long) printout below:

[code]

[2016-03-03 23:04] doktordirk commented on #64
did you delete the map entry in config.json  ? (in case you didn't and retry delete the jspm folder again)

[2016-03-04 02:05] #77 closed

[2016-03-06 08:52] geea789 opened #78 "issue with typescript compliling"
anyone any idea how to fix this warning? (i get this while serving gulp - compiling typescript)

/jspm_packages/github/i18next/i18next@1.11.2/typescript/lib/jquery.d.ts(3190,13): Subsequent variable declarations must have the same type.  Variable '$' must be of type 'cssSelectorHelper', but here has type 'JQueryStatic'."

[2016-03-07 06:26] khenderick commented on #64
This is so annoying. Every few days something is somehow broken :(. And unfortunately, the above suggested solution didn't work.

[2016-03-07 14:19] EisenbergEffect commented on #64
@khenderick We sincerely apologize. JSPM/SystemJS has turned out to be pretty unstable. @zewa666 Can you assist?

[2016-03-07 15:09] zewa666 commented on #78
phew good question, sounds like a bug in the jquery typing. Wonder whether this is just specific to that version or it got fixed in the meantime.

Nevertheless it's not related to Aurelia directly

[2016-03-07 15:13] zewa666 commented on #64
For JSPM 0.16.15 everything should be fixed, for newer versions we still experience issues related to Github installs, which result from using the old version of i18next. Will try to update it this week than all issues should be passé.

[2016-03-07 16:10] khenderick commented on #64
@EisenbergEffect, I understand as we're still in a beta now, but it's something we definitely need to have ironed out once we move towards further releases. Where the old-style frameworks are a matter of reading the changelog and throwing a few files over, the current jspm/npm style installing is so much more complex that we must be able to completely rely on it working correctly.

It it at least

[2016-03-07 16:55] Gheoan commented on #64
One solution would be to lock down jspm/systemjs/systemjs builder version across repos and documentation.

[2016-03-07 17:53] EisenbergEffect commented on #64
Believe me, we share your concerns. We have locked down the versions in the skeletons, I believe. However, that was done more recently...

[2016-03-09 19:46] khenderick commented on #64
What's actually the status of this ticket? It's closed but it seems some people (besides me) are not able to get everything up and running again. I decided to set up a new Aurelia env from scratch and after extracting the ```aurelia-skeleton-navigation``` (```1.1.5```), running ```npm install``` and ```jspm install -y```, it still is impossible to ```jspm install aurelia-i18n```.

[code]

[2016-03-09 19:51] EisenbergEffect commented on #64
@zewa666 Can you explain what is going on with this?

[2016-03-09 20:22] doktordirk commented on #64
@khenderick that happens (for some to me unknown reason) if the jspm folder isn't cleared. following should work

(if you used a local install of eg jspm 0.16.30, just delete the whole npm folder do be double save first)
npm install jspm@0.16.15
delete jspm folder
delete map entry in config.js
then jspm install

[2016-03-10 07:06] zewa666 commented on #64
@doktordirk thanks for clarifying it again. Yep as always if you experience some weird issues with JSPM it helps to delete the complete jspm folder and the map entries. Then install again. :+1:

[2016-03-10 20:57] doktordirk commented on #64
@khenderick
the order i thing would be (if applicable)
npm install --save-dev jspm@0,16,15
aurelia-update
delete jspm folder
delete map entry
jspm install (since aurelia-update already fixed your package.json, jspm update not needed i this case)

i know it can be annoying to jspm update these days, but rest assured, it still works the ways desciibed

[2016-03-10 21:12] doktordirk commented on #64
@khenderick that css.js comes from dialog? never seen the solution but i still guess either
* jspm install css --dev
or
* jspm uninstall css --dev

[2016-03-10 21:19] khenderick commented on #64
The jspm install css --dev did the trick apparently. Nice. Thanks again for the help @doktordirk

[2016-03-14 09:49] zewa666 commented on #46
@heruan and @Mordred I've created a new branch targeting i18next v2. We now should have no installing issues with neither JSPM nor NPM. The current version does not support custom file loading but only providing translations via init.options parameter.

So I'd like to ask you guys, or anybody else to give this version a test run and see whether this fits the new needs. In the meantime I'll see how

[2016-03-14 09:51] zewa666 commented on #71
I've started work on a new branch to include i18next v2.
https://github.com/aurelia/i18n/tree/update-i18next

I'd like to ask everybody to give this a try and see whether that throws any install errors from either NPM or JSPM. Also try installing the --DEV envs and run the karma tests

[2016-03-14 09:59] doktordirk commented on #71
@zewa666 what's the target jspm? 16.15, 16.30, 17beta or all of the above?

[2016-03-14 10:28] zewa666 commented on #71
tbh I've just tried it with v 0.16.15, but since npm destinations are now used for all parts it should also work with .17 and .30 as those where the missing points as far as I can remember.

In the meantime I've also updated the readme of the branch to show how to install a backend plugin (XHR for the demo) inside the skelly and use it.

[2016-03-14 10:33] doktordirk commented on #71
*had no problem building/testing the repo with .31
*had no problem installing with .15 or .31

[2016-03-14 10:39] zewa666 commented on #71
fantabulous :+1:

if you're interested in giving it a try via the skelly just run `jspm link` inside the aurelia-i18n folder and `jspm install --link npm:aurelia-i18next` inside the skelly folder. Respecting the new settings mentioned in the README should get you going quickly

[2016-03-14 10:46] doktordirk commented on #71
or use
`jspm install aurelia-i18n=github:aurelia/i18n@update-i18next`

[2016-03-14 11:58] valichek opened #79 "Error when using if.bind and t:{'returnObjectTrees': true}"
[code]

When I toggle `isShowItems` I get `Uncaught TypeError: Cannot read property 'indexOf' of undefined in Chrome` and `TypeError: key is undefined` in Firefox

Here is a plunk
http://plnkr.co/edit/qqGzoP

[2016-03-14 14:53] zewa666 commented on #79
Not sure if that error is really up to us or just a bug in i18next. I tracked it down to here https://github.com/i18next/i18next/blob/089857642ceaac5f18ecb270bb00b4d7e9ddfc79/i18next.js#L698

Would be great if you @valichek could try that out in vanilla i18next.

[2016-03-14 15:27] valichek commented on #79
@zewa666 I tried to debug it a little,
[code]

Note that before the error I get:
[code]

Looks like it passes not a key string but object from translation to `tr`

[2016-03-14 15:32] valichek commented on #79
Here is example code I debug:
[code]

[2016-03-14 15:35] Mordred commented on #46
I have tested your branch and everything seems to be OK

[2016-03-14 16:31] zewa666 commented on #46
oh cool thanks for the hint, funny enough though it seems to work on the root declaration as well. nevertheless it shall be moved :)

[2016-03-14 16:38] zewa666 commented on #79
I honestly don't know the `returnObjectTrees` feature. What is it supposed to do? Does it mean we need to bypass translation if returnObjectTrees is present in the options?

[2016-03-14 17:39] valichek commented on #79
@zewa666 actually, when you have translation.json
[code]
and you ask for `tr('datepicker', {'returnObjectTrees': true})` you get object under `datepicker`.
In my example the object I get from translation is the one logged `{ dateFormat: "dd.mm.yy", closeText: "Schließen" ... }`, but somehow, `I18N.prototype.tr` gets the object from translation as a key, but not the `datepicker` string.
Hope it is

[2016-03-14 17:42] valichek commented on #79
But note, when there is only one call for `datepicker ` object from translation, there are no errors, but error occurs at the second call, and the key turns out to be not `datepicker`, but its 'translation'

[2016-03-14 18:44] zewa666 commented on #79
Oki doki, have to have a closer look at it but I think I do understand the issue now. Thanks for clarifying

[2016-03-15 13:48] art0rz opened #80 "setLocale will attempt to also load translation.json when custom namespaces have been configured"
I have configured aurelia-i18n to use a different namespace than `translation` and have set it to default. When I try to change the active locale by calling `setLocale`, it will load my namespace file and `translation.json`, while I believe it should only load the custom namespace file. I am using version `0.4.13`.

[Reproduce on Plunker](http://plnkr.co/edit/WkvDtx?p=preview).

[2016-03-15 14:03] zewa666 commented on #80
hm thats quite interesting. I don't think it's caused by the plugin. Can you verify the same behavior with the v2 of aurelia-i18n?

[2016-03-16 09:13] art0rz commented on #80
@zewa666 where can I find v2/how do I install it?

[2016-03-16 15:38] zewa666 commented on #80
@art0rz look at the end of this issue https://github.com/aurelia/i18n/issues/71

[2016-03-16 16:06] art0rz commented on #80
@zewa666 that doesn't seem to work at all, it just prints the keys, unless I've misconfigured it?

[code]

[2016-03-16 16:15] AdamWillden commented on #46
@zewa666 I'm completely new to using i18n and this plugin. I set up using the aforementioned branch yesterday with no issues so far :+1:

At the moment however I'm only doing simple translations with no date or number formatting and no gender or pluralisation handling. I am using namespaces already.

When I progress to using number and date formatting I'll try to give more feedback if still necess

[2016-03-17 08:44] zewa666 commented on #80
@art0rz yep, thats the old install, take a look at the updated plugin registration over here: https://github.com/aurelia/i18n/tree/update-i18next#how-to-install-this-plugin

[2016-03-17 10:23] art0rz commented on #80
Seems to work with v2. I do however need to specify the namespace when using it, even though it's default.

[code]

But switching languages works correctly, it loads `global` for every language I switch to.

[code]

[2016-03-17 10:44] zewa666 commented on #80
ok. Well the redefinition was also necessary in previous versions and seems to be by design from i18next. So that said, it's good to know that it works with the new version and thus will be fixed when we update.

Thanks for the investigation @art0rz

[2016-03-17 10:45] zewa666 commented on #72
should be fixed

[2016-03-17 10:45] #72 closed

[2016-03-17 17:58] RWOverdijk commented on #58
Is it currently at all possible to translate placeholders?

[2016-03-17 19:15] zewa666 commented on #58
@RWOverdijk of course, just use either the ValueConverter or the BindingBehavior

[code]

[2016-03-21 11:03] AdamWillden commented on #46
@zewa666 You need to update the documentation to reflect the changes to interpolation (parameters) from `__blah__` to `{{blah}}`. I've noticed that you put a note in the migration tips but didn't update the main docs.

So, as you've guessed I've just done string interpolation which also contained nested translations. That all worked okay.  Have done some dateTime formatting which worked perfectly

[2016-03-21 13:14] zewa666 commented on #46
ok thats a good point, thanks for reviewing :+1:

[2016-03-22 14:47] Jenselme commented on #46
Just completed my tests of the new version with webpack. Here's what I found in addition to the remarks of @AdamWillden:

- I didn't manage to get the current release working with webpack. With i18next 2.3.X it works without problems. Just check https://github.com/i18next/i18next-xhr-backend#usage-with-webpack to know how to load the translations files
- I encountered a problem while changing tran

[2016-03-22 14:59] zewa666 commented on #46
@Jenselme thanks for the tests. It would be great if you could test the later issue in an i18next only environment to see whether it's a i18next related issue or if its on our side.

[2016-03-22 15:53] sylvain-hamel opened #81 "npm install aurelia-i18n fails"
`npm install aurelia-i18n` causes this error:

[code]

[2016-03-23 06:33] alexsurg opened #82 "using namespaces"
Hi,

i setup the plugin like this:

[code]

I have placed both translation.json and common.json under "locale\en" and when the site is loading i see that both files where loaded.

Unfortunately none of the translation from common.json are working and i get not found exceptions, it seems that i18 doesnt work with that file at all.
If i change defaultNs from 'translation' to 'common' the translation

[2016-03-23 08:07] zewa666 commented on #82
I wonder whether this problem exists in V2 as well. Could you check that out? https://github.com/aurelia/i18n/issues/46

[2016-03-23 11:24] alexsurg commented on #82
O.K, i understood what the problem was.
In order to use translation from a namespace that isn't default the code should be something like that:

`<div t="common:some string"></div>`

In order to use translation from the default namespace it can be done like this:

`<div t="some string"></div>`

[2016-03-23 11:24] #82 closed

[2016-03-23 12:57] hadrienl commented on #81
The same with jspm :

[code]

[2016-03-23 15:31] sylvain-hamel commented on #81
FYI: installing version `aurelia-i18n@0.4.12` works

[2016-03-23 15:52] hadrienl commented on #81
Nope :

[code]

[2016-03-23 15:52] doktordirk commented on #81
just do the usual i guess

delete jspm folder
delete map entry in config
use jspm@0.16.15

then jspm install

[2016-03-23 15:54] hadrienl commented on #81
Nope :

[code]

[2016-03-23 15:56] doktordirk commented on #81
öhm missed?
use jspm@0.16.15
delete map entry in config

[2016-03-23 16:02] hadrienl commented on #81
And… Nope:

[code]

[2016-03-23 16:04] hadrienl commented on #81
Oh ! It magically worked at the second try !

[2016-03-23 16:28] sylvain-hamel commented on #81
fyi : I did not test with jspm, only with npm

[2016-03-26 08:47] AdamWillden commented on #46
@zewa666 @EisenbergEffect is this due to be closed now following the [0.5.0 release announcement](http://blog.durandal.io/2016/03/25/i18n-update-release/)? Or have I misunderstood somehow. Also am I correct that the interpolation is still `__ __` rather than `{{ }}`

[2016-03-28 14:30] zewa666 commented on #46
nope, the standard interpolation did change to {{blah}}. Take a look at the update notes https://github.com/aurelia/i18n#migration-to-new-i18next-version

[2016-03-28 14:30] #46 closed

[2016-03-28 16:27] AdamWillden commented on #46
Oh okay It was something I saw in the commit that led me to believe otherwise. I must have misunderstood.  Thanks

[2016-03-29 10:04] Jenselme opened #84 "Cannot find modules t, nf, df and rt with webpack"
While trying to see if the problem I had [here](https://github.com/aurelia/i18n/issues/46#issuecomment-199848329) comes from i18next or aurelia-i18n, I tried to do a sample app with the latest webpack skeleton. When I added the i18n plugin, I have this error:

[code]

Any ideas where that comes from? You can find the full application (zip file) [here](http://jenselme.perso.centrale-marseille.fr/vi

[2016-03-29 10:49] Souldrinker opened #85 "Namespace issues"
I've just upgraded to aurelia-i18n 0.5.0 based on i18next v2 and have ran into some issues that I'm not sure if it's bugs, features or just me doing something wrong.

I changed my plugin setup to look like this (the commented out rows are for test and in earlier versions I only used the default namespace):
[code]

The first issue I ran into was that if I set ```lng``` or ```fallbackLng``` to ```en

[2016-03-29 11:03] EisenbergEffect commented on #85
@zewa666 Can you take a look at this?

[2016-03-29 11:05] EisenbergEffect commented on #84
It seems like this could be a submodules issue. See this comment: https://github.com/aurelia/validation/issues/226#issuecomment-202743716 Let me know if that helps.

[2016-03-29 17:29] Jenselme commented on #84
It does. The plugin now works as expected. Maybe it should be mentioned in the documentation?

[2016-03-29 17:31] EisenbergEffect commented on #84
@Jenselme I agree. Would you be interested in contributing to our docs? You would just need to sign our CLA and make a pull request :) We'd love to have you as a contributor.

[2016-03-29 17:31] #84 closed

[2016-03-29 17:45] Jenselme commented on #46
@zewa666 I cannot reproduce in a very basic i18next app but I can in an Aurelia one.

- [Here is my sample Aurelia app](http://jenselme.perso.centrale-marseille.fr/visible/skeleton-es2016-webpack-i18n.zip) (relevant code in `src/main.js` and `src/welcome.js`).
- [here is my test with i18next](http://jenselme.perso.centrale-marseille.fr/visible/i18next.zip).

What do you think?

[2016-03-30 02:39] tuath commented on #85
I think I have this same problem.

When running unbundled it works and I clearly see the backend provider initialized in the console. When running bundled (jspm bundle), then I don't see the backend get initialized and get a bunch of missing keys. When I inspect the i18n config, it looks fine.

Very confused.

[2016-03-30 06:29] Ullfis commented on #56
Thank you for this excellent library :smile:

@zewa666 I believe the problem is back. I need to change the d.ts file (line 2)

[code]

to get the error away.

aurelia-i18n@0.5.0

[2016-03-30 06:54] zewa666 commented on #56
Whats the exact error you get @Ullfis?

[2016-03-30 07:01] zewa666 commented on #85
@Souldrinker can you prepare an example for me to take a look at?

[2016-03-30 07:01] Ullfis commented on #56
[code]

[2016-03-30 07:19] zewa666 commented on #47
does this bug still exist in the most recent version? Also note the changed namespace options http://i18next.com/docs/options/

[2016-03-30 07:20] zewa666 commented on #56
@EisenbergEffect the fix is pretty simple, but do we know why its not generated properly in the first row?

[2016-03-30 11:32] Souldrinker commented on #85
@zewa666  Sorry for the delay, been busy with other stuff... But I pushed up a small sample based on the latest skeleton with some comments here: https://github.com/Souldrinker/i18next-test.

I'm not sure if it's intentional and it's no big issue if I now need to use custom namespaces, but it would be good to hear your thoughts of it.

I would have thought that if you passed in custom stuff you sh

[2016-03-30 13:38] fmal commented on #85
+1 I am having the exact same issue.

[2016-03-30 13:38] EisenbergEffect commented on #56
I'm not following exactly since this is discussing a previous problem. What exactly is going wrong in the latest release? What is emitted and what should it be instead?

[2016-03-30 15:35] bellstrand opened #86 "Translations trying to solve keys before json is loaded"
After updating to v0.5.0, the plugin tries to solve translation keys before the translation files have been loaded when bundling the application.

i18next::translator: missingKey en translation xxx xxx

before we solved the problem with "getAsync: false;" (which now has been removed).
how can we let the translations wait untill our files are loaded with i18next v2?

The problem only occurs when bu

[2016-03-30 17:59] Jenselme commented on #84
I certainly am. I'll try to do this by the end of the week.

[2016-03-30 18:42] periclitor commented on #86
I also noticed the same problem yesterday, only when bundling and exporting. What should be bundled and what should be added in the export as static files. What about i18next-xhr-backend?

[2016-03-30 19:14] stephenlautier commented on #56
@EisenbergEffect  The issue it was using the default export and for some reason it was giving errors as stated above.

[code]
instead it has to be as:

[code]

[2016-03-30 20:23] stephenlautier commented on #56
Seems to be re-changed within this commit https://github.com/aurelia/i18n/commit/b5ca8caab5d7bdd3639bf75adb1bc748be3b8683#diff-1e8d6c22d70a5ac18d47adf06afa1efeL2

Also within the `d.ts` it actually not even needed to be there, since its not being used in any typings

[2016-03-31 06:50] zewa666 commented on #85
Thanks for the example @souldrinker. Quite busy this week as well over here, but will get to it by next week.

[2016-03-31 10:25] bellstrand commented on #86
Untill we find a proper solution i made it work with a temporary fix like this:

[code]

It adds a 5-10ms delay before aurelia.setRoot() gets called for me (running on a remote host on the local network), so i can live with it for now, but would be nice if we had a proper way to address this.

[2016-03-31 12:36] tuath commented on #86
This looks like the problem I am running into...

[2016-03-31 13:37] johnraz commented on #85
I do experience the same issue without bundling.

This is quite tricky to reproduce because i18next will load some resources or not depending on your settings.

You should be able to reproduce with the following (using XHR backend):
[code]

Next try to activate, let's say french and you will get:

[code]

And I don't see any activity in the network panel, no 404 nothing, so it's not an issue with

[2016-03-31 15:13] crabulik opened #88 "Configuration of Backend with IIS Application"
Hi all!
I'm trying to use Aurelia with ASP.Net core with hosting on IIS.
My issue with localization is:

I need to host web application on on Sub application of my IIS Web Site.
When I execute the application with using 'localhost' instead of server IP it looks fine. But when i execute the application with using Server IP, I18next XHR tries to load languages from wrong URL.
It tries to get localiz

[2016-03-31 17:23] periclitor commented on #86
The workaround mentioned in #85 Namespace issues, solved my issue.

[2016-03-31 23:22] mttmccb opened #89 "Using typescript-webpack"
I'm struggling to get this working with the latest typescript-webpack skeleton, the main one being

    (4,17): error TS2307: Cannot find module 'i18next-xhr-backend'.

Is there anything special I need to do with the webpack.config.js file? The only change I've made was to include a submodule

    plugins: [
      new AureliaWebpackPlugin({
        includeSubModules: [
                { moduleId:

[2016-04-01 06:22] zewa666 commented on #88
Sounds like something related specifically to the xhr backend config.
I think it's the best to ask i18next specific question directly in their respective repos in order to get the best help.

[2016-04-01 06:23] zewa666 commented on #71
Closing this one due to i18next version upgrade

[2016-04-01 06:23] #71 closed

[2016-04-01 06:24] zewa666 commented on #81
Closing due to upgrade to recent i18next version 2.x

[2016-04-01 06:24] #81 closed

[2016-04-01 06:58] crabulik commented on #88
@zewa666 thnx!

Is there any way to pass the cofiguration, which was loaded by "aurelia-configuration" to confuguration function "aurelia-i18n"? It may help to set correct path in the configuration file.

[2016-04-01 08:56] mttmccb commented on #89
This might be just due to a lack of .d.ts I'll post what I did later, it didn't solve all my problems but at least it compiles

[2016-04-03 05:03] jadrake75 commented on #86
Makes sense it is related to bundling.  I was not seeing this on my dev laptop, but started seeing it when I deployed to my server.  Well at least it shows me text I was too lazy to externalize!

Note: refreshing the page seems to resolve it (likely caching of the files by the browser).  I will implement the workarounds.

![i18n-messedup](https://cloud.githubusercontent.com/assets/3221886/14230830

[2016-04-03 19:13] Jenselme commented on #89
I think you need to add `i18next-xhr-backend` as a dependency to you package.json and configure i18next to use the XHR backend as described [in the doc](https://github.com/aurelia/i18n#how-to-install-this-plugin). See point 7.

[2016-04-03 19:18] Jenselme commented on #86
I think I have the same issue with 0.5.0. I found a workaround: downgrade i18next 2.4.x to 2.3.5. From what I understand, 2.4.0 introduced a 10ms timeout before actually loading the resources that prevented aurelia-i18n to work properly.

I fixed my issue with PR #92

[2016-04-03 19:18] Jenselme commented on #85
As mentioned in #86: I think I have the same issue with 0.5.0. I found a workaround: downgrade i18next 2.4.x to 2.3.5. From what I understand, 2.4.0 introduced a 10ms timeout before actually loading the resources that prevented aurelia-i18n to work properly.

I fixed my issue with PR #92

[2016-04-03 19:20] Jenselme commented on #46
@zewa666 For your information, I think it comes from this plugin. The solution I implemented in #92 solved it (among other things).

[2016-04-03 19:20] mttmccb commented on #89
Thanks @Jenselme I did both of those but that didn't resolve it. I ended up creating my own typing for `i18next-xhr-backend` so it at least compiles.

[2016-04-04 07:41] #80 closed

[2016-04-04 17:15] shabalin commented on #85
+1

We have same issue, but only in bundled version of the app. I am not sure how does the bundling affect this behavior, but
 Connector.prototype.queueLoad returns empty array since
`store.hasResourceBundle(lng, ns)` condition is positive  because this "resource bundle" was already populated by relativeTime.js

[2016-04-04 18:49] mttmccb commented on #60
Just looking at this myself, it is possible to be able to bind it? I'm attempting to pass the i18n reference as part of the config settings with no joy.

[2016-04-04 18:56] mttmccb commented on #60
Nevermind, t.bind does work :)

[2016-04-04 19:53] johnraz commented on #60
@mttmccb do you mind giving an example? Thx!

[2016-04-06 07:30] Leonidnei opened #93 "how to wait for translation load?"
Hi.

We use i18n.tr(code) in VM constructor of the first page.
The result sometimes comes correct but sometimes it returns the code without translation.
I suspect that i18next backend reads the file asynchronously and sometimes the constructor is invoked before the translation file is loaded.

If so, any idea how to wait for this load to occur before calling tr?

[2016-04-06 08:40] Leonidnei commented on #93
I've understood that option "  getAsync: false," does not exist anymore. Is there something replacing it?

[2016-04-06 11:05] bellstrand commented on #93
#86 #85, you have a couple of "workaround" there, and a fix have been merged into the repository, think we're just waiting for a new release now?

[2016-04-06 14:16] Leonidnei commented on #93
I bypassed the problem by adding await for instance.setup

[2016-04-07 08:49] Souldrinker commented on #85
Seems to be working fine now with v0.5.1 :-)

[2016-04-07 09:02] zewa666 commented on #85
cool happy to hear that. Again thanks goes to @Jenselme for the fix :clap:
Going to close this one, we can reopen if needed

[2016-04-07 09:02] #85 closed

[2016-04-07 09:02] Souldrinker commented on #85
Damn, I may have spoke to soon. It worked fine now until I bundled, but after bundling half of my application was in "en" (the langage I use in main.ts) and half in "sv-SE" (which I set in the activate method of my root view after fetching the user language from db).

I had this issue in earlier versions too until I set ```async: false```, but as far as I can see that option is no longer available

[2016-04-07 09:02] zewa666 commented on #86
@bellstrand can you check whether the latest version has fixed this?

[2016-04-07 10:00] Souldrinker commented on #85
Sorry, I didn't realize setLocale returned a promise. If I wait to resolve the activate method until setLocale fulfills it's promise it works also bundled. So all seems fine with the 0.5.1 release...

[2016-04-07 12:07] tuath commented on #85
Confirmed,  I grab the latest js and put in my jspm packages folder and seems to work.  Was waiting g for official build to report back.

Sent from Outlook Mobile

On Thu, Apr 7, 2016 at 1:49 AM -0700, "Tony Olsson" <notifications@github.com> wrote:

Seems to be working fine now with v0.5.1 :-)

---
You are receiving this because you commented.
Reply to this email directly or view it on GitHub:
ht

[2016-04-07 12:37] bellstrand commented on #86
@zewa666 my problems are gone since 5.1! :+1:

[2016-04-07 12:37] #86 closed

[2016-04-07 13:07] zewa666 commented on #93
exactly, methods like setup and setLocale will return a promise which when fulfilled should guarantee that the translation is loaded. Closing this for now, we can reopen if there are still some issues

[2016-04-07 13:07] #93 closed

[2016-04-07 13:52] rajivbala commented on #56
I also experience the same issue as reported by @stephenlautier .

[2016-04-08 08:35] valichek opened #94 "TValueConverter and TBindingBehavior not working when using Webpack"
No errors in console.

translation.json:
[code]
template:
[code]
results to:
[code]

main.js:
[code]

[2016-04-08 10:42] Halvotec commented on #60
I think what he meant was using

`t.bind="row.title"`
instead of
`t="${row.title}"`

In the given example from steamonimo this would then be:

`<li repeat.for="row of router.navigation" class="${row.isActive ? 'active' : ''}">
<a href.bind="row.href" t.bind="row.title">${row.title}</a>
</li>`

[2016-04-08 11:24] zewa666 commented on #94
does that relate somehow to this? https://github.com/aurelia/i18n/pull/91

[2016-04-08 11:40] valichek commented on #94
@zewa666, no errors described in #91, and no errors that are usually are thrown when ValueConverter or BindingBehaviour not found when you have smth like `${'smth' | notExistingValueConverter}`

[2016-04-08 12:00] masterpoi commented on #88
Doing something similar but without the leading slash. Did you try:
backend: {
loadPath: 'locales/{{lng}}/{{ns}}.json'
}

?

[2016-04-08 12:24] crabulik commented on #88
@masterpoi
Such configuration hepled me:
backend: {
loadPath: './locales/{{lng}}/{{ns}}.json'
}

[2016-04-08 21:10] steamonimo commented on #60
@Halvotec You approach does not work. t.bind="row.title" will just search for row.title in the translation file. My example above works as expected. So the navigation elements (li elements) will be correctly translated. The problem is that the main title of the page shown in the tabs will just show "MenuXy" but not the translation for "MenuXy".

[2016-04-13 17:07] valichek commented on #94
@zewa666 like it loads resources after calling i18next.t from TValueConverter and TBindingBehavior, any ideas how to fix it?

[2016-04-13 17:15] valichek commented on #94
Ok, so fixed that, I think docs should be updated. Here is how initialization should look like, we just return promise we get from `instance.setup(...)` in plugin configuration.
[code]

[2016-04-14 06:07] zewa666 commented on #94
@valichek thanks for looking into this, I did not have the chance to look at it yet. Good point, I've updated the readme to reflect your findings. I'll be closing this for now, lets reopen if we experience further issues

[2016-04-14 06:07] #94 closed

[2016-04-14 16:40] TGMorais opened #98 "Error loading "./intl" module with Webpack (safari)"
Hi, I this might be related to this https://github.com/aurelia/i18n/issues/61, but there is no information there on how to solve it, at least not with webpack.

The plugin is throwing an error when trying to load the intl polyfill  (in per ex, safari)

I just used the fresh webpack-skeleton and installed the plugin
`npm install aurelia-i18n --save`

then configured `webpack.config.js` with
[code]

[2016-04-14 16:47] EisenbergEffect commented on #98
There's not a strong reference to intl because it is only loaded when needed. This works fine with a real module loader, but not so much with webpack, which is only a bundler and requires it to be in the bundle. I'm not a webpack expert, but you will need to somehow tell it to include intl in the bundle.

[2016-04-14 16:47] #98 closed

[2016-04-15 08:19] emiba commented on #89
I have the same error for the non webpack typescript skeleton project.

[2016-04-15 10:20] avizcaino-newuibcn commented on #94
Not sure if it is related with this issue, but I'm having a similar behavior even after adding the return of the instance.setup.

[code]

The literals are not translated and the console is returning this:

[code]

[2016-04-15 10:24] valichek commented on #94
@avizcaino-newuibcn so you can check in the log if `i18next::translator: missingKey dev translation launcher-all-label launcher-all-label` appears before resources loaded

[2016-04-15 10:52] avizcaino-newuibcn commented on #94
@valichek yep, thats the problem. My app is rendering before the resources are loaded and is not able to find the translation keys...

[2016-04-15 11:41] valichek commented on #94
@avizcaino-newuibcn maybe you haven't updated to latest versions all the aurelia stuff

[2016-04-15 20:43] mttmccb commented on #89
about as basic as it gets...

    declare module 'i18next-xhr-backend' {
        export class XHR {
        }
    }

[2016-04-16 17:40] avizcaino-newuibcn commented on #94
I've checked and i'm using the last release...
El dia 15/04/2016 13:41, Valiantsin Luchko <notifications@github.com> va escriure:@avizcaino-newuibcn maybe you haven't updated to latest versions all the aurelia stuff

—You are receiving this because you were mentioned.Reply to this email directly or view it on GitHub

[2016-04-16 19:47] valichek commented on #94
@avizcaino-newuibcn And when you switch to other page and back it gets translated, does it? Could you prepare some basic example forked from aurelia-skeleton?

[2016-04-16 20:32] avizcaino-newuibcn commented on #94
That's exactly what is happening! I'll try to prepare something
El dia 16/04/2016 21:47, Valiantsin Luchko <notifications@github.com> va escriure:@avizcaino-newuibcn And when you switch to other page and back it gets translated, does it? Could you prepare some basic example forked from aurelia-skeleton?

—You are receiving this because you were mentioned.Reply to this email directly or view it on

[2016-04-17 17:55] zakjan commented on #56
I am experiencing this as well. Please reopen.

[2016-04-18 20:51] stephenlautier commented on #56
@rajivbala personally I haven't updated mine yes but I guess it should be reopen since its causing an issue

[2016-04-19 11:56] valichek commented on #79
@zewa666 I tried to look closer to this bug, and now I can say, it is not actually related to `returnObjectTrees ` property but to calling 'toView' method of `TValueConverter`. Somehow this method is called first with any translation key, but then it is called for many times (up to 11, but could be different) with already translated value as a key. Looks like there is issue with bindings. Any idea

[2016-04-20 15:11] suneelv opened #99 "Wrong import from i18next-xhr-backend in docs?"
In How to Install This Plugin section, Step 7 has

import {I18N} from 'aurelia-i18n';
import XHR from 'i18next-xhr-backend';

But i18next-xhr-backend doesn't export XHR.
It is exporting Backend

The docs only work when we import Backend instead of XHR

[2016-04-22 12:38] AdamWillden opened #100 "Shared DateTimeFormat"
I was going to request that we had  away to 'share' the dateFormatter as I suspect it would improve performance. I then looked at the code and noticed the extra dateFormat function which can do just that.

However I'm not a fan of how you'd need to specify the formatter

`<div title.bind="date | df:null:null:dateFormatter"></div>`

Could this:
[code]
become this:
[code]

Or for backward compatabil

[2016-04-22 12:41] EisenbergEffect commented on #100
@zewa666 This seems like a reasonable request. What do you think?

[2016-04-22 13:04] zewa666 commented on #100
@EisenbergEffect absolutely. @AdamWillden I would love to see a PR for this.

[2016-04-22 13:15] AdamWillden commented on #100
I'll try to get to it. Although it's a small change I'm closing in on a deadline that I've no hope in hell of meeting! All my brains must focus.

[2016-04-22 13:15] AdamWillden commented on #100
Incidentally how would I do the depreciation warning?

[2016-04-22 13:32] AdamWillden opened #101 "DateTimeValueConverter shows 01/01/1970 for null values"
![image](https://cloud.githubusercontent.com/assets/4629144/14742923/91f94cd8-0896-11e6-876e-1c7b64cdefdc.png)

Is it reasonable to add a check whereby if the value is `null` or `undefined` we simply return that value instead of trying to format it to 1970?

It works perfectly for numeric tick values by the way so I would **not** want to limit it to date values only.

[2016-04-22 13:33] zewa666 commented on #100
Yes the deprecation warning would be certainly nice, given we're now officially in beta. @EisenbergEffect could you chime in on this one and provide an example? Is a special case of console.log enough?

[2016-04-26 12:31] Tseberechts opened #102 "BackendConnector.js:79 Uncaught TypeError: namespaces.forEach is not a function"
[code]

[code]

So it should be namespaces.namespaces.forEach?

[2016-04-27 07:19] Mordred commented on #102
i18next v2.0.0 changed configuration. Try:

[code]

More info http://i18next.com/docs/options/

[2016-04-27 07:22] Tseberechts commented on #102
I did, but haven't had the time to post here. thx.

[2016-04-27 08:51] zewa666 commented on #88
I guess this is fixed with your last reply @crabulik right? Closing this for now, lets reopen if still issues exist

[2016-04-27 08:51] #88 closed

[2016-04-27 08:54] crabulik commented on #88
@zewa666 Yeap, i think it works fine.

[2016-04-27 09:16] zewa666 commented on #100
@AdamWillden ok i've created the patch and added a console.warn as deprecation notice. Thanks for the support, good hint, feels much nicer now.

[2016-04-27 09:16] #100 closed

[2016-04-27 09:21] zewa666 commented on #101
good idea. I've created a patch fixing that, I'm just not sure about the last sentence. What do you exactly mean with numeric ticks? Could you give me an example?

[2016-04-27 09:28] zewa666 commented on #99
funny enough using the ES6 demo it still worked even with XHR. Nevertheless i've updated the docs as proposed. Thanks for the hint.

[2016-04-27 09:28] #99 closed

[2016-04-27 09:29] zewa666 commented on #89
Is this maybe related to https://github.com/aurelia/i18n/issues/99?

[2016-04-27 09:30] zewa666 commented on #78
Closing this as it not really belongs to Aurelias plugin itself.

[2016-04-27 09:30] #78 closed

[2016-04-27 09:39] zewa666 commented on #102
So with the changed configuration and using the latest version of the plugin do you still experience the issue @Tseberechts?

[2016-04-27 09:40] Tseberechts commented on #102
No, I don't. Said new configuration works like a charm.

[2016-04-27 09:40] zewa666 commented on #102
Ok great :+1:

[2016-04-27 09:40] #102 closed

[2016-04-27 09:41] zewa666 commented on #47
@valichek ping!

[2016-04-27 12:22] AdamWillden commented on #101
@zewa666 I stumbled across this by accident initially as I get all my date times as JavaScript ticks from the server. Best shown by [an example](http://jsfiddle.net/Lqz3efy3/).

I meant I didn't want a patch that was `if (!(value instanceof Date)) return value;` as that'd screw up the fact it handles numbers as ticks :-)

**However**, looking at your patch I think it'd be better if it explicitly c

[2016-04-27 12:22] AdamWillden commented on #101
Thank you by the way :-)

[2016-04-27 12:26] AdamWillden commented on #100
Awesome, thank you!

[2016-04-27 12:29] AdamWillden commented on #100
Ah yes console warn looks good and is what is used here: https://github.com/aurelia/metadata/blob/master/src/deprecated.js

[2016-04-27 12:33] zewa666 commented on #101
ahh good catch :+1: . Ok fixed that one as well. Think we're good to go now

[2016-04-27 12:33] #101 closed

[2016-04-27 12:35] AdamWillden commented on #101
Ah nice yeah,

[2016-04-27 12:35] zewa666 commented on #30
I guess this changes with the new version using i18next v2. Can you replicate the issue over here as well @RWOverdijk?

[2016-04-27 14:05] olehleskiv commented on #89
Have the same issue. There is no (d.ts.) typings for i18next-xhr-backend. Can somebody add them?

[2016-04-27 14:49] olehleskiv opened #103 "i18next-xhr-backend with typescript bug"
When using i18n with typescript  I has an error during compilation ` Module ''i18next-xhr-backend'' has no default export."`

I think that is because `i18next-xhr-backend` has no `i18next-xhr-backend.d.ts` file with def. types.

[2016-04-27 15:59] zewa666 commented on #103
I'd really love if we could ask the author to provide a d.ts file in order to solve those issues further on. That would make the hole process much easier. In the meantime you'd have to provide your custom typings.

Take a look here https://github.com/aurelia/i18n/issues/89

[2016-04-27 18:38] mttmccb commented on #89
Yes and no, it's because the typing file is missing and I had to use the default import syntax otherwise it failed.

[2016-04-27 19:05] zewa666 commented on #89
yep but I think as mentioned over there the default export is **Backend**  vs. **XHR**, so I thought that would maybe fix it at least so far that it doesn't completely break.

Nevertheless, I think we should really go for asking the creator of the backend to provide a valid d.ts file in order to fully solve that. So I'll be closing this here for now, we can reopen if there are more issues to it.

[2016-04-27 19:05] #89 closed

[2016-04-28 15:25] AdamWillden commented on #34
@zewa666 I'm having this issue with v2 but the work around option was removed in v2. Don't suppose you have any ideas?

[2016-04-28 15:43] AdamWillden commented on #86
@zewa666 I don't understand but I'm having this same issue with 0.5.2

![image](https://cloud.githubusercontent.com/assets/4629144/14891804/24b54108-0d60-11e6-9b78-d12a02197d37.png)

[2016-04-28 22:04] fabioluz commented on #69
Put this before all other scripts in your index.html and tell me if it works

    <script src="//cdn.polyfill.io/v2/polyfill.min.js?features=Intl.~locale.en"></script>

[2016-04-29 06:33] zewa666 commented on #86
@AdamWillden you should take a look here https://github.com/aurelia/i18n/issues/93

[2016-04-29 07:16] AdamWillden commented on #86
@zewa666 Thank you! I had read that but when you pointed me to it I knew I must have missed something ...and this is the info that I was missing: https://github.com/aurelia/i18n/commit/7cfb404eaa64d20b0992715e6f226e114933f81d#diff-04c6e90faac2675aa89e2176d2eec7d8

[2016-04-29 07:26] RWOverdijk commented on #30
I no longer need this functionality, and think it's wise to not bundle translations at all. Here are some reasons:

- You'll have to either force the user to download all translations (in one big bundle), or make a bundle per language. Both aren't ideal.
- You'll take away the freedom from the translators, and force yourself to re-bundle, and re-deploy with every translation made (unless you autom

[2016-04-29 07:26] #30 closed

[2016-04-29 08:56] zewa666 commented on #30
I personally would totally agree with your points, just wasn't sure like you whether there might be a different use case. Lets keep it as you said and reopen this if needed

[2016-04-29 08:58] zewa666 commented on #86
I wonder whether we can intercept that error/warning and add our custom message to inform the user about a potentially missing returned promise

[2016-04-29 11:29] valichek commented on #52
@zewa666 Regarding using webpack. `Intl` should be included in packages, so please add some line to docs that we need to require `Intl` module in `main.js` so it should be available for module loader.
[code]

Or maybe another (better?) option is to add some `useIntl.js` to `aurelia-18n`, add intl dependency for npm, in that way I suppose it will be included for AureliaWebpackPlugin that has `inclu

[2016-04-29 14:48] andrewMuntyan opened #104 "t-params.bind is not working"
Hi!
I have strange issue. It would be great if You could give some explanation.
I have typescript aurelia sceleton application.

Issues that I encountered:
1) Translating via html attributes. Passing parameters to the attribute is not working
2) Translating with the TValueConverter. I get escaped html

[code]

[code]

[code]

[code]

[code]

[2016-04-29 15:24] olehleskiv commented on #104
Have the same issue

[2016-04-30 09:16] andrewMuntyan commented on #103
can You look at https://github.com/aurelia/i18n/pull/106 ?

[2016-05-01 10:30] martijnboland commented on #52
@valichek intl is a polyfill right? In that case I'd always import it directly in my main.js

[2016-05-01 13:55] valichek commented on #52
+ some reference to https://github.com/andyearnshaw/Intl.js#intljs-and-browserifywebpack

[2016-05-02 05:55] zewa666 commented on #52
Thanks for the info @valichek and @martijnboland. I've updated the README

[2016-05-02 12:59] andrewMuntyan commented on #104
@zewa666 could You look at my code snippet?
What am I doing wrong?
Is it bug?

[2016-05-02 13:19] zewa666 commented on #104
sry had no chance yet to look over it, hope to get to it during this week

[2016-05-02 13:29] andrewMuntyan commented on #104
Tnx!

--
ANDREW MUNTIAN
Frontend Developer

Cell: +380 93 604 1815 <tel:+380 93 604 1815>   Email: work.vesel4ak@gmail.com <mailto:work.vesel4ak@gmail.com>   Skype: vessel4ak <tel:+380 93 604 1815>
Lviv, Ukraine

[2016-05-03 06:57] zewa666 commented on #104
ok so something seems to be severely broken with the attribute based translation. As for the HTML escaping. If you need it to be displayed in rendered style you need to assign the result to innerHTML.

Like so:
[code]

Will continue digging into the stuff about the attributes

[2016-05-03 18:20] zakjan commented on #56
I was able to fix it by changing i18next typings files from `export = i18n;` to `export default i18n;` as in #106

Why there is this difference between official typings installed by `typings install i18next --save --ambient` and aurelia-i18n custom typings?

[2016-05-03 20:56] valichek commented on #79
@zewa666 Hi, Vildan, any news here? Is this bug originates from binding engine or aurelia-i18n?

[2016-05-04 06:54] zewa666 commented on #56
@zakjan I'm happy to accept a PR if you see a bug in the current custom typings. Thanks in advance :)

[2016-05-04 06:55] zewa666 commented on #79
Sry had not yet a chance to take a closer look at it. Its in the pipeline though. Will ping you when having  more insights

[2016-05-04 07:25] andrewMuntyan commented on #56
@zakjan for https://github.com/aurelia/i18n/pull/106#issuecomment-216619903 the short answer is: 'export from custom i18next file is correct', but i would to discuss this situation.
So, what do we have?

[code]

i added custom typings in https://github.com/aurelia/i18n/pull/106 with
[code]

At this point we do not have any issues i think.

The problem appears when we use
[code]
in `yourAppFolder/t

[2016-05-04 07:28] andrewMuntyan commented on #104
@zewa666 Thanks a lot for your answer. Hope it will be fixed soon.

[2016-05-04 08:54] zakjan commented on #56
I believe this is a bug in i18next typings https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/i18next/i18next.d.ts

[2016-05-04 14:27] valichek commented on #47
Bug still exists, so one should avoid this config
https://gist.run/?id=d6eaa855431f4c748df103e2974a3797

[2016-05-04 21:20] andrewMuntyan commented on #56
@zakjan not sure. In this case  i18next typings is the producer (it provides typings) while aurelia is the consumer.

For example if we could change https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/i18next/i18next.d.ts right now, a lot of people who already have using this typings, would see an error.

[2016-05-05 07:06] zakjan commented on #56
Well, the official getting started guide at i18next docs says it should be imported with `import i18next from 'i18next';`. Aurelia-i18n imports it the same way. There is no inconsistency.

How come the people using i18next don't see the same error as we do? `Module ''i18next'' has no default export.`

[2016-05-05 11:19] valichek opened #107 "Using t binding behaviour inside view attached with <compose /> produces i18next::translator: missingKey warnings"
Here is gist.run that uses latest aurelia and i18n
https://gist.run/?id=f7ead986372293a1e558e0932c6e1ec6
I think this issue is closely related to #79

[2016-05-05 13:41] leye0 commented on #89
Can we keep it as a references while waiting?
`
declare module 'i18next-xhr-backend' {

    interface Interpolator {
        interpolate: () => string
    }
    interface Services {
        interpolator: Interpolator
    }
    export default class Backend {
        type: 'backend';
        services: Services;
        options: {
            loadPath: string,
            addPath:  string,

[2016-05-06 13:17] flieks opened #108 "i18next.com"
Just a note:
the link on here:
http://i18next.com/docs/ecosystem/
still points to the old repo aurelia-i18next

[2016-05-09 11:44] zewa666 commented on #108
thanks created a PR for that https://github.com/i18next/i18next.com/pull/7

[2016-05-09 11:44] #108 closed

[2016-05-10 07:03] zewa666 commented on #76
@mbenedyk whats the status on this one after the latest release?

[2016-05-11 14:21] mbenedyk commented on #76
I`ll check it tomorrow

[2016-05-13 06:33] zewa666 commented on #107
Well I'm not sure thats a real issue. If I remove the compose part from your code and just leave the first section you'll anyway get those warnings because what i18next tries is to load information from the defaultNS which is translation. As it won't find the dynamically created one `${'val1'+getLabel(prop) & t}` inside the translation file it will issue the warning. Still though the translation h

[2016-05-13 06:35] zewa666 commented on #104
@andrewMuntyan sorry I didn't reply earlier. The reason for the binding not refiring is that the attributes don't get notified about complex objects chaining. That means it doesn't deep inspect the object for modifications. Now that we know the source of the evil we're about to fix this.

[2016-05-13 06:51] zewa666 commented on #65
@steamonimo is this still an issue in the recent version? I'm not able to reproduce it

[2016-05-13 07:21] valichek commented on #107
@zewa666 sorry, example was not correct, I have updated it (same link). I use Chrome and have following log:
[code]
Note that it tries to translate already translated values (for usual `${'val1' & t}` too), but it happens only when using two parts of example if the same key is used in composed view too. I have more complicated structure in my app though. I just created the basic example to show th

[2016-05-13 08:27] andrewMuntyan commented on #104
@zewa666 great news! Tnx!

[2016-05-13 11:49] krostkowski commented on #103
There's another issue with typescript. When using `import Backend from 'i18next-xhr-backend'; ` according to readme, Backend is undefined.
ES6 import is transpiled to AMD `instance.i18next.use(i18next_xhr_backend_1.default);`, while there is no default in exported function (constructor).
`import * as Backend from 'i18next-xhr-backend';\ works.

[2016-05-13 16:04] andrewMuntyan commented on #103
@krostkowski You should use
[code]
it would be great if you will make a PR with fix about using `'i18next-xhr-backend'` with TS added to readme.

[2016-05-14 08:47] krostkowski commented on #103
@andrewMuntyan Done in #110

[2016-05-14 10:43] charlespockert commented on #107
Here's an even more fun gist: is this something to do with caching?

https://gist.run/?id=4460ebe5d8e1fd274767f72005ea5cba

If you change from en to de and back again you can see that the translations get all screwy

It looks like whatever stores the translations is being updated incorrectly

[2016-05-14 12:22] charlespockert commented on #107
Here's an example of it all working without using the i18n behaviour:

https://gist.run/?id=4460ebe5d8e1fd274767f72005ea5cba

I've just used the standard signal behaviour and the `t` value converter, so it must be something to do with the `t` behaviour.

[2016-05-14 13:17] charlespockert commented on #107
Having a lot of fun debugging :)

So it boils down to the fact that there are side effects to rewriting the binding.

https://gist.run/?id=4460ebe5d8e1fd274767f72005ea5cba

The above "fixes" it - so from what I can tell, the first rewrite of the binding expression messes up the second rewrite. The second rewrite actually chains the previous evaluation and then the second rewrite adds another step

[2016-05-14 13:57] EisenbergEffect commented on #107
@jdanyow Perhaps you can provide some feedback on this?

[2016-05-17 09:53] zewa666 commented on #69
Does this still exist with the latest release @vbnewb ?

[2016-05-17 14:13] atticushome opened #111 "t[append/prepend] problem"
Hi!

If I use it like this `<label  t="[append]label"><input type="radio" model.bind="true" checked.bind="checked"></label>` checked.bind stops working.
Am I doing something wrong or is it not supposed to work like this?

Thanks!

[2016-05-18 07:13] zewa666 commented on #111
Well ... yes its supposed to work, and no it does not do that currently :)
Tbh when this feature was designed that use-case wasn't kept in mind, so thanks for pointing that out.

[2016-05-18 07:15] atticushome commented on #111
Nice, thanks for a quick feedback.

[2016-05-18 11:56] stefan505 opened #112 "Uncaught TypeError: this.backend[fcName] is not a function"
I'm unable to get `aurelia-i18n@0.5.3` working using JSPM. I'm following the very latest docs, it fails during bootstrapping phase:

[code]

The code snippet from the eval script where its failing is here:

[code]
My `main.ts` file plugin load:
[code]
JSPM dependencies:
[code]

[2016-05-18 12:43] stefan505 commented on #112
It seems the docs caused this issue. Changed from `Backend` to `XHR` in main.ts got it working. Possibly a bug in the docs?

[2016-05-18 12:56] Souldrinker commented on #112
...or rather the issue seemed to be that the readme file incorrectly suggested us TypeScript users:
[code]
...which doesn't seem to be the case (at least not in VS2015 with TypeScript 1.8.6.0). If it's imported as:
[code]
...it seems to work just fine.

[2016-05-18 19:59] stefan505 commented on #60
@steamonimo I have exactly the same problem and need. Have you had any joy with this in the meantime?

[2016-05-18 21:46] jdanyow commented on #107
Here's what I think we can do to fix this: https://gist.run/?id=be99269ff5295eb3872ff4cea419e3c6

Take a look at the last revision to that gist, it has two changes to the TBindingBehavior:

1. Adds a boolean prop to the sourceExpression to track whether it's been re-written. This prevents double/triple/quadruple/etc rewrites.
2. On unbind, don't undo the expression rewrite

The alternative to this

[2016-05-20 06:04] zewa666 commented on #112
Oh man, TypeScript is driving me nuts. We have currently about 3 issues regarding the same topic, so I don't clearly see whats the way forward. I agree, the one time I tested it with TypeScript myself the proposal of @Souldrinker worked. I guess it might be related to the TypeScript version installed.
So any ideas how to go on with this?

[2016-05-20 06:08] zewa666 commented on #107
@jdanyow I like that approach. @charlespockert and @valichek what do you guys think about this?

[2016-05-20 06:10] zewa666 commented on #103
[Here's](https://github.com/aurelia/i18n/issues/112) a controversial issue proposing the original import Backend from ...syntax. So can I ask you guys to figure out why it does work that way for one TS user and not the other one?

[2016-05-20 07:36] krostkowski commented on #103
In my case I'm using typescript skeleton with gulp-tsb transpiler.
When I have
[code]
in my main.ts, it's transpiled to
[code]
i18next_xhr_backend_1 is a function:
[code]
It's a function from jspm_packages\npm\i18next-xhr-backend@0.5.4\dist\commonjs\index.js so it doesn't have a 'default' property.

When I change 'import Backend from `i18next-xhr-backend` to `import * as Backend from 'i18next-xhr-

[2016-05-20 08:11] zewa666 commented on #103
@Souldrinker what do you see when looking at @krostkowski 's approach?

[2016-05-20 08:37] Souldrinker commented on #103
It might differ depending on how you transpile your TypeScript. It seems @krostkowski are transpiling TS->ES5 (AMD) while I'm transpiling TS->ES6->SystemJS (using Babel runtime).

In both cases ```import Backend from "i18next-xhr-backend";``` and ```import * as Backend from "i18next-xhr-backend";``` I get the same import as in TypeScript in my .js file (ES6).

But in the first case (which works) I

[2016-05-20 10:39] krostkowski commented on #103
I don't know where is the problem but today I had the same situation with importing jquery. According to examples I should use:
[code]
Which I had to change to
[code]
to work.

[2016-05-20 11:02] zewa666 commented on #103
do you have all the typings installed @krostkowski?

[2016-05-20 11:06] Souldrinker commented on #103
I still think it's a ES6+Babel vs ES5 issue. I'm working on two different projects. One with TS->ES6+BabelRuntime where I have to import it as ```import Backend from "i18next-xhr-backend";``` and another where I do TS->ES5(AMD) where I have to import it as ```import * as Backend from "i18next-xhr-backend";```. Both projects use the same d.ts file:

[code]

[2016-05-20 11:12] stefan505 commented on #112
I'm using TS 1.8, perhaps the docs need to mention the TS syntax options for TS versions that will handle it differently?

[2016-05-20 11:13] Souldrinker commented on #103
I found something that sounds like the cause of this confusion that supports my theory: http://stackoverflow.com/questions/29596714/new-es6-syntax-for-importing-commonjs-amd-modules-i-e-import-foo-require

2016 update: The TypeScript compiler at some point started allowing import * as foo from 'legacy-module-foo' to get the default import of a legacy module in certain circumstances. This is a viol

[2016-05-20 11:35] Souldrinker commented on #112
As I mentioned in the referenced issue I think it's not only a TS version issue but also a question of whether you're outputting to ES5 or ES6 and not what TS version you're using. That is if you output to ES6 you should use the normal ES6 syntax, but if you're outputting to ES5 you have to either do ```import * as Foo from "foo"``` or ```import Foo = require("foo")```.

If I get it correctly pre-

[2016-05-20 12:05] zewa666 commented on #112
@Souldrinker what would really help is if you can provide a PR updating the README and as now just simply describe the different scenarios, so that people using whichever version know what the root cause is and therefore can adapt appropriately.

[2016-05-20 12:25] Souldrinker commented on #112
Well, I'm not really sure what to type to explain this in a good way, but maybe it would be enough if you just change the comment in point 7 to something like:
[code]

[2016-05-24 10:55] mbenedyk commented on #76
Same problem:
TypeError: undefined is not an object (evaluating 'new this.Intl.DateTimeFormat')

[2016-05-24 11:17] zewa666 commented on #76
I don't know how Chutzpah works, what browser does it use to perform the tests? Chrome, or a headless one? Does that browser include the Intl API? Seems like the polyfill is not loaded in your case. Over here I'm testing with Karma and Chrome and so far everything works.

[2016-06-02 06:54] zewa666 commented on #111
@atticushome should be fixed with the latest commit, next Tuesday the new version should be available and ready to be tested

[2016-06-03 20:10] Jenselme commented on #69
I had a similar issue on my SPA with the latest release of this plugin on Safari. Here is the message I got in the console:
![safari-aurelia-i18n](https://cloud.githubusercontent.com/assets/6643536/15791448/b1f3d3ca-29d7-11e6-9f70-4509dcb75818.png)

I solved it by using the [Intl.js](https://github.com/andyearnshaw/Intl.js/) polyfill. To do so, I just had to alter the boostrap function in `main.js

[2016-06-03 20:12] #69 closed

[2016-06-03 20:12] EisenbergEffect commented on #69
@zewa666 Do the docs contain a section on what browsers require polyfills? If not, we should add that.

[2016-06-03 20:33] Jenselme commented on #69
@EisenbergEffect There is already a section in the documentation about Intl polyfill: https://github.com/aurelia/i18n#internationalization-api-polyfill but it doesn't detail how to use it in a bundle.

And I think that the message I got from Webpack is quite obscure. It took me a while to understand that the missing Intl API was the problem.

I think that maybe the code could be improved a little

[2016-06-06 06:08] zewa666 commented on #69
@Jenselme I'm happily accepting a PR adding those mentioned console logs and information. This would definitely help to improve the error and thus point the user to the proper implementation.

[2016-06-06 10:17] cb-fred opened #114 "el.querySelectorAll() is not a function (on comment nodes)"
Hi,
Aurelia-i18n 0.5.3 throws an exception in the updateTranslations(el) (i18n.js:136) function if it is called with a comment node as a parameter, as querySelectorAll() is not defined on comment nodes (at least in the latest chrome)

I guess the fix would be simply to ignore comment nodes, by checking (el.nodeType !== 8)

[2016-06-08 07:35] swiftanthony commented on #107
Hi, having the same issue. Any update on this ?

[2016-06-08 09:59] hadrienl opened #116 "t-params disapears"
Hi,

When I use t-params attribute to attribute data to my locale, the variable is displayed, then emptied. The bug does not occurs if I use the filter `t`. You can see the bug in this video : https://www.dropbox.com/s/y69ixjjlp5gmnye/aurelia-bug-i18n.mov?dl=0

My code is just:

[code]

[2016-06-09 10:14] ZoolWay commented on #102
Please also fix the sample in the `readme.md`, just got caught by this myself.

[2016-06-10 10:41] avizcaino-newuibcn opened #117 "Passing parameters with i18n.tr is not working"
Hi, I'm defining a translation key such as `"action-executed" : "Action __act__ executed"` and then calling the translation with `i18n.tr("action-executed", {act: 'delete'})`.

I'm expecting `"Action delete executed"` as a result, but instead, I'm receiving `"Action __act__ executed"`. I've tried to debug this issue but I'm unable to find where the problem is.

I'm using right now aurelia-i18n ver

[2016-06-10 18:45] Mordred commented on #117
I think that default interpolation is '{{' and '}}'. Can you try `Action {{act}} executed`?

[2016-06-13 08:51] avizcaino-newuibcn commented on #117
Yep, that worked. But this has changed right? I'm pretty sure that it was working in older versions with the format __param__

[2016-06-13 08:51] #117 closed

[2016-06-13 09:53] zewa666 commented on #117
@avizcaino-newuibcn yep this has changed with the upgrade to i18next v2, see here https://github.com/aurelia/i18n#migration-to-new-i18next-version

[2016-06-16 10:03] lcustodio opened #118 "HTML attributes with namespace"
Is it possible to select a proper namespace when translating html attributes? The default syntax is like:

`<span i18n="home.title">Title</span>`

For instance, in the view model the approach would be the following:

`this.i18n.tr('invalidName', {ns: 'errors'})`

*version 0.5.3

[2016-06-16 12:38] lcustodio commented on #118
Ha! Thanks to valichek I got the answer.

In order to access the namespace the syntax is: `<span i18n="errors:invalidName"></span>`

[2016-06-16 12:38] #118 closed

[2016-06-17 08:46] valichek opened #119 "ReferenceError: _classCallCheck is not defined"
Getting this error after updating to the latest `beta.xxx` version. Looks like dependency problem. I'm trying to update my app step-by-step, so would be nice to know about the source of this error. @EisenbergEffect

[2016-06-17 10:30] EisenbergEffect commented on #119
Can you give me a line number on that and let me know if it's webpack or jspm?

[2016-06-17 10:58] krostkowski commented on #119
JSPM. Error occurs in 24th line:
[code]

[2016-06-17 11:08] valichek commented on #119
I use webpack 1.x
Cannot define line number because it is bundled, but looks that it is the same as @krostkowski just reported.
[code]

[code]

[2016-06-17 11:09] EisenbergEffect commented on #119
I've tracked it down. It's a bug in our build process that is only affecting i18n. Give me a few minutes and I'll get a patch release out.

[2016-06-17 11:16] EisenbergEffect commented on #119
Ok, it should be fixed now and release to github, bower and npm. Apologies!

[2016-06-17 11:16] #119 closed

[2016-06-21 14:24] jods4 opened #120 "Don't depend on Intl polyfill in bower"
This library pulls in an `Intl` polyfill.
It would be nice if this was not pulled in automatically by Bower, because now I have to take extra steps to remove it from my build.

I would prefer if the documentation said `Intl` was required and pointed to a polyfill if required, but if the responsability to include it was left on the developper. As more and more browsers support standards (support fo

[2016-06-21 21:44] atsu85 commented on #56
@zewa666, @EisenbergEffect, I suggest doing (basically) undo to

so instead of [current](https://github.com/aurelia/i18n/blob/master/src/i18n.js#L2)
`import i18next from 'i18next';`
the result would be
`import * as i18next from 'i18next';`
(it would be same form of import that is tested in [DefinitelyTyped/i18next](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/i18next/i18next-test

[2016-06-22 05:34] atsu85 commented on #56
I'm afraid this assumption was incorrect as @zakjan suspected:

Because when i did [the change](https://github.com/atsu85/i18n/commit/84d9d7526e41faf294a765aebeb3ce1bb0302390#diff-1e8d6c22d70a5ac18d47adf06afa1efeL2) in aurelia-i18n project, tests started to fail.

So the real solution would probably be to change i18next typings to correctly indicate that i18next library has default export:

`expor

[2016-06-22 15:10] leye0 commented on #60
@mttmccb do you mind giving an example? Thx!

[2016-06-27 03:47] zewa666 commented on #120
Actually we do not really depend on the polyfill but load it on demand. The only issue appears when you bundle and might need the polyfill for certain visitors, in that case you'd always have it.

The reason for the auto-magic-inclusion was to make getting started with the plugin as easy as possible.

[2016-06-27 03:47] #120 closed

[2016-06-27 08:23] jods4 commented on #120
@zewa666 yes, this was exactly my point!
I use bower and I currently have to make an exception _not_ to include Intl.

Given this: http://caniuse.com/#feat=internationalization I think it's reasonable to assume it's there and ask the few unlucky devs to take an extra step _to include_ Intl instead.

[2016-06-27 09:04] zewa666 commented on #120
Yep I fully understand you @jods4 and would happily remove that step, but the reason why we did it is that as soon as I created the initial feature, tons of users came back to reply they had issues with their implementations. And the reason was usage of unsupported browsers.

Another reason is Nodes implementation of the Intl.API. In order to avoid a lot of hickups, loading the polyfill makes work

[2016-06-29 21:10] steamonimo commented on #56
I recently switched to typescript and have issues with the I18n module as well. I have no idea how multiple "cannot find module errors" can be fixed. The command "typings" does not support the parameter "--ambient" anymore thus the call "typings install i18next --ambient" from the doc will not install the necessary typings for i18n. As a result the following will not be recognized:

import * as i1

[2016-06-29 21:16] zakjan commented on #56
@steamonimo `--ambient` was replaced by `--global` in typings >=1.0

[2016-06-29 21:31] steamonimo commented on #56
@zakjan then the readme.md should be adjusted to --global. As a side note I tried to use the call "typings install i18next --global" as you recommend and got these errors:

typings ERR! message Unable to find "i18next" ("npm") in the registry.
typings ERR! message However, we found "i18next" for 1 other source: "dt"
typings ERR! message You can install these using the "source" option.

[2016-06-29 21:33] zakjan commented on #56
Yeah, the correct command is now `typings install --global --save dt~i18next`.

[2016-06-29 21:43] steamonimo commented on #56
@zakjan Thanks, now typings did its installation correctly. Still typescript complains that the module can not be found. It is the syntax? Do I have to import i18next instead? I just want to inject I18n into my class with a decorator. Here is the import:

import {I18N} from 'aurelia-i18n';

[2016-06-29 22:18] steamonimo commented on #56
@zakjan I find it confusing that i18next is directly exported as i18n although i18n of "aurelia-i18n" is acutally a wrapper class that is using i18next to implement functions like setLocale.

[2016-06-30 14:22] DerAlbertCom commented on #58
<input t="[placeholder]theKey"/> works in rc.1

[2016-06-30 14:40] DerAlbertCom opened #123 "i18n on custom elements with @bindable does not work with html attributes"
attributes on an HTML Tag can be localized with the attribute  `<div  i18n="[attribute]key" />` works on plain html tags, but not on custom elements.

On the view model i have `@bindable title` and while using `<custom i18n="[title]thekey"></custom>` title gets not translated.  i know i can to `<custom title="${'theKey' | t}"><custom>` but this inconsistent.

Is this a bug, a feature, planned?

An

[2016-06-30 14:43] EisenbergEffect commented on #123
@zewa666 This sounds like a bug in the way that the i18n library is setting attributes when they relate to a custom attribute. In this case, they need to be set on the view-model instance, not on the html element itself. @jdanyow can likely advise you on the best way to handle this. He had to implement some similar fixes recently when working on validation.

[2016-07-04 03:01] EisenbergEffect commented on #47
@zewa666 What is the status of this? Can it be closed now?

[2016-07-04 03:24] EisenbergEffect commented on #56
@zewa666 What is the status of this?

[2016-07-04 03:25] EisenbergEffect commented on #57
@zewa666 Ping.

[2016-07-04 03:26] EisenbergEffect commented on #58
@zewa666 Update?

[2016-07-04 05:17] atsu85 commented on #56
@EisenbergEffect , @zewa666 see my comment: https://github.com/aurelia/i18n/issues/56#issuecomment-227647981

[2016-07-04 09:39] zakjan commented on #56
@EisenbergEffect There is a PR to update i18next typings https://github.com/DefinitelyTyped/DefinitelyTyped/pull/9884

[2016-07-04 10:31] steamonimo commented on #56
I took the example "skeleton-navigation-master/skeleton-typescript" and installed i18n with "jspm install aurelia-i18n". But in Visual Code the module i18n was still marked as unknown in the import call. It took "npm install aurelia-i18n" to fix this. Then I had to install the typings for i18n: "typings install dt~i18next --global". Then I had to adjust "typings/globals/i18next/index.d.ts" and rep

[2016-07-04 14:28] EisenbergEffect commented on #65
Closing since this can't be reproduced and seems to have been fixed in a more recent release.

[2016-07-04 14:28] #65 closed

[2016-07-04 16:51] EisenbergEffect commented on #76
Closing this since it's likely a missing polyfill in the test environment and there's been no response from the OP in over a month.

[2016-07-04 16:51] #76 closed

[2016-07-04 17:26] EisenbergEffect commented on #79
@zewa666 Status?

[2016-07-05 19:35] EisenbergEffect commented on #79
@zewa666 Status?

[2016-07-06 02:42] EisenbergEffect commented on #103
@zewa666 Status?

[2016-07-06 07:59] Souldrinker commented on #103
Well, this whole thing seems a bit confusing. We have a VS2015 solution using TypeScript 1.8 -> ES6 + Babel Runtime (to ES5) and the code in our main.ts is importing the xhr backend like this: ```import Backend from "i18next-xhr-backend";``` and using it in the plugin settings as ```instance.i18next.use(Backend);```.

We tried transpiling it on three different computers. Mine (that according to th

[2016-07-06 12:51] OzgurDogan opened #125 "RelativeTime is using wrong fallbackLng field"
The fallbackLng used in RelativeTime is a field of i18n service, while following configuring the options of i18next

[code]

[2016-07-06 13:19] EisenbergEffect commented on #103
Closing this since it seems like a configuration issue.

[2016-07-06 13:19] #103 closed

[2016-07-06 14:08] Souldrinker commented on #103
Well, my last post might have been a configuration issue, but there still seems to be some inconsistency regarding point 7 in the aurelia-i18n readme at least with TypeScript 1.8 where it says:
[code]

This suggestion is valid if you target ES5, but if you target ES6 you should still do it the uncommented way if I got things right (at least it is like that for my projects targeting different ES ve

[2016-07-06 14:10] EisenbergEffect commented on #103
@Souldrinker Ah, gotcha. Would you mind submitting a PR to the readme to just add that as a note?

[2016-07-06 14:41] Souldrinker commented on #103
I'm mostly working with TFS here and just fetch stuff from github and are not really sure how to do PR's (I think I've only done it once like a year ago) and will soon leave for the day.

But maybe slightly changing the text to something like this might help:
[code]

But the above is regarding the second issue @krostkowski mentioned.

The original issue could probably be considered fixed since the

[2016-07-06 17:21] Souldrinker commented on #103
Ok, that was simple enough ;-) I did the small change to the comment here: https://github.com/aurelia/i18n/pull/126. Not sure if there is a nicer way to link it to this issue?

[2016-07-06 19:40] EisenbergEffect commented on #107
@zewa666 I say, go ahead and make the fix per @jdanyow 's recommendation.

[2016-07-06 20:11] EisenbergEffect commented on #111
Closing since the fix was merged.

[2016-07-06 20:11] #111 closed

[2016-07-06 20:12] EisenbergEffect commented on #112
Closing this as a dupe.

[2016-07-06 20:12] #112 closed

[2016-07-07 14:28] mxl commented on #56
@zakjan and others, please read https://github.com/DefinitelyTyped/DefinitelyTyped/pull/10006.

[2016-07-07 22:34] atsu85 commented on #56
@mxl, Your suggestion from Your PR worked for me with TS 1.8.10 with compiler options:
[code]

[2016-07-08 10:55] stsje commented on #60
Also tracked in the Router repository https://github.com/aurelia/router/issues/343

[2016-07-08 13:39] don-bluelinegrid commented on #56
I am new to Aurelia, setting up an environment for a new commercial product project.  When I follow the aurelia-i18n ReadMe, I get the following problems:

1. Typescript compilation problem #1, with no additions to tsconfig.json:

==========
ERROR in [default] /Users/donpeterkofsky/Documents/gc-2/typings/globals/i18next-xhr-backend.d.ts:22:29
Generic type 'Array<T>' requires 1 type argument(s).

E

[2016-07-08 14:09] EisenbergEffect commented on #60
I'm going to close this as a duplicate since we've already got the feature requeston the router. I think we just need to implement a function that each "title" value for each route gets passed through when it builds the title. This would allows the developer to supply any function they want, including one that invokes i18n APIs.

[2016-07-08 14:09] #60 closed

[2016-07-08 18:01] maroy1986 commented on #114
I have the same issue here. aurelia-i18n version 1.0.0-rc.1.0.0

![image](https://cloud.githubusercontent.com/assets/2490360/16696781/800c8ff2-4514-11e6-804f-335d37c0ae2e.png)

[2016-07-08 18:02] EisenbergEffect commented on #114
@zewa666 Ping.

[2016-07-08 21:28] EisenbergEffect commented on #116
@zewa666 Ping.

[2016-07-10 11:01] 7Pass opened #127 "Webpack: extract translation example"
I configured my webpack to automatically extract translatable texts, since aurelia-i18n does not have a scanner (yet), in case anyone is interested: https://gist.github.com/7Pass/99c72117a836daa516137601f296d884

[2016-07-10 12:27] Jenselme opened #128 "Can we have a new release with dependent modules in aurelia/build/resources?"
Hi,

In the process of updating the webpack loader, I found out that even if dependent modules are in aurelia/build/resources (as required by the new version) in master thanks to #121, the latest release doesn't have that. Can you make a new one to ease the update process?

[2016-07-10 12:46] EisenbergEffect commented on #128
We will have a batch of new releases on Tuesday.

[2016-07-10 12:46] #128 closed

[2016-07-10 14:43] Jenselme commented on #128
@EisenbergEffect OK, thanks.

[2016-07-11 08:36] Jenselme commented on #116
I have the same problem. I found a temporary workaround based on this comment: https://github.com/aurelia/i18n/issues/104#issuecomment-218963179:

In the HTML:
[code]

In the JS:
[code]

[2016-07-11 11:34] Jenselme commented on #116
I proposed a patch in #130. In the mean time, you can set `aurelia-i18n` to `git+https://github.com/Jenselme/i18n.git#jen-rel` in your package.json to get my patched version which solved it for me.

[2016-07-11 14:15] EisenbergEffect commented on #125
@zewa666 Ping.
@OzgurDogan Any interest in submitting a pull request to fix this?

[2016-07-11 14:23] OzgurDogan commented on #125
@EisenbergEffect was planning dive into it, but unfortunately didn't had the time to prepare a fix.

[2016-07-11 14:39] EisenbergEffect commented on #127
Looks awesome!
Would you be interested in working this into a Webpack-independent library? That's something we could then use across all build systems to help out the community.

[2016-07-11 14:39] EisenbergEffect commented on #127
@zewa666 I know you were thinking about or working on something like this. This seems like a good opportunity to help move that effort forward.

[2016-07-11 14:43] 7Pass commented on #127
The config I'm using cannot extract translations using `TValueConverter` yet as `i18next-scanner` does not support that case. I guess I can create a small npm package to make it easy to install.

[2016-07-11 14:44] EisenbergEffect commented on #127
Maybe just start with a new Gist that's refactored to be less webpack-specific. Then we can open up some conversation with @zewa666 on it and see where this leads?

[2016-07-11 16:47] 7Pass commented on #127
@zewa666: I've created https://gist.github.com/7Pass/96c6f3dacc9931d9bcdcb4d5bc68c2d8 so that the script can be used outside webpack. Next step would be how to extract values translated with `TValueConverter`. I have not checked case with attribute prefixes though, but that should be a simple step after the current extraction to separate extracted string into individual strings for every property,

[2016-07-13 13:45] maroy1986 commented on #114
I see that the latest wave of update of yesterday for the RC of Aurelia didn't update aurelia-i18n, any news on a fix for this bug and hopefully some more fix to be released soon?

[2016-07-13 13:47] EisenbergEffect commented on #114
@zewa666 is on vacation. Everyone needs a rest :) He'll be looking into these issues when he returns, which shouldn't be much longer.

[2016-07-13 13:47] EisenbergEffect commented on #114
Pull Requests are welcome as always.

[2016-07-13 14:36] maroy1986 commented on #114
I just founded that somehow, comments nodes are passed through the function. Since a comment tag in HTML didn't have any property, hence, it doesn't have a querySelectorAll function neither. I made a quick fix to skip those nodes on my local copy but I'm not sure this is the best nor the real solution beside I think it doesn't make sense to parse those comment, except if we can use them to output

[2016-07-18 15:39] AdamWillden opened #133 "Performance issue when displaying translated tabularised data sets"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-rc.1.0.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
5.11.1

* **NPM Version:**
3.10.2

* **JSPM Version**
JSPM 0.16.34

* **Browser:**
Only tested Chrome & IE 11

* **Language:**
ESNext

**Current behavior:**
Tables with 120 rows and 5 columns of translated data causes the browser

[2016-07-18 15:41] AdamWillden commented on #133
Oh it might help to say that I'm using the t binding behaviour when displaying the table. Is there a difference between the using the t attribute vs binding behaviour vs value converter?

[2016-07-18 15:44] EisenbergEffect commented on #133
@zewa666 Please look into this.

@AdamWillden We usually recommend using ui-virtualization for scrollable or paginated tables of data. It's far more efficient. See the same-named repo here for more information.

[2016-07-18 15:46] AdamWillden commented on #133
@EisenbergEffect actually I did try it (aurelia-ui-virtualisation) and I couldn't get it to work... I didn't raise an issue though, I just abandoned ship.

[2016-07-20 08:41] AdamWillden opened #134 "Enhancement: Load namespaces dynamically upon page activation using a decorator"
**I'm submitting a feature request**

Provide a decorator to load a namespace upon initial activation. Not sure how common this is but I have my namespaces set up matching my main navigation.

Previously I was loading all files on application load. I'm about to add this to all my activate calls to load them dynamically as required:

[code]

It struck me that a decorator could probably do this quit

[2016-07-20 09:39] AdamWillden commented on #134
This code works:

[code]

As a side note. I wasn't sure how to handle dependency injection with decorators to get an `aurelia-i18n` instance. I'm not sure it's even possible. I realised that i18next is effectively a singleton so injected that directly.

The issue I then faced (because this is in my own codebase) is that I had to create a direct dependency upon i18next which previously I didn't hav

[2016-07-20 10:21] AdamWillden commented on #134
I suspect the decorator could do with placing a `Symbol` on the target to save the state (i.e. it has been loaded so don't load it again on the next activation).

Also I don't handle the case where it might fail to load for whatever reason.

[2016-07-20 10:24] hadrienl opened #135 "Fail to load in Safari"
Unhandled promise rejection – TypeError: undefined is not an object (evaluating 'this.services.languageUtils.toResolveHierarchy')

**I'm submitting a bug report**

* **Library Version:**
1.0.0-rc.1.0.0

**Please tell us about your environment:**
* **Operating System:**
OSX 10.11.5

* **Node Version:**
6.2.0

* **NPM Version:**
3.8.9

* **JSPM OR Webpack AND Version**
JSPM 0.16.39

* **Browser:**
S

[2016-07-20 13:01] EisenbergEffect commented on #135
@zewa666 Ping.

[2016-07-20 13:06] EisenbergEffect commented on #134
@AdamWillden I'm not sure I would consider this a good practice. The decorator you have hear doesn't really decorate the target. It's more of a side-effect decorator. I would really re-consider this approach. I don't think it's something we would put in the framework, regardless.

[2016-07-20 13:07] #134 closed

[2016-07-20 14:52] AdamWillden commented on #134
@EisenbergEffect I get what you mean, it's not adding metadata. I'll keep this in mind.

If I were to continue with this idea I guess the better course of actions would be to decorate the class by adding a symbol to the target assigned with the namespace to load. If it were possible I'd then look for that decoration that as a step during activation/binding and handle it appropriately.

I considere

[2016-07-20 15:21] EisenbergEffect commented on #133
Closing this for now. Please follow up on the virtualization library.

[2016-07-20 15:21] #133 closed

[2016-07-21 06:10] #116 closed

[2016-07-21 06:16] zewa666 commented on #127
@7Pass great work. That was something on my todo list for long time. Is that somehow comparable to https://github.com/i18next/i18next-parser? I would personally prefer to stick to the original repo and share their functionality but if that doesn't work maybe going on with your solution is the way to go.
May I ask you to test 18next-parser and see how that stacks up against your solution?

[2016-07-21 06:33] zewa666 commented on #125
@OzgurDogan thanks for the hint, I've updated the wrong code in the RelativeTime section. Will be available with the next release

[2016-07-21 06:52] zewa666 commented on #133
@AdamWillden can you come up with a simplified example for me to try this out. Would be interested to see whether we can do something about this even without the virtualization lib

[2016-07-21 07:01] zewa666 commented on #56
did those compilerOptions, mentioned by @atsu85 help @don-bluelinegrid?

[2016-07-21 07:32] AdamWillden commented on #133
@zewa666 welcome back off of holiday  (I read somewhere you'd gone for a week - hope it was nice)

I will sort something out as I do think there is probably something that can be done to get some improvement here. 3-4 seconds is a long time given the amount of data.

[2016-07-21 08:47] AdamWillden commented on #133
@zewa666 please see attached: [i18n-perf-issue.zip](https://github.com/aurelia/i18n/files/375485/i18n-perf-issue.zip)

The issue is with the binding behaviour after all. Try increasing the rows from 200 to 1000. You will see a big difference between the two.

Again this might be more an issue with the binding system than i18n. I'll leave it to the professionals.

[2016-07-21 09:50] mxl commented on #56
@zewa666 It seems that @don-bluelinegrid issue is not related to this issue and he's just posted it here instead of creating separate issue here or question on stackoverflow.com.

[2016-07-21 13:57] zewa666 commented on #133
thanks @AdamWillden, I'm pretty sure @jdanyow could be interested in this as well

[2016-07-21 14:07] don-bluelinegrid commented on #56
@mxl @zewa666

I posted the issue here because the i18n package is not working for me "out-of-the-box".

I am new to Aurelia, but am not new to JavaScript or JS frameworks.  What I've done is to first install the Aurelia skeleton project for Typescript-Webpack, and then install the aurelia-i18n package according to its README.  Then, I saw the compilation errors I posted above.

I then spent sever

[2016-07-21 14:11] mxl commented on #56
@don-bluelinegrid I mean that you should create new issue [here](https://github.com/aurelia/i18n/issues) and do not post it as comment to other issue, not related to yours.

[2016-07-21 14:17] zewa666 commented on #133
@AdamWillden of course Bindings will have to always be slower since they include both way bindings and the Event Aggregator used additionally adds more load to it. Funny enough I think the attribute translation should be the fastest, since it performs raw DOM mass operations.

[2016-07-21 14:17] don-bluelinegrid opened #136 "Problem with importing/compiling i18n and Backend in skeleton project"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-rc.1.0.0

**Please tell us about your environment:**
* **Operating System:**
OSX 10.11.5

* **Node Version:**
v4.4.7

* **NPM Version:**
3.10.3

* **JSPM OR Webpack AND Version**

* **Browser:**

* **Language:**
TypeScript

**Current behavior:**

I am new to Aurelia, setting up an environment for a new commercial product project.  When

[2016-07-21 14:19] don-bluelinegrid commented on #136
UPDATE**

I am new to Aurelia, but am not new to JavaScript or JS frameworks.  What I've done is to first install the Aurelia skeleton project for Typescript-Webpack, and then install the aurelia-i18n package according to its README.  Then, I saw the compilation errors I posted above.

I then spent several days trying to discover what was necessary to eliminate the errors, by reading some obscure

[2016-07-21 14:32] jdanyow commented on #133
the behavior does add more overhead because it's doing two things: rewriting the expression and attaching the signal.

Once https://github.com/aurelia/i18n/issues/107#issuecomment-220167972 is implemented it should become quite a bit faster because the expression rewrite will only happen once per expression instead of once per binding instance.  Give it a try and let me know if that speeds things

[2016-07-21 14:40] zewa666 commented on #133
Ok great, i planned that anyway as next Task. Will come back to both of you wether it helped

[2016-07-21 14:56] zakjan commented on #56
The original issue is fixed by tsconfig.json setting `"allowSyntheticDefaultImports": true`. Or `"module": "system"` sets this by default. Either of them should be included in JSPM skeletons.

[2016-07-21 18:18] davismj commented on #47
Looks like the bug is still present: http://stackoverflow.com/questions/38508408/i18next-appends-the-default-translation-namespace-to-my-namespaces

[2016-07-21 19:05] don-bluelinegrid commented on #56
@zakjan

I am not using JSPM, I am using Webpack.  So that setting did not help the issue for me.  I am using the WEBPACK+TS skeleton.

[2016-07-21 19:28] AdamWillden commented on #133
I look forward to hearing from you :-) I understand the binding behaviour is doing a lot more, I was surprised at the sizeable difference between them though.

[2016-07-22 03:15] kevmeister68 opened #137 "instance.i18next property is undefined after loading aurelia-i18n plugin"
**I'm submitting a bug report**

* **Library Version:**
Aurelia-i18n-1.0.0rc.1.0.0

**Please tell us about your environment:**
* **Operating System:**
Windows 7

* **Node Version:**
0.12.2 ???

* **NPM Version:**
3.8.9

* **JSPM OR Webpack AND Version**
RequireJS 2.1.20

* **Browser:**
IE 11

* **Language:**
TypeScript 1.7, Visual Studio 2015 Update 3

**Current behavior:**

Am loading the Aurelia

[2016-07-22 12:03] zewa666 commented on #133
@AdamWillden yep the proposed fix from @jdanyow did solve the problem. Rendering 1k of rows is now much faster. Will be available with the next release

[2016-07-22 12:04] zewa666 commented on #107
Done. @EisenbergEffect can you include this one as well into the new release?

[2016-07-22 12:08] zewa666 commented on #58
@EisenbergEffect yep the placeholder can now be addressed using the attribute approach. I'm do understand the benefit of what @heruan proposes, yet I feel that adding a 4th declarative approach to perform translations feels a bit like a overkill.
Current state of affairs is:

ValueConverters for onetime simple translations
BindingBehaviours for auto-updating translations
TAttribute as a full-flege

[2016-07-22 12:08] #58 closed

[2016-07-22 12:22] AdamWillden commented on #133
@zewa666 great news :-) thank you!

[2016-07-22 14:25] EisenbergEffect commented on #107
Sorry, what do I need to do exactly? 😆

[2016-07-22 14:56] hadrienl commented on #135
Same problem with bundled deploy.

[2016-07-22 15:34] hadrienl commented on #135
Ok it works by adding `intl`to the bundles.js on bundle mode only:

[code]

[2016-07-23 12:01] jdanyow opened #138 "Invalid argument propertyAccessor.setValue on IE 11"
@Jenselme commented on [Fri May 27 2016](https://github.com/aurelia/binding/issues/414)

Hi,

I just tried my Aurelia application on IE11 and discovered it is broken. I get a `SCRIPT87: Invalid argument.` error [here](https://github.com/aurelia/binding/blob/69d54dbebafe87738f89b8ac4109921544d202cb/dist/commonjs/aurelia-binding.js#L3460). It works fine in all other browsers (Firefox and Chrome).

I

[2016-07-23 14:32] zewa666 commented on #138
Yep i think I know what this is about, will get to it on Monday

[2016-07-23 14:35] zewa666 commented on #107
Just a note for next tuesdays release day so we can check wheter this issue got fixed with the recent release

[2016-07-23 14:40] zewa666 commented on #135
I m sorry but I don't have an iOS device so it's hard to replicate for me. Can you try to debug it a bit further to give me some guidance?

[2016-07-23 14:45] EisenbergEffect commented on #107
@zewa666 No release on Tuesday. Official 1.0 release is scheduled for Wednesday.

[2016-07-23 21:44] hadrienl commented on #135
https://www.browserstack.com/ ;)

[2016-07-26 07:17] zewa666 commented on #114
@maroy1986 and @cb-fred thanks for pointing out the issue. Actually more checks are needed for stuff like undefined elements or text-nodes as such I've fixed up the updateTranslations method a bit. Should be available in the upcoming release

[2016-07-26 11:33] maroy1986 commented on #114
Thanks @zewa666! I have to admit that was easy and more straight forward than I thought to fix after looking to your commit :)

[2016-07-27 08:23] cerealBoxx commented on #47
Is this bug going to be addressed soon?

[2016-07-28 06:12] zewa666 commented on #125
@OzgurDogan the new release is published, please check back whether it fixed your issue.

[2016-07-28 06:13] zewa666 commented on #114
@maroy1986 and @cb-fred the new release is published, please check out whether it fixes your issue

[2016-07-28 06:14] zewa666 commented on #107
@valichek, @swiftanthony and @charlespockert the new release is published, please check out whether it fixes your issue

[2016-07-28 10:55] jdanyow commented on #123
here's the code aurelia-validation uses to retrieve the DOM element associated with a binding:

https://github.com/aurelia/validation/blob/0.11.0/src/validate-binding-behavior.js#L12-L31

[2016-07-28 11:03] jdanyow commented on #123
@DerAlbertCom - I want to make sure I understand the question... is this what you are looking for:

[code]

[code]

In other words, you want the i18n attribute to localize the bound value of the custom element's title property, *without using i18n in the title binding directly*.

Is that correct?

[2016-07-28 12:27] maroy1986 commented on #114
I confirm it fix my issue. Everything's good now! Thanks!

[2016-07-28 12:44] zewa666 commented on #114
Great, going to close this, thanks for checking back

[2016-07-28 12:44] #114 closed

[2016-07-28 14:58] DerAlbertCom commented on #123
Now i don't know if understand you @jdanyow

But i think yes ;)

i would like to localize a bindable property of a custom element with the *i18n* attribute from the i18n plugin. In this sample the title property/attribute. Like we can do with plain html elements.

[code]

[2016-07-28 20:09] don-bluelinegrid commented on #56
I am still having some very confusing issues with this.  After getting my project into an unusable state due to changes in the skeleton projects and others, I did the following:

1. Downloaded the latest typescript-webpack skeleton.
2. npm install.
3. One by one, added back additional packages into package,json, and ran npm install, ensuring that the build succeeded - 'npm run build:dev'.

At one

[2016-07-29 03:21] gravsten commented on #136
I am having a similar problem with a TypeScript project. Was working until I installed aurelia-i18n following the instructions.

Now, build fails with the error message:
main.ts(2,20): error TS2307: Cannot find module 'aurelia-i18n'.
main.ts(3,21): error TS2307: Cannot find module 'i18next-xhr-backend'.

If you find a solution, please let us know.

Full disclosure: I hit a previous problem introdu

[2016-07-29 04:33] gravsten opened #139 "dist\aurelia-i18n.ts(1,21): error TS2307: Cannot find module 'i18next'."
**I'm submitting a bug report**
* **Library Version:**
1.0 (from Git 'master')
* **Operating System:**
Windows 8.1
* **Node Version:**
6.3.0
* **NPM Version:**
3.10.3
* **JSPM OR Webpack AND Version**
JSPM 0.16.41
* **Language:**
TypeScript

**Current behavior:**
When I run "gulp build-ts" or "gulp build-dts", I get an error TS2307 (Cannot find module 'i18next'.)
"gulp build" works fine, though.

[2016-07-29 14:51] don-bluelinegrid commented on #61
Where is the documentation on how to bundle the polyfill?

This is working fine on Chrome, but on Safari I see:

"Intl API is not available. Trying to load the polyfill."

This occurs even when running in live dev mode (npm start, in the typescript-webpack skeleton).

How do we get the polyfill to be included?

Thanks,
Don

[2016-07-29 14:56] don-bluelinegrid commented on #61
OK, I do see the README information about the polyfill, but it is referring to modifying the aurelia bootstrap() function.
https://github.com/aurelia/i18n#internationalization-api-polyfill

However, in the typescript-webpack skeleton, there is no bootstrap() function - it uses the configure() function in main.js.  Can we also get documentation on how to adjust the aurelia configure() function for

[2016-07-30 09:33] Leonidnei opened #140 "Cannot build aurelia-i18n with 'au build'"
**I'm submitting a bug report**

aurelia-i18n@1.0.0

Windows 7

* **Node Version:**
4.4.3

* **NPM Version:**
3.10.5

* **Browser:**
all

* **Language:**
 ESNext

**Current behavior:**

Cannot build my project by 'au build' when it contains aurelia-i18n in aurelia.json
Getting error: ('d:\aurelia' is the current dir)
   { [Error: ENOENT: no such file or directory, open 'd:\aurelia\src\i18n.js']

[2016-07-30 12:50] EisenbergEffect commented on #140
Please show me the configuration. Also, you need to configure i18n as well. The error seems to indicate that you haven't configured i18n itself.

[2016-07-30 13:51] Leonidnei commented on #140
I'm attaching aurelia.json
[aurelia.txt](https://github.com/aurelia/i18n/files/391906/aurelia.txt)
i18n configuration left from the existing project (except replacing XHR by Backend)

      .plugin('aurelia-i18n', async (instance) => {
          // adapt options to your needs (see http://i18next.com/pages/doc_init.html)
          instance.i18next.use(Backend);
          await instance.setup({

[2016-08-03 06:22] Leonidnei commented on #140
The following configuration worked (at least build proceeded until the next issue):

[2016-08-03 06:22] #140 closed

[2016-08-11 10:21] zewa666 commented on #123
I'm still not sure whether this is a good fit tbh. What you're doing this way is manipulating the component from outside like e.g. passing on styles to the component. Later is nice and fine and in worst case the rendering could look strange, but in case of translations it could interfere with the components internals.

So typically I would see the requested component using the i18n attribute by it

[2016-08-11 12:10] DerAlbertCom commented on #123
Because it is business logic it should not be done within the component.

My use case is that we have a `Toolbar`. This toolbar is used in different views and it display some information. These Information is in structurel the same, but the semantic and context is different.

e.g. On one view we display "{{selectedCount}} books selected", on  a other "{{selectedCount} users selected" (and more tex

[2016-08-11 12:38] zewa666 commented on #123
The nice thing with what belongs where is that nobody is right and nobody is wrong :)

I can see your point though, although I personally would prefer something else. So lets put this as an enhancement. In the end it can't harm and nobody is forced to use only one approach.

[2016-08-12 07:57] hadrienl opened #143 "context remain"
**I'm submitting a bug report**
- **Library Version:**
  1.0.0-rc.1.0.0

**Please tell us about your environment:**
- **Operating System:**
  OSX 10.11.6
- **Node Version:**
  6.2.0
- **NPM Version:**
  3.8.9
- **JSPM OR Webpack AND Version**
  aurelia-cli 0.16.2
- **Browser:**
  all
- **Language:**
  ESNext

**Current behavior:**

I have a locale key with a contextualised variant. If I set the co

[2016-08-16 06:04] zewa666 commented on #137
@kevmeister68 the underlying i18next service needs to be setup as well, which results in a promise returned. In order to be at proper timing you'd have to use the `i18nextReady` function to get hold of the init promise.

[code]

[2016-08-16 06:04] #137 closed

[2016-08-17 10:32] zewa666 commented on #125
closing due to inactivity

[2016-08-17 10:32] #125 closed

[2016-08-17 10:33] zewa666 commented on #107
closing due to inactivity

[2016-08-17 10:33] #107 closed

[2016-08-17 10:35] zewa666 commented on #104
Actually this would introduce a performance hit most of the times not necessary. In order to work around the issue do as mentioned above and treat the object as immutable, thus assigning new values should result in reassigning the whole object

[2016-08-17 10:35] #104 closed

[2016-08-17 10:36] zewa666 commented on #57
@valichek does this issue still exist?

[2016-08-17 13:00] zakjan commented on #135
I had the same issue, adding `intl` to bundle fixed the problem for me. However I should be better fixed directly in the `aurelia-i18n` code, by importing `intl` instead accessing it from `window` global scope.

[2016-08-17 14:26] zewa666 commented on #135
Maybe as an explanation why I didn't want to load the Polyfill automatically ... if you look at the distributed, minified version of the polyfill https://github.com/andyearnshaw/Intl.js/blob/master/dist/Intl.min.js you will see that it is 40kb in size. Now in most setups (except fancy Safari) that Polyfill won't ever be needed, but will introduce an unnecessary bundle/app size. As such the lazy lo

[2016-08-17 14:30] zakjan commented on #135
@zewa666 Non-bundled version loads fine.

[2016-08-18 07:04] zewa666 commented on #47
@valichek, @davismj, and @cerealBoxx I'm not sure why this happens but it seems to be related to the way, how i18next tries to resolve resources. One of the steps is to look for a fallbackLng including the default namespace called, you guessed it, `translation`, as such the 404 request is happening.

The only way I found to fix this is to set the fallbackLng to false

[code]

[2016-08-18 07:04] #47 closed

[2016-08-18 07:10] cerealBoxx commented on #47
Ok, thank you for the input.

[2016-08-18 07:19] zewa666 commented on #79
@valichek I think this bug is related to the old version of i18next. With the recent updates it should work. Could you take a look. Also make sure to update to the new options, instead `returnObjectTrees` its now called `returnObjects`.

[2016-08-18 07:25] zewa666 commented on #135
OK so for the bundled version I don't really see a way to make that happen automatically without wasting precious space as mentioned before. As such we'll just stick to the README information displayed here: https://github.com/aurelia/i18n#internationalization-api-polyfill

[2016-08-18 07:25] #135 closed

[2016-08-18 07:35] stsje commented on #135
I'm not sure that's acceptable. Aurelia is supposed to support all evergreen browsers, but now your i18n plugin doesn't even support the newest Safari version.
When wouldn't you want your app to work in the newest Safari? I bet most aren't just going to support Chrome, IE, Firefox, Opera and not Safari.

You mentioned the polyfill's size is an issue. Is it possible to find a polyfill implementing

[2016-08-18 07:38] stsje commented on #135
I see that the next Safari version (10) supports the API. Maybe we can delay the issue long enough till the next version comes out ;)

[2016-08-18 08:13] zewa666 commented on #135
@stsje yes Aurelia is supposed to support all evergreen browsers and even IE9. But the same way as you need to manually require the polyfill's for IE9 in order to not burden the rest of the *handsome* browsers, I see that Safari needs to be treated equally.

The minified version of the polyfill mentioned is already the bare minimum and so far I haven't found anything better. But a good thing is th

[2016-08-18 09:19] hadrienl commented on #135
Maybe you should highlight the doc part and explain how to set any environnements (jspm, requirejs, webpack) to be able to load i18n on safari. It fails on iOS which the biggest market share on mobile when bundling and may discourage teams trying Aurelia.

[2016-08-18 10:22] zewa666 commented on #135
I'm happily accepting PRs that describe that in such a detail you guys think would be sufficient.

[2016-08-19 07:20] Ullfis commented on #136
Her is an working typescript-webpack project with aurelia-i18n:

[https://github.com/Ullfis/i18n-aurelia-typescript-webpack](https://github.com/Ullfis/i18n-aurelia-typescript-webpack)

Typings used (custom_typings/custom.d.ts):
[code]

[2016-08-19 07:38] ben-girardet commented on #61
I'm having the same issue. Any documentation on how to include the polyfill when using Aurelia with `aurelia-cli` ?

[2016-08-19 07:57] zewa666 commented on #61
@ben-girardet the best thing is to follow this guide on how to install the plugin with AureliaCLI.  http://stackoverflow.com/documentation/aurelia/1916/aurelia-cli/19295/installing-the-aurelia-i18n-plugin#t=201608190755472714986

on top of that in order to install the Polyfill, you'd additionally run
`npm install intl`
and add the following to the dependencies in aurelia.json
[code]

[2016-08-19 08:04] ben-girardet commented on #61
Thanks @zewa666 I was missing the part in the `aurelia.json`

[2016-08-19 13:15] #136 closed

[2016-08-19 14:01] EisenbergEffect commented on #138
@zewa666 Where are we at with this issue?

[2016-08-19 16:00] zewa666 commented on #138
Had no chance to look at it, its the next on my todo though

[2016-08-19 19:23] NancyHebert commented on #56
Hi
I am having a different issue wondering if someone can point me in the right direction to fix this.
I pasted the error i am getting when I run the au run --watch from aurelia cli

Thanks
Nancy

`Starting 'writeBundles'...
Tracing app...
commonJs.convert: COULD NOT CONVERT: /Users/nancyhebert/Desktop/aurelia/todo/node_modules/aurelia-i18n/dist/aurelia-i18n.js, so skipping it. Error was: Error: L

[2016-08-22 19:33] tipa commented on #139
having the same problem. Is this going to be resolved?

[2016-08-22 20:19] zewa666 commented on #139
yes just take a look at the recent blog post which describes what you need to do for TS and the CLI. The same kinda applies for JSPM/Webpack. Its mostly an issue with installing the proper dts files

[2016-08-22 20:19] #139 closed

[2016-08-22 20:20] zewa666 commented on #123
@DerAlbertCom the recent release contains this feature. Please give it a try and reply whether its what you thought of

[2016-08-22 21:43] tipa commented on #139
After installing the new d.ts-file via `typings install dt~i18next --save --global
` get the following error now: `typings\modules\aurelia-i18n\index.d.ts(4,8): error TS1192: Module ''i18next'' has no default export.`

[2016-08-23 06:36] oneillci opened #146 "Attribute binding causes exception"
**I'm submitting a bug report**

* **Library Version:**
1.1.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
5.3.0

* **NPM Version:**
3.3.12

* **JSPM OR Webpack AND Version**
JSPM 0.16.42

* **Browser:**
Chrome 52 | Firefox 48 | Edge 25 | IE 11

* **Language:**
all

**Current behavior:**
When translating an attribute via t="[title]myKey", the

[2016-08-23 08:02] zewa666 commented on #123
@tipa thanks for the hint, a patch is checked in and should be released soon

[2016-08-23 09:42] VMBindraban opened #147 "Default selected options are empty"
**I'm submitting a bug report**
- **Library Version:**
  1.0.0

**Please tell us about your environment:**
- **Operating System:**
  Linux Ubuntu 16.04
- **Node Version:**
  4.4.4
- **NPM Version:**
  2.15.1
- **JSPM OR Webpack AND Version**
  JSPM 0.16.36
- **Browser:**
  Chrome 51
- **Language:**
  all

**Current behavior:**
When using a translation on the first option, no fields are default sel

[2016-08-23 10:12] zewa666 commented on #147
Gist.run is up and running again, please provide an example.

[2016-08-23 10:24] zewa666 commented on #138
@Jenselme I can't replicate this issue with your example on the latest version. Can you retry it and create a gist showing the error?

[2016-08-23 10:26] zewa666 commented on #123
related issue: https://github.com/aurelia/i18n/issues/146

[2016-08-23 11:36] VMBindraban commented on #147
https://gist.run/embed.html?id=761ac31e78d1110224f0e61e32db3e27

I couldn't import the i18n libary however. Without that the bug will not appear.

[2016-08-23 11:47] zewa666 commented on #147
I've replicated it locally and both values are selected in both examples. So it seams something else is causing the issue maybe? One thing I noticed is your translation key Select something. Is that really the key, containing a blank space?

[2016-08-23 12:01] VMBindraban commented on #147
I will look further then. I never had issues with keys containing a space.

[2016-08-24 09:55] VMBindraban commented on #147
It seems that when i add `[html]` to the `t` parameter, it works.

I can't find any leads that it's on my side besides that in `valueChanged()` the value gets changed into an empty array with a `ModifyArrayObserver`. Is it possible to trace the observer?

[2016-08-24 11:15] zewa666 commented on #147
ok so can you create a zip file containing the CLI src folder, aurelia.json and locales and upload it somewhere, so that I can reproduce it?

[2016-08-24 11:38] doktordirk commented on #147
@VMBindraban if you wanna use cli, you can use the swan-client-sample aurelia-cli branch

[2016-08-24 11:44] VMBindraban commented on #147
I managed to isolate the issue in git.run. You need to import aurelia-i18n (again).

https://gist.run/embed.html?id=761ac31e78d1110224f0e61e32db3e27

When you look in the console i am logging the `value` in `valueChanged()`.
The first change is to id 10 (which is good), the 2e change is into `Foo`. (which is the translated key, not good)

[2016-08-24 13:34] zewa666 commented on #147
Ok so after our conversation in gitter @VMBindraban I think we've traced the bug a little bit further.

If we console log the valueChanged with new/old value we get 3 calls:
[code]

call 1 is the default setting it from empty to the id.
call 2 is caused by this line https://github.com/aurelia/i18n/blob/master/src/i18n.js#L159
call 3 because of whatever.

@jjdanjow do you have an idea why the promi

[2016-08-24 15:01] zewa666 commented on #146
the latest release should fix this now

[2016-08-24 15:01] #146 closed

[2016-08-24 15:02] zewa666 commented on #123
fixed @tipa and @DerAlbertCom, ready for 2nd try :)

[2016-08-24 17:08] DerAlbertCom commented on #123
@zewa666 currently on vacation :tropical_drink:  but thank you for implementing this.

[2016-08-24 22:26] mttmccb opened #148 "Detect user language"
I'm just wondering if this is possible, at the moment when I do the setup I set the default myself, but it would be much better to do this based on the users preference. Based on my initial searches it seems like it's possible find this out by looking in `navigation.languages` and getting the first in this list (some browser inconsistencies here).

In additional to this it would be nice to observe

[2016-08-25 06:04] zewa666 commented on #148
One of the reasons I chose i18next as a foundation for Aurelia-I18N is that it comes with a [set of plugins](http://i18next.com/docs/ecosystem/) for different tasks. [One of them](https://github.com/i18next/i18next-browser-languageDetector) exactly being what you're searching for.

[2016-08-25 06:04] #148 closed

[2016-08-25 08:20] mttmccb commented on #148
Thanks @zewa666, I'll check it out, clearly my google-fu failed me ;)

[2016-08-25 08:58] zewa666 commented on #148
@mttmccb it would be a great help if you could post a short summary here, or if you're a blogger guy a link to a post about your findings

[2016-08-25 15:55] reneolivo commented on #56
I'm using Aurelia CLI and this doesn't work for me out-of-the-box :(

[2016-08-26 17:52] atsu85 commented on #139
@tipa, see [my comment](https://github.com/aurelia/i18n/issues/56#issuecomment-231227926)

[2016-08-26 21:00] mttmccb commented on #148
@zewa666 I will blog about it, hopefully this week if it goes smoothly :)

[2016-08-27 13:02] Jenselme commented on #138
I can't reproduce either with the latest version. Whatever the problem was, it is solved. Closing this.

[2016-08-28 08:39] #138 closed

[2016-08-29 08:18] RWOverdijk commented on #147
👍  Support + watching thread.

[2016-08-29 20:46] don-bluelinegrid commented on #136
After updating to aurelia-18n v1.1.1, this is now failing:

[code]

[2016-08-30 01:47] XuJinNet opened #149 "ReferenceError: Can't find variable: IntlPolyfill"
I bundle the polyfill intl, get the error when running:
`ReferenceError: Can't find variable: IntlPolyfill global code`

[code]
- Framework Version:
  1.0.2
- aurelia-i18n Version:
  1.1.1
- intl Version:
  1.2.4
- Operating System:
  OSX 10.11.6
- Node Version:
  6.3.1
- NPM Version:
  3.10.3
- Aurelia-CLI:
  0.18.0
- Browser:
  Chrome 52.0 | Firefox 48.0 | Safari 9.1.2
- Language:
  ESNext

[2016-08-30 06:52] XuJinNet commented on #149
A temporary solution:
[code]

[2016-08-30 07:00] zewa666 commented on #136
Can you somehow create a zip or upload your example to github, excluding the jspm/node folder, so that we can try to replicate your issue?

[2016-08-30 07:02] zewa666 commented on #149
hmm have you tried using the Intl.min file as your `main`? Does this issue occur on all browsers or just Safari?

[2016-08-30 09:03] XuJinNet commented on #149
Yes, i tried using the Intl.min file as main, the same problem.
This issue occur on multiple browsers(Tested: Firefox, Chrome, Safari)

[2016-08-30 09:04] XuJinNet commented on #149
@zewa666  Yes, i tried using the Intl.min file as main, the same problem.
This issue occur on multiple browsers(Tested: Firefox, Chrome, Safari).

[2016-08-30 12:14] don-bluelinegrid commented on #136
@zewa666

As noted here:
https://github.com/aurelia/skeleton-navigation/issues/628#issuecomment-240772452

and here:
https://github.com/aurelia/i18n/issues/136#issuecomment-236085256

This happens with the out-of-the-box typescript-webpack skeleton, as soon as the aurelia-i18n module is added.
typescript-webpack skeleton = works
typescript-webpack skeleton + aurelia-i18n = shows the build error

T

[2016-08-30 12:18] don-bluelinegrid commented on #136
@zewa666

Also please note: https://github.com/aurelia/skeleton-navigation/issues/628#issuecomment-243258174

[2016-08-30 13:36] don-bluelinegrid commented on #136
Seems to be related to changes from these lines:

[code]

to this:

[code]

which are now making reference to a type of <i18next.I18n>.  However, it looks like i18next is declared like so:
[code]

Is this correct?

[2016-08-30 13:47] zewa666 commented on #136
Did I mention already that I hate TypeScript? :)
Gonna revert that, it seems it was overambitious to add those types.

[2016-08-30 13:49] don-bluelinegrid commented on #136
@zewa666

Thank you.

Please post a comment when this is fixed, as it has currently broken my application, preventing it from running.

Thanks,
Don

[2016-08-30 13:51] zewa666 commented on #136
@don-bluelinegrid I'm sorry about that. I've already pushed the fix, just want to wait to include the active PR and will get a patch release out.

[2016-08-30 13:52] don-bluelinegrid commented on #136
@zewa666

Thanks.

[2016-08-30 21:07] mttmccb commented on #148
I hope [Using i18next language detection with Aurelia](https://mttmccb.github.io/using-i18n-language-detection-with-aurelia/) helps someone with this, it was pretty easy to get setup. There are a few other plugins I'll probably be trying out, like [i18next-resource-store-loader](https://github.com/atroo/i18next-resource-store-loader).

[2016-08-30 22:29] zewa666 commented on #148
Awesome, great post :plus1:

[2016-08-31 06:27] zewa666 commented on #149
funny enough I can't reproduce the issue with the CLI.
Here's my aurelia.json
[code]

have you made sure you've installed the dependencies via npm install --save?
Otherwise could you zip up your solution and upload it somewhere so I can take a look?

[2016-09-02 07:47] rmja opened #152 "Append translation to present attributes instead of overwriting them"
**I'm submitting a feature request**

**Current behavior:**
Any attribute already specified is overwritten with the translated value. For example:

[code]

Is translated to:

[code]

**Expected/desired behavior:**
The attribute value is appended to the already existing value, e.g.:

[code]

[2016-09-02 10:50] zewa666 commented on #152
actually I wouldn't see this as a bug. The general behavior of the attribute based translation is that the value of the attribute gets changed with the translated stuff. Why should it just do something else in case of the class attribute?

[2016-09-02 11:53] rmja commented on #152
I am questioning the general behaviour, not the class attribute in particular.
For example, when databinding e.g.:
[code]

Then, after databinding, given that `someProperty = "fa-someicon", the result becomes:
[code]

I believe this holds for all attributes, not only the class attribute, but I might be wrong.
I was just thinking that the behaviour should be the same for translation and databinding

[2016-09-02 12:44] zewa666 commented on #152
the general idea of translation is to replace the current text with a translated one.

`<span i18n="mykey">My previous text</span>` will result in `<span>MY TRANSLATION</span>` so without the previous text. Since the text is just another attribute of the element, all others behave the same.

Given above example would you expect the result to be
`<span>My previous textMY TRANSLATION</span>`

[2016-09-02 12:53] rmja commented on #152
Yes, that is why I was asking for appending the value particularly for attributes and not the inner content in general. Anyway, how about something like this then:
[code]
Or am I way off?

[2016-09-02 13:46] CedricMalfreytBL commented on #56
@zewa666 @EisenbergEffect  I also have the issue, and this is how I fixed it :

# `Cannot find module 'i18next'`

## In your tsconfig.json :

[code]
because i18next has no default export.

## Fix aurelia-i18n/index.d.ts :

`Promise<I18next.I18n>;` instead of `Promise<i18next.I18n>;`

# `Generic type 'Array' requires 1 type argument(s)` :

I fixed it by replacing `readMulti(languages: Array, namesp

[2016-09-02 21:51] dweber019 commented on #56
@CedricMalfreytBL your solution worked for me.

[2016-09-04 12:50] zewa666 commented on #152
hm I like the approach with the plus, allthough I feel it will overcomplicate the process a bit. The current issue though is that the attribute approach is not working as a typical binding since internally it just iterates over the dom object and modifies the attributes. This would result in a scenario where each re-validation would append the translation to the previous string

Default: `<i class

[2016-09-04 12:53] zewa666 commented on #79
Closing due to inactivity

[2016-09-04 12:53] #79 closed

[2016-09-04 12:54] zewa666 commented on #123
@DerAlbertCom I'm gonna close this one for now, if you experience any issues we can reopen it

[2016-09-04 12:54] #123 closed

[2016-09-05 06:26] rmja commented on #152
@zewa666 Thanks for the positive feedback. Maybe this idea is stupid, but would it be possible to have something like this:

[code]

It seems much more clean for attribute translation. But maybe this hooks too deep into the templating stuff?

[2016-09-05 23:54] TimBailey99 opened #153 "Use the df value convertor for ISO8601 strings"
When loading data from the server via JSON I'm sending them as ISO8601 strings.  Currently when I try and use the df value converter on these strings I get "RangeError: Provided date is not in valid range."

I propose to support automatic conversion to Date objects when a "date-like" string is passed via the df.

I have a pull request ready if this is a reasonable feature.

[2016-09-06 06:24] zewa666 commented on #153
First of all I wonder why you get that error since [this line](https://github.com/aurelia/i18n/blob/master/src/df.js#L15) should normally cover the string case and just return it as is. So could you create a small gist depicting the issue in order to fix it?

The automatic conversion is possible yet error prone. What are you doing in case of `1.7.2016`. Is that first of July or 7th of January?

A

[2016-09-06 07:53] TimBailey99 commented on #153
The line you refer to basically returns immediately if the values is a string AND is blank.
If the string is a date, I want it to be displayed not as is, but in locale format.

ie if the date is ISO 2016-09-06 and the locale is en-AU, then it should display as 06/09/2016 etc

What I propose is specific support for only Date.parse ISO8601/RFC2822 strings (https://developer.mozilla.org/en-US/docs/We

[2016-09-06 09:33] zewa666 commented on #153
oh ok so its just about the ISO8601. I guess the UTC timehandling part of it will be enough to support different timezones / winter/summer time.

Ok in that case we should only respect dates and iso8601 conform strings and for everything else return the value as is. We should also add a note about this in the readme.

I'd be glad to take a look at your PR so we can work out the details then based

[2016-09-06 22:25] TimBailey99 commented on #153
I added the pull request, please have a look.
I'm not sure that anything other that simple date strings makes sense, ie 2016-09-07 is good, but full datetimes then show in the timezone of the browser/OS which may or may not be what you are expecting.

#154

[2016-09-08 07:55] TimBailey99 commented on #153
Hmm, pesky dates.

So the tests all pass on my windows machine.  Its a fresh install and I'm sure I've not tweaked the windows date formatting settings.

The tests fail on CircleCi with the following error:

Assuming that on linux the default date format for AU is d/M/yyyy not the dd/MM/yyyy that is on windows.
Any suggestions on how to deal with this situation?

[2016-09-09 06:56] zewa666 commented on #153
Regarding your issue with Linux:
Adding options where you specify the expected result should fix it https://github.com/aurelia/i18n/commit/e4771df9cb8182be2ccf610238057967267c611e#diff-7d177e607b2505853c4d3b6a10d43cd7R88

besides that I've still reverted to taking the TimeZones in as it at least is a use case for some apps I've already written and seen. E.g. think of a event calendar showing meeti

[2016-09-12 06:31] VMBindraban commented on #147
Bump. Any progress on this?

[2016-09-12 11:16] jdanyow commented on #147
I'll take a look

[2016-09-20 06:54] DerAlbertCom commented on #123
is this merged in 1.1.2?

[2016-09-20 07:36] zewa666 commented on #123
Yep it is

[2016-09-20 15:48] a-jackson opened #156 "Value not appearing in multi select box when option is added when text is translated"
**I'm submitting a bug report**
- **Library Version:**
  1.1.2

**Please tell us about your environment:**
- **Operating System:**
  Windows 7
- **Node Version:**
  5.11.1

- **NPM Version:**
  3.10.2

- **JSPM OR Webpack AND Version**
  JSPM 0.16.34

- **Browser:**
  IE 11
- **Language:**
  ESNext

**Current behavior:**
When using a multiple select element, where the options are populated with a

[2016-09-21 10:01] VMBindraban commented on #147
@jdanyow Any news on this?

[2016-09-21 15:24] zewa666 commented on #156
I think this could be related to this issue: https://github.com/aurelia/i18n/issues/147

[2016-09-22 03:53] ielcoro commented on #149
This occures only when trying to load locale data, either via intl.complete or manually loading provided jsonp locale data.

Since [this commit ](https://github.com/andyearnshaw/Intl.js/commit/7bd583ba26523003f4fa2abd6efecb997007bf7e)in Intl, The locale data files expect the IntlPolyfill variable to be avaliable as global, [en.js](https://github.com/andyearnshaw/Intl.js/blob/master/locale-data/jso

[2016-09-22 09:36] a-jackson commented on #156
I think it might be related but there is something different because mine works in Chrome, this only affects IE.

[2016-09-23 18:50] itsfelipesan opened #158 "Cannot read property 'toResolveHierarchy' of undefined"
Hello, I have followed many tutorial from the internet and your documentation, but when I use the setLocation, I'm getting the error "Cannot read property 'toResolveHierarchy' of undefined".

I have created a folder called "locales" and two subfolder "pt-BR" and "en" at the same level of main.js file.

Does someone know what could happening?

Here are some codes:

[code]

[code]

[2016-09-26 03:51] EisenbergEffect commented on #158
Please ask question on Gitter or Stack Overflow. We only use Github to track bugs and features.

[2016-09-26 03:51] #158 closed

[2016-09-26 06:03] zewa666 commented on #158
@itsfelipesan I can't think of a reason why this is happening, Just built up the same example as you and everything works. Try setting debug to true and see if you get other info, otherwise give Gitter / SO a try as proposed by Rob, as this is certainly no bug

[2016-09-26 07:08] zewa666 commented on #156
To be totally honest, I have absolutely no clue why this happens. What is even crazier, is the fact that inspecting the DOM in IE11 shows that the translated values are supposed to be there. The new textnode with the translation is created and attached as well. So ... I can only think of a relation to the binding process mentioned in the related issue.

[2016-09-26 08:21] a-jackson commented on #156
I'll be honest, kind of glad to hear you say that :) I spent a few hours looking at this myself before I submitted it and thought I was going a bit crazy because I could find nothing wrong. Like you say, it's there in the DOM.

Have you got any suggestions for a workaround? This is our very last outstanding issue and our clients use IE 11 exclusively.

[2016-09-26 09:30] zewa666 commented on #156
terrible indeed 😆 Instead of crushing our brains, lets hold of and see how the other bug gets fixed, maybe it will give us more insights in this one as well. Thanks for reporting it and sorry for not having a concrete answer yet

[2016-09-26 12:35] itsfelipesan commented on #158
Ok, I'll try. Thank you.

[2016-09-27 06:31] zewa666 commented on #156
I found the bug, yet not sure why it happens. https://github.com/aurelia/i18n/blob/master/src/i18n.js#L159 IE and Edge do strange things if the update process is called within a promise, thus chained to the end of the current task. If you remove the promise.then and instead call _updateValue directly it works. There was a reason for this deferred to make sure we do no translations if the service i

[2016-09-27 06:44] #153 closed

[2016-09-27 08:01] VMBindraban commented on #156
Does the bug you found also apply for #147 ?

[2016-09-27 09:01] VMBindraban opened #161 "Uncaught TypeError: number.replace is not a function"
**I'm submitting a bug report**

* **Library Version:**
1.1.1

* **Browser:**
Chrome 52

* **Language:**
ESNext

**Current behavior:**
Throws an error when using `i18n.uf(number)`

https://github.com/aurelia/i18n/blob/master/src/i18n.js#L80

[code]

**Expected/desired behavior:**
It should format the number.

[2016-09-27 10:10] zewa666 commented on #156
I'm pretty sure it is related to it. I've already bugged Jeremy to see how we can fix that properly.

[2016-09-27 10:13] zewa666 commented on #161
Thanks for the bug report, could you give me an example what the value was sent in? I guess the reason is that your Converter first sends in undefined/null or something, not being a number. If so the fix should be pretty obvious by just checking for those examples and returning the same result. If you like you could then also provide a PR in that case

[2016-09-27 10:15] VMBindraban commented on #161
The number of values i tired are between 1 and 380. No floating pointers.

[2016-09-27 10:17] zewa666 commented on #161
ok so could you verify that by adding `console.log(Number.isInteger(value))` in your toView function and see whether only `true`s are logged?

[2016-09-27 10:19] VMBindraban commented on #161
The formater gives a number. I will make a PR.

[2016-09-27 12:35] VMBindraban commented on #161
I am not really sure anymore what this function does.

When converting it to a string or give it a string it doesn't have the number separators.
When i give it  `100,000.000` as value, it returns as `1`.

[2016-09-27 12:37] #161 closed

[2016-09-27 13:10] zewa666 commented on #161
so the reason for this function was, if you give it a string, it should unformat it and return a number. So your issue is now solved?

[2016-09-27 13:37] VMBindraban commented on #161
It is solved yes. I thought gave it a number and it would format it.