[2016-09-27 13:38] zewa666 commented on #161
hehe no, thats what nf is supposed to do, unformat does exactly the other way

[2016-09-30 06:23] zewa666 commented on #57
closing due to inactivity. We will reopen if the issue still exists

[2016-09-30 06:23] #57 closed

[2016-09-30 06:25] zewa666 commented on #56
Seems like there is a solution for this. I'm going to close this for now as I do not clearly see what could be done on the plugin side. If anything comes up we can reopen the issue

[2016-09-30 06:25] #56 closed

[2016-09-30 06:27] zewa666 commented on #149
@ielcoro would you mind creating a PR for that? It'd be cool to finally get rid of those nasty loading issues.

[2016-09-30 07:14] CedricMalfreytBL commented on #56
@zewa666 My comment is only a temporary solution until someone fixes aurelia-i18n/index.d.ts !

There is a problem in aurelia-i18n/index.d.ts and someone (maybe you can) have to fix it by replacing `Promise<i18next.I18n>;` by `Promise<I18next.I18n>;`

[2016-09-30 09:32] zewa666 commented on #56
I'd be happy if you could provide a PR for that. So far I didn't have the mentioned issues, especially not in CLI apps if everything is done as depicted in [this article](http://blog.aurelia.io/2016/08/22/aurelia-i18n-update-and-cli-tutorial/).

[2016-09-30 12:46] CedricMalfreytBL commented on #56
@zewa666 EisenbergEffect changed `Promise<i18next.I18n>;` to `Promise<any>;` (lines 42 and 43 in aurelia-i18n.d.ts and in some other files) in the commit https://github.com/aurelia/i18n/commit/94820347c56841ed5edacdc878d6e9112b99f9d1 so this issue probably no more exists (haven't test it yet).

[2016-09-30 13:19] zewa666 commented on #56
Yeah thats what I thought. I changed that a while back, just didnt notice this issue is related. Sry about that. Ok so that means we can leave this one closed. Thanks for your help

[2016-10-03 06:23] ielcoro commented on #149
Sure! I have to review how to build the code locally first.

I expect to have the PR within this week.

[2016-10-03 09:33] zewa666 commented on #149
Thanks. The easiest  way is to clone the repository and `gulp build` your changes. Now over in a local CLI App you install the aurelia-i18n dependency by referencing your local folder: `npm install /path-to-your-aurelia-i18n-root` and perform all the other setup tasks the same way as described in the readme.

As of now whenever you gulp build you'll work with the updated code (it might be needed t

[2016-10-05 05:31] EisenbergEffect commented on #143
@zewa666 Can you look into this?

[2016-10-06 12:53] VMBindraban commented on #147
@zewa666 Bump, any progress? It's kinda delaying our project.

[2016-10-07 06:15] zewa666 commented on #147
Sorry about the delay, @jdanyow is pretty busy with getting things done for the Validation Plugin and referenced work in other framework parts. In the meantime can you @VMBindraban tell me whether changing the promised return to a straight forward one inside the updateValue method fixes your issue?

[code]

the easiest way to test it out is if you're using Aurelia CLI, to open up the `app-bundle.j

[2016-10-07 06:18] zewa666 commented on #143
Sure, @hadrienl sorry for the delay, could you come up with a small sample that reproduces the issue? It would help me very much to get straight at the action without having to second guess what the current and expected behavior is.

[2016-10-07 06:45] hadrienl commented on #143
https://www.dropbox.com/s/788e8mzidjq0zvv/aurelia-i18n-context-bug.zip?dl=0

[2016-10-07 09:30] zewa666 commented on #143
Ok so the thing is it seems to store any previous `t-params` and reuses them for the next `t` even if there is none provided. If I move your last t-params.bind  with context null to the 3rd, both the 3rd and 4th do work as expected.

Hmm interesting, could be that the last [changes here](https://github.com/aurelia/i18n/blob/master/src/t.js#L96) introduced a side effect.

Thanks for reporting @hadr

[2016-10-07 10:27] jdanyow commented on #147
@VMBindraban I took a look at the gist- couple question for you:

1. In association-select.html, there's a `repeat.for="option of options"`... where is `options` defined: https://gist.github.com/VMBindraban/761ac31e78d1110224f0e61e32db3e27#file-association-select-html-L4

2. In association-select.html, there's an option with no model.  Shouldn't this element have `model.bind="null"` or `model.bind

[2016-10-07 11:30] zewa666 commented on #143
ok its a regression introduced with [this commit](https://github.com/aurelia/i18n/commit/3060e7a647ce6daa0b4de824b358e221c6882e08) in order to cover [issue 116](https://github.com/aurelia/i18n/issues/116), which frankly was also reported by you :)

@Jenselme I've you have time, maybe you can also give this a shot, I'll try to create a patch for it in the meantime

[2016-10-07 12:33] zewa666 commented on #143
Wow this is new ... one section affects four Bugs ... There is a PR prepared I'll just have to make sure it covers the other bugs as well properly. This will be released soon.

[2016-10-07 12:36] zewa666 commented on #147
@jdanyow @VMBindraban ok I think I have now a better understanding of this Promise thingy ... it was introduced with a previous enhancement which turned out to introduce a lot of regressions. There is a new PR pending. As for this issue if @VMBindraban you could just verify that the change I [proposed previously](https://github.com/aurelia/i18n/issues/147#issuecomment-252161662) I can merge the PR

[2016-10-07 14:12] VMBindraban commented on #147
@zewa666 That didn't work.
`params` is always `undefined`, value is `- Select a value -`

@jdanyow I only kept de bare minimal to duplicate the issue:
The actual code can be found here:
https://github.com/SpoonX/aurelia-orm/blob/master/src/component/association-select.html
https://github.com/SpoonX/aurelia-orm/blob/master/src/component/association-select.js

`options` is an array containing object

[2016-10-10 09:38] dweber019 commented on #56
@zewa666 release https://github.com/aurelia/i18n/releases/tag/1.1.2 broke it again. Please fix like @CedricMalfreytBL suggested.

[2016-10-10 09:47] zewa666 commented on #56
how that? that release actually did fix that issue: https://github.com/aurelia/i18n/commit/c86cd3f

[2016-10-10 09:58] dweber019 commented on #56
@zewa666 Sorry did caught the right source. I'm retrieving the following console output:
`[default] /Users/tzhweda9/Documents/ProjectPrivate/aurelia-ts-boilerplate/node_modules/aurelia-i18n/dist/aurelia-i18n.d.ts:1:8
    Module ''i18next'' has no default export.`

[2016-10-10 10:11] dweber019 commented on #56
The issue is that I have to take the i18next.d.ts file from the aurelia/i18n repo and not the one from the typings registry.
If I install the i18next definition file like this:
`typings install dt~i18next -SG`
I get the error above.

[2016-10-10 13:17] zewa666 commented on #56
right, we had to do that because the official typings have an error, namely not exporting a default thing, which on the other hand works, if you simply use ES6.

[2016-10-11 07:53] zewa666 commented on #147
I've merged the PR anyway since its part of this bug as well. It definitely won't harm, but we need to closer look at the current issue. @jdanyow any new insights?

[2016-10-14 05:22] zewa666 commented on #149
@ielcoro any update on this one?

[2016-10-14 16:02] ielcoro commented on #149
@zewa666 Sorry, it's has been a tought week at work closing three projects, one slipped the date.... Anyway, I will to work on this tomorrow, if it's ok to you.

[2016-10-14 16:57] zewa666 commented on #149
Absolutely np, just wanted to ping you and see where we're at. Thx

[2016-10-18 09:37] Tim-Erwin opened #164 "Sometimes all translations are missing"
**I'm submitting a bug report**
- **Library Version:**
  1.0.0

**Please tell us about your environment:**
- **Operating System:**
  OSX 10.11, Windows 10
- **Node Version:**
  5.12.0
- **NPM Version:**
  3.8.6
- **JSPM OR Webpack AND Version**
  JSPM 0.16.15
- **Browser:**
  Chrome 53 | Firefox 42 | Firefox 49
- **Language:**
  ESNext

**Current behavior:**
In principle, everything works as expec

[2016-10-18 10:24] zewa666 commented on #164
I've never seen this issue so far and it feels somehow that some parts of your app might interfere with the startup process. Is there a chance you create a minimal example which can reproduce the issue?

I'm especially really curious how this can happen since all the things happen asynchronously and as such it should not be possible to come into such an situation.

A bloody hell of dirty fix would

[2016-10-18 10:38] Tim-Erwin commented on #164
Thanks for your reply. I really have no clue, what a minimal example would look like, because I cannot reliably reproduce the problem. Is there a way to log the translation data that is used? That could at least give a hint whether the problem is in the data or in the processing.

The startup process of the app is pretty straight forward. I'm using basically the defaults plus aurelia-dialog, aurel

[2016-10-18 17:41] ielcoro commented on #149
Well, that didn´t go as I expected...

I think we cannot fix the problem on aurelia's end. Intl either bundling Intl.complete or specific locale data, still throws the error.

In my analysis, we set up the intl instance too late (as we should, cause we are a module), and the locale data files start executing and call IntlPolyFill directly when the bundle is readed by the browser. I was trying to d

[2016-10-19 17:13] Jenselme commented on #143
@zewa666 any progress on this issue? I won't be able to look at it before next week though.

[2016-10-21 03:05] Croissong opened #168 "Custom element camelCase bindable properties bug"
**I'm submitting a bug report**

* **Library Version:**
1.1.2

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
5.11.0

* **NPM Version:**
3.5.2

* **Webpack Version**
webpack 2.1.0-beta.17

* **Browser:**
Chrome

* **Language:**
ESNext

**Current behavior:**

Custom element camelCase bindable properties are not detected when translating via html a

[2016-10-21 05:57] zewa666 commented on #168
@Croissong this makes kinda sense ... would you mind creating a PR and tests targeting the [updateValue](https://github.com/aurelia/i18n/blob/2136fdfe59ad60d0ffcf8062b960a32a3d375085/src/i18n.js#L152) method to address your changes?

[2016-10-21 05:58] zewa666 commented on #164
There is a new release pending which might could fix this as well. Can I ask you to hold of until this ones out and then do a retest? I'll ping you when its out.

[2016-10-21 05:59] zewa666 commented on #143
@Jenselme yep, there is a new release pending which should address this.

[2016-10-21 06:13] Tim-Erwin commented on #164
Ok, will test as soon as possible.

[2016-10-22 17:04] mar9000 opened #169 "i18n support and customElement/aurelia-materialize-bridge"
**I don't know if I'm submitting a bug report or a feature request**
- **Library Version:** 1.2.0
- **Operating System:** Linux Mint
- **Node Version:** 6.2.0
- **JSPM** 0.16.42
- **Browser:** all
- **Language:** ESNext

In i18n.updateValue() an attribute, in my case `md-label`, gets updated correctly with `t="[md-label]email"` when the locale changes. However parts of the custom element that depe

[2016-10-23 12:36] mar9000 commented on #169
This is definitely an aurelia-i18n bug.
Into the issue of the aurelia-materialize-bridge mentioned above you can find a testing project to reproduce the problem.
Basically everything is working with attributes without dash, like `foovalue`, the problem araises only with attributes like `foo-value`, and all the `md-*` attribute from the bridge. In `i18n.updateValue()` at this point
[code]
the attri

[2016-10-24 09:04] zewa666 commented on #169
thanks for digging in, I'll take a look at it, clearly haven't tested for that use-case, which is a more than valid one.

[2016-10-24 09:52] zewa666 commented on #169
ok there is a fix in place for that which is scheduled for the next release

[2016-10-24 09:52] zewa666 commented on #168
ok there is a fix in place for that which is scheduled for the next release

[2016-10-25 18:16] #168 closed

[2016-10-25 21:06] zewa666 commented on #168
@croissong just for completness can you confirm that the recent release fixed you issue?

[2016-10-26 09:34] zewa666 commented on #152
@rmja I've added a first draft for this feature in a [new branch: append-to-present](https://github.com/aurelia/i18n/tree/append-to-present). I'd very appreciate you giving a look at it first before we continue with the work on it. If you need instructions on how to setup the branch for local testing just give me a ping on gitter

[2016-11-01 10:12] RWOverdijk opened #170 "Null values don't use default language"
**I'm submitting a bug report**

When the value for a translation is null, aurelia-i18n uses the stringified version "null" in stead of the value in the fallback language.

I've used a couple of tools, one of which is webtranslateit. In all of the tools I've used, empty translations get set as null. It would be _very_ nice if i18n then falls back to the fallbackLanguage (which is our master file,

[2016-11-01 11:27] zewa666 commented on #170
@RWOverdijk hi this is intentional by i18next. See the [official options docs](http://i18next.com/docs/options/) and search for `returnNull`. Setting this to false in your plugin configuration on the i18next object, should solve your issue.

Also note the `returnEmptyString` property, which comes in handy from time to time as well.

[2016-11-01 12:33] VMBindraban commented on #147
The PR did not resolve the problem. For now we are going to use `t="[html]string"` as temporary fix.

[2016-11-03 06:56] zewa666 commented on #149
So I'm still not entirely sure if that is something related fully to us, or due to the Polyfill itself. I think we should wait for [said issue](https://github.com/andyearnshaw/Intl.js/issues/218) to lay out a proper solution, until so we can either go with @XuJinNet's workaround or the one in [this comment](https://github.com/andyearnshaw/Intl.js/issues/218#issuecomment-242123177).

[2016-11-03 14:46] zewa666 commented on #143
@Jenselme, @hadrienl you guys had a chance to take another look with the recent version?

[2016-11-03 14:47] zewa666 commented on #156
@a-jackson could you give this a try after the recent release. I'm pretty sure this ones now fixed

[2016-11-03 14:49] zewa666 commented on #170
I'm gonna close this one for now, if you @RWOverdijk have any other objections we can reopen any time

[2016-11-03 14:49] #170 closed

[2016-11-03 16:14] Jenselme commented on #143
@zewa666 I had not. But I should be able to test this week end.

[2016-11-04 08:47] a-jackson commented on #156
Can confirm, it is working on 1.2.0.

[2016-11-04 10:01] zewa666 commented on #156
Thanks for checking back 👍

[2016-11-04 10:01] #156 closed

[2016-11-08 11:54] zewa666 commented on #152
@rmja did you have a chance to give this a try?

[2016-11-08 12:20] rmja commented on #152
Not yet. But it is on my list of todo's:)

[2016-11-08 17:31] zewa666 commented on #169
New release is out please check if this fixes your issue @mar9000

[2016-11-08 19:37] Thanood commented on #169
@mar9000 @zewa666
I've cloned https://github.com/Ullfis/esnext-i18n-errors and updated. The error is gone in this repo. 👍

There are multiple variations in this test repo.
This variation does not update: `md-value.two-way="i18n.tr('FirstName')"`.
I'm not sure if it should, because the return value of `i18n.tr('FirstName')`  is bound, right?

[2016-11-08 21:14] mar9000 commented on #169
This should be asked to  @Ullfis that actually is the one that set up the repo.

[2016-11-09 09:09] zewa666 commented on #169
using `i18n.tr('FirstName')` is just a one-off translation and shouldn't be directly consumed by templates. The way to use them there is either with the attribute ( i18n / t ), the ValueConverter ( | ) or the BindingBehavior ( & ).
So yep that is expected. Nevertheless, it's not part of this issue and if new problems appear I'd ask you to create a new dedicated issue for it.

Thanks @Thanood for v

[2016-11-09 09:14] zewa666 commented on #164
@Tim-Erwin any chance to take a look at it with the recent release?

[2016-11-09 09:25] Tim-Erwin commented on #164
Thanks for the ping, will try.

[2016-11-09 09:58] mar9000 commented on #169
Test successful. For me you can close this issue. Thx for fixing it.

[2016-11-09 10:23] zewa666 commented on #169
Thanks for Reporting and testing it.

[2016-11-09 10:23] #169 closed

[2016-11-09 13:22] mttmccb opened #172 "Issue with i18n and webpack"
**I'm submitting a bug report**

* **Library Version:**
1.2.1

**Please tell us about your environment:**
* **Operating System:**
OSX 10.12.1

* **Node Version:**
6.8.1

* **NPM Version:**
3.10.8

* **JSPM OR Webpack AND Version**
webpack 2.1.0-beta.25.

* **Browser:**
Chrome 54.0.2840.87

* **Language:**
TypeScript 2.1

**Current behavior:**
Fails with error `instance.i18next.use is not a functio

[2016-11-09 13:34] Tarpsvo commented on #172
It's super weird. I tried different versions of `aurelia-i18n` and `Webpack`, but can't get it to work even with the versions that previously worked.

[2016-11-09 13:38] mttmccb commented on #172
I've also updated skeleton-typescript (the non-webpack version) and that works ok.

[2016-11-09 13:55] zewa666 commented on #172
Ok I will have a look at it later today.

[2016-11-09 13:56] Tarpsvo commented on #172
Could be `i18n` (or some other dependency update) that breaks it. I can't get my project to work with ANY `aurelia-i18n` version anymore.

[2016-11-09 14:06] Tarpsvo commented on #172
Fixed it by fixing the `i18next` version to `3.4.4`.

[2016-11-09 14:13] zewa666 commented on #172
Its actually a 3rd Party issue https://github.com/i18next/i18next/issues/836. So @Tarpsvo your solution is the way to go until this external issue gets fixed

[2016-11-09 14:15] zewa666 commented on #127
Any updates on this one @7Pass ?

[2016-11-09 14:23] Tarpsvo commented on #172
Seems like an appropriate time to ask this question: why don't Aurelia modules like this use fixed versioning on their dependencies?

[2016-11-09 15:27] zewa666 commented on #172
Could make sense, the problem with this though is that it becomes harder to find out about certain issues. We also do build upon i18next in order to benefit from their experience and progress. Looking the version down as such would also reduce this benefit.

[2016-11-09 20:14] jamuhl commented on #172
hi there. i'm maintain i18next...the issue was introduced with adding the `module` entry point for webpack 2 which leads to a same build as used for rollup (transpiled but keeping import/export to enable treeshaking).

so right now we still investigate on what's the way to go: basically using `import i18next from 'i18next';` works as long you do not run babel over it again.

not yet sure what the

[2016-11-09 20:28] jamuhl commented on #172
for the sake of getting this semver compatible:

3.5.2 -> removed the module entry point and will work as used
4.0.0 -> adds the entry point module for webpack2

4.0.0 works with webpack2-beta under following conditions:

you only use import import i18next from 'i18next';
you do not run babel over that files

[2016-11-09 23:48] zewa666 commented on #172
welcome @jamuhl, nice to have you visiting us :)
Thanks for your explanation and proper SemVer handling. This definitely fixes our issue.
As going forward with the major upgrade I need to take a closer look any way, but so far its enough to close this issue.

Thanks to all for raising and helping to get this done

[2016-11-09 23:48] #172 closed

[2016-11-10 13:42] Tim-Erwin commented on #164
I deployed the app with the new version. Let's see if it helps...

[2016-11-10 13:53] dinkzilla commented on #56
This issue is still not fixed. See the pull request above.

The error is correct, there is no default export for i18next. As a result, the correct way to import it is to either use the old syntax:

`import i18next = require('i18next');`

or to import the entire file:

`import * as i18next from 'i18next';`

it will stop throwing the error if you set allowSyntheticDefaultImports to true, but this wo

[2016-11-10 15:00] zewa666 commented on #56
I still don't like this approach since it's one of the examples how typescript messes with proper ES6 code. So due to its bad understanding or lack of additional meta you need to screw the ES6 implementation.

Honestly I'd personally stick to `allowSyntheticDefaultImports` since Vanilla JS is the primary target. But I'll give it another look and if this is the only affecting part we can exceptiona

[2016-11-10 16:11] don-bluelinegrid commented on #56
@zewa666 @EisenbergEffect

To add an additional complication -

I recently upgraded my project's i18Next module to their 3.5.2, from my previously installed 3.4.4.  There is a breaking change in the 3.5.X i18Next, with the introduction of a '.default' object, which breaks all of the code in the aurelia.configure() function.  So, I had to revert to 3.4.4 of i18Next and lock that version in my packa

[2016-11-10 19:42] dinkzilla commented on #56
@zewa666 I'll happily change my pull request to the second of my options listed above, if you prefer that syntax.

I'm not sure I understand your argument that this is "screwing the ES6 implementation." I could be mistaken, but I don't even think the fact that ` import xxx from 'xxx'; ` falls back to a namespace import when no default module is present is even part of the ES6 standard (tried to fi

[2016-11-10 21:23] zewa666 commented on #56
@don-bluelinegrid yep, this was just released yesterday and Im currently abroad and havent checked what's new. But typically yes we keep in sync.

@dinkzilla, sry that was just my weekly TS rage mode ;) you're of course right, we want to offer ts support as well so your PR is more than welcome. Yeah changing to the other Import Syntax with * as ... seems nicer in my opinion. I just need to make su

[2016-11-10 21:45] dinkzilla commented on #56
@zewa666 Haha, I get that - Typescript can definitely be obnoxious (I actually voted against Typescript for the project I'm on). It didn't help that their documentation has not been great as I've tried to track this down.

And take your time. There is a very reasonable work around, so it isn't breaking or urgent. I'm about to call it a day, but I'll switch the syntax tomorrow.

[2016-11-11 09:53] zewa666 opened #173 "Docs help request: Getting started with Webpack"
Hello all,

as you may noticed the readmes guide is extracted and will soon be part of the Aurelia Hub.
Those are built out of the articles section of this repository. You can find the corresponding [file here](https://github.com/aurelia/i18n/blob/master/doc/article/en-US/i18n-with-aurelia.md)

During the process of moving the documentation, I've also cleaned up sections and restructured the getti

[2016-11-11 12:39] zewa666 commented on #173
Great work thx

[2016-11-11 12:39] #173 closed

[2016-11-11 13:32] 7Pass commented on #127
@zewa666 I have not tried https://github.com/i18next/i18next-parser but it looks good. I'm more used toward using Gettext, so i18next was not my best choice. Unfortunately, my project at work stays with Gettext so I cannot invest into i18next just yet. I'll close this issue as I do not have further contribution to provide.

[2016-11-11 13:32] #127 closed

[2016-11-11 14:44] zewa666 commented on #127
Thats quite unfortunate, nevertheless thanks for your time. Btw Id love to know how we could make Aurelia i18n interesting for you as well. Would something like https://github.com/i18next/i18next-gettext-converter help?

[2016-11-11 15:13] dinkzilla commented on #56
@zewa666 So originally my pull request was just a hacky change to the built dist file. At the time I didn't fully understand what was happening yet and just wanted to get the discussion going. I just went to make a more correct pull request and realized what you mean about "breaking the es6 implementation." I've never worked in a project that had to support both before, so I didn't realize they ac

[2016-11-11 15:26] 7Pass commented on #127
It has nothing to do with Aurelia at all. It's actually from i18next. i18next does support gettext, but one important part of gettext is support for plural forms, meaning having the source in English and provide both singular and plural form in the source, and let a tool extract it out. Most users tried i18next has resorted to using key based fallback instead, going away from gettext. Our applicat

[2016-11-22 07:09] Tim-Erwin commented on #164
No clue what you did there to fix it but the problem hasn't occurred since the update. Thanks.

[2016-11-22 07:09] #164 closed

[2016-11-22 07:18] zewa666 commented on #164
@Tim-Erwin there were a few things around promise resolution and delayed instantiation of the plugin. I guess one of those changes also fixed your issue. I'm really glad this got resolved. Please do not hesitate to reopen if you experience it again

[2016-11-28 06:29] zewa666 commented on #23
@wichert it's been a while, but seems there was an important merged tying into this issue. https://github.com/aurelia/router/pull/409 Wonder if you have time to re-validate how that applies to your story?

[2016-11-28 06:29] zewa666 commented on #143
I did again a test and the original issue is gone for me, as such I'm closing this one. We can reopen it if you guys @Jenselme, @hadrienl still experience issues

[2016-11-28 06:29] #143 closed

[2016-11-28 06:31] zewa666 commented on #152
Hi @rmja just a nice reminder whether you had chance to look at it :)

[2016-11-28 06:51] wichert commented on #23
@zewa666 It's certainly a related feature that is useful, but does not implement anything this ticket asks for.

[2016-11-28 07:06] zewa666 commented on #23
Thats true, its just the part about applying the translation, nothing regarding the hooks. Just wanted to let you know there is at least some progress going on ;)

[2016-11-28 20:42] EduwHS opened #176 "nf function return type in I18N class aurelia-i18n.d.ts"
I checked the implementation of this function and it's returning a NumberFormat, shouldn't the d.ts interface return : any?
It's currently returning a String
aurelia-i18n.d.ts line 46
nf(options?: any, locales?: any): string;

[2016-11-29 06:57] zewa666 commented on #176
@EduwHS thanks for the info. Would you like to create a PR for that? By doing so maybe the same applies to the DateTimeFormat?

[2016-11-29 13:44] #176 closed

[2016-12-03 22:29] chiphart opened #179 "Installing aurelia-i18n causes anchorIsContainer error during"
**I'm submitting a bug report**

* **Library Version:**
1.2.1

**Please tell us about your environment:**
* **Operating System:**
OSX 10.x|

* **Node Version:**
6.9.1

* **NPM Version:**
3.10.8

* **JSPM OR Webpack AND Version**
JSPM 0.16.48

* **Browser:**
Chrome 54 | Firefox 50

* **Language:**
TypeScript X.X

**Current behavior:**
Starting with the Aurelia typescript skeleton I can add i18next

[2016-12-03 23:31] EisenbergEffect commented on #179
Closing as duplicate. It's a regression in templating. Fix is going out today.

[2016-12-03 23:31] #179 closed

[2016-12-03 23:32] chiphart commented on #179
Good to hear. Thanks.

[2016-12-04 20:17] khenderick commented on #69
@zewa666 is this ```bootstrap``` function still something that exists in Aurelia? All examples all over the web are talking about the usual ```configure```, but I'm not sure how this translate into this ```bootstrap``` function. If this piece of docs is outdated, I'd like to find out how to properly detect and load the polyfill and open a PR to update it.

[2016-12-05 02:38] PWKad opened #180 "dot notation translations only appear to work if using the `i18n` at least once"
If you have -

[code]

Everything initially shows the `login.login` instead of the translation.

When switching one of the `t=` to `i18n=` they all start working.

[2016-12-05 03:21] PWKad opened #181 "TypeScript - typings/modules/aurelia-i18n/index.d.ts(4,8): error TS1192: Module ''i18next'' has no default export."
When using the aurelia-i18n type definitions the following error is thrown -

`typings/modules/aurelia-i18n/index.d.ts(4,8): error TS1192: Module ''i18next'' has no default export.`

Because the top of the type definition -

[code]
should actually be

[code]

[2016-12-05 03:58] PWKad commented on #180
This could absolutely be due to something else the more I see it, seems like with browserSync on reloads sometimes the translations aren't loaded or something.  Still investigating, will provide more info if I can figure it out, else I will close it.

[2016-12-05 06:35] zewa666 commented on #180
thanks @PWKad sounds like a weird race-condition

[2016-12-05 06:38] zewa666 commented on #181
this issue came up several times here and is a problem due to the way how we need to import the original source of i18next. Take a look here https://github.com/aurelia/i18n/pull/171 and the referenced issue

I'm happy for any inputs if you see a better solution.

[2016-12-05 06:51] PWKad commented on #181
Got it my bust for a dupe.

[2016-12-05 06:51] #181 closed

[2016-12-05 09:59] enrico-padovani opened #182 "Module ''i18next'' has no default export"
**I'm submitting a bug report**

* **Library Version:**
1.2.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.9.1

* **NPM Version:**
4.0.2

* **JSPM OR Webpack AND Version**
webpack 2.1.0-beta.22

* **Browser:**
all

* **Language:**
TypeScript 2.1.1

**Current behavior:**
When running webpack dev it prints out: [my_local_path]\node_modules\aur

[2016-12-05 12:11] zewa666 commented on #182
thanks for the feedback. This issue is already noted and tracked here via a PR
https://github.com/aurelia/i18n/pull/171

[2016-12-06 13:45] zewa666 commented on #69
bootstrap is indicating the use of a manual bootstrapping process. Take a look at the [docs here](http://aurelia.io/hub.html#/doc/article/aurelia/framework/latest/app-configuration-and-startup/4). If you feel like the information is too sparse we'll happily accept PRs

[2016-12-08 12:36] jcarruo opened #183 "aurelia-i18n - typescript - module not found"
**I'm submitting a bug report**

* **Library Version:**
1.2.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
4.6.1

* **NPM Version:**
3.10.8

* **JSPM OR Webpack AND Version**
JSPM 0.16.48

* **Browser:**
Chrome  54.0.2840.99 m

* **Language:**
TypeScript 2.1.4

**Current behavior:**

I have:

- Installed aurelia-i18n via jspm

- Installed type

[2016-12-09 03:23] EisenbergEffect commented on #183
Ping @zewa666

[2016-12-09 13:03] zewa666 commented on #183
@jcarruo I can't really replicate the issue.

Meantime it's even easier to get rolling and I'll update the README.
In short what I did was:

1. Download TS Skeleton
2. NPM / JSPM Install
3. jspm install aurelia-i18next
4. jspm install npm:i18next-xhr-backend
5. typings install dt~i18next --save --global
    typings install dt~i18next-xhr-backend --save --global
    typings install github:aurelia-i

[2016-12-09 14:51] PWKad commented on #180
Closing for now as I was unable to find a cause, it isn't easily reproducible as browserSync intermittently seems to refresh the page without translation applied and showing the `name.translation` string itself in the html.  If I can repro will re-open.

[2016-12-09 14:51] #180 closed

[2016-12-09 17:40] zewa666 commented on #182
@enrico-padovani I've updated the docs section on how to get typescript up and running properly. Please give it a read and see whether this fixes your issue. I can just second guess its either an issue due to allowSyntheticDefaultImporting or a missing typedefinition, both which are described now even clearer https://github.com/aurelia/i18n/blob/master/doc/article/en-US/i18n-with-aurelia.md

[2016-12-10 01:30] jcarruo commented on #183
`"allowSyntheticDefaultImports": true` was the key.  Thanks!!

[2016-12-10 01:30] #183 closed

[2016-12-10 13:37] enrico-padovani commented on #182
By setting allowSyntheticDefaultImporting to true does solve the problem. Thanks for the help!

[2016-12-10 13:37] #182 closed

[2016-12-14 20:46] gronostajo commented on #123
I'm affected by this too. I'm using Aurelia-I18N 1.2.3 and this doesn't work as expected:

[code]

Aurelia Context shows following properties:

[code]

[2016-12-14 22:01] zewa666 commented on #123
@gronostajo can I ask you for a Link to an example so I can take a look at the issue?

[2016-12-14 23:53] gronostajo commented on #123
Sure. Here's a [minimal diff to reproduce the problem](https://github.com/gronostajo/aurelia-i18n-bug/commit/5979156426cacd634bc8631c4a71cc6185c98530) and a [demo](https://gronostajo.github.io/aurelia-i18n-bug/). For me it looks like this:

![image](https://cloud.githubusercontent.com/assets/1347866/21206177/a51ab098-c260-11e6-9962-66f78ed5836b.png)

[2016-12-15 06:51] zewa666 commented on #123
oh man what an embarrassing issue, I've been [checking the value](https://github.com/aurelia/i18n/commit/2c45b08c8e8964131bcab4259c8474ff26042b42#diff-1e8d6c22d70a5ac18d47adf06afa1efeR241) instead of the presence of the attribute/bindable. Sorry about that.

Thanks for the nice example, this really helped me to get down quickly to the issue.
The fix will be out with the next release, in the meanti

[2016-12-23 12:20] mreiche opened #185 "i18n.updateTranslation() doesn't work with i18next.loadNamespaces()"
The following code
[code]
Loads the namespaces and updates i18n, but doesn't refresh the view.

[2016-12-23 12:32] zewa666 commented on #185
can you check whether this is a timing issue? E.g. just delay the attached update call.
Otherwise I'd like to ask you to provide a sample so I can take a look at your issue without having to recreate the whole environment

[2016-12-23 12:53] mreiche commented on #185
It seems not to be a timing issue. This doesn't work either:
[code]

This may take some time. I try to get a Gist running asap.

[2016-12-23 12:59] mreiche commented on #185
Meanwhile I got a hint. It works when I update the language:
[code]
[code]

[2016-12-23 13:21] mreiche commented on #185
Dammit.  It also works in my example gist: https://gist.run/?id=c867eee507b9cece7809eb95ccb6bea7

[2016-12-23 14:05] #185 closed

[2016-12-26 10:02] rmja commented on #152
@zewa666 First of all, merry christmas - and sorry for the extremely slow response time. I got the chance to test this now, but I am having trouble getting it to work. Here are the cases that I am testing:

[code]
The respective generated dom is:
[code]

So there seems to be some kind problem here. The expected class is `fa fa-fw fa-fire`.

[2016-12-27 07:07] zewa666 commented on #152
@rmja the current supported syntax would be `[+class]propertyname`. I haven't worked on interpolations yet. It should work with normal property names for now.

What was the idea of the colon besides that? So what is `device-classes` meant to be?

[2016-12-27 07:09] rmja commented on #152
@zewa666  The colon describes the translation namespace separator, so the translations are in the device-classes namespace, i.e. in device-classes.json

[2016-12-27 07:12] zewa666 commented on #152
oh I see what you mean. Just for the sake of it, could you store the destination into a prop `test` and use `i18n="[+class]test"` as your setting, just to see whether it works? I can work on your additional task then

[2016-12-27 07:56] zewa666 commented on #152
so the interpolations for themselves should work, it seems the issue is related to the namespace definition. Will take a look at it

[2016-12-27 08:00] zewa666 commented on #152
damn it ... all hold, i've tried it again and it works even with namespaces, just forgot to register them. So there must be something specific about your example. Can you share that setup somehow so I can take a look at it?

[2016-12-27 11:52] rmja commented on #152
@zewa666 I see what I am doing wrong. I was taking the github branch as a dependency, but it was using the files in the dist folder instead of those in the src folder, so the fix was not in use at all.
Is there an easy way to use the branch?

[2016-12-27 12:20] zewa666 commented on #152
the easiest thing would be to:

* clone i18n repo
* checkout branch append-to-present
* run npm install
* run jspm install
* run: gulp build (generates the dist files)
* npm link in root of i18n repo folder

now over at your app (cli or whatever)
* npm link aurelia-i18n

that will install said branch so you can test it.

Later on you can uninstall the local setup as usual with npm uninstall aureli

[2016-12-28 17:27] len-ro opened #186 "tsc semantic error"
**I'm submitting a bug report**

* **Library Version:**
1.1.2

* **Operating System:**
Linux (Ubuntu 16.06)

* **Node Version:**
6.2.0

* **NPM Version:**
3.10.6

* **JSPM Version**
JSPM 0.16.46

* **Browser:**
al

* **Language:**
TypeScript 2.2

**Current behavior:**

I am trying to get rid of all typescript semantic errors in a project based on aurelia typescript skeleton. One of the errors rema

[2016-12-29 06:32] zewa666 commented on #186
You should take a read at the [official i18n docs](http://aurelia.io/hub.html#/doc/article/aurelia/i18n/latest/i18n-with-aurelia/4). This is a known issue and results from the way how TypeScript handles synth default imports.

TL;DR use `"allowSyntheticDefaultImports": true` in your tsconfig and everything should be fine.

[2016-12-29 06:32] #186 closed

[2016-12-29 07:29] len-ro commented on #186
Thank you, haven't noticed the doc moved from git.

[2016-12-30 12:38] gronostajo commented on #30
For anyone trying to bundle translations in a JSPM/SystemJS setup: you're probably using `i18next-xhr-backend` which is unaware of bundles and attempts to pull translation files separately. Defining custom XHR function should do the trick:

[code]

(you may have to update `loadPath`, paths will now be resolved relatively to paths provided in `config.js`)

There's a similar guide for Webpack in [ba

[2016-12-30 12:50] zewa666 commented on #30
Meanwhile there is a custom Aurelia Backend loader doing exactly this. Its not released yet but you can find it in the master branch. As soon as the docs for this are in place its gonna be released

[2017-01-02 11:03] Tarpsvo opened #187 "Binding to data attributes does not work as expected"
**I'm submitting a bug report/feature request**
* **Library Version:**
1.2.3

Line in question:
https://github.com/aurelia/i18n/blob/master/src/i18n.js#L185

This line basically converts the attribute specified into camelcase (removing dashes), so if I bind to `data-content` for example, I will get the `dataContent` attribute on the element instead.

So basically:
`i18n="[data-content]something"`

[2017-01-02 11:15] Tarpsvo commented on #187
Just noticed this.

https://github.com/aurelia/i18n/commit/e70372c

Oh, well.

[2017-01-02 11:33] zewa666 commented on #187
@Tarpsvo hm don't know how that one slipped through. Thanks for the hint, fixed and scheduled for release

[2017-01-03 16:40] EduwHS opened #188 "Update typings aurelia-i18n.d.ts"
I'm submitting a request to update the typings which is currently using the version from 1.1.2 (current version is 1.2.3).

Thank you.

[2017-01-04 07:25] zewa666 commented on #188
@EduwHS thanks, we will double check when making the next release

[2017-01-07 14:13] Holi0317 opened #190 "Document: session explaining t-params is missing"
**I'm submitting a bug report**

* **Library Version:**
1.3.0

**Please tell us about your environment:**
* **Operating System:**
Linux (Arch Linux)

* **Node Version:**
7.3.0

* **NPM Version:**
4.0.5

* **JSPM OR Webpack AND Version**
(Not available)

* **Browser:**
all

* **Language:**
all

**Current behavior:**
On line 594 of [i18n document](https://github.com/aurelia/i18n/blob/master/doc/arti

[2017-01-09 13:18] #188 closed

[2017-01-09 17:26] llicht opened #191 "i18next typings incompatibility issue"
**I'm submitting a bug report**

* **Library Version:**
1.3.0

**Please tell us about your environment:**

* **Node Version:**
6.9.1

* **NPM Version:**
3.10.9

* **Language:**
TypeScript 2.1

**Current behavior:**
aurelia-i18n.d.ts contains the line "import i18next from 'i18next';".
However, the official typescript definitions for i18next (@types/i18next) do not default export anything from the m

[2017-01-10 06:26] zewa666 commented on #191
This issue is related to how TypeScript handles synthetic default exports. Please refer to this issue. https://github.com/aurelia/i18n/issues/186

[2017-01-10 06:26] #191 closed

[2017-01-10 06:30] zewa666 commented on #187
@Tarpsvo can you check this again, the latest release should have fixed it

[2017-01-10 13:20] Tarpsvo commented on #187
Cool beans, it works as expected. Good job and thanks a ton! :)

[2017-01-10 13:20] #187 closed

[2017-01-10 15:52] zewa666 commented on #187
@Tarpsvo thanks for reporting the issue

[2017-01-11 15:32] tbnovaes opened #192 "translation not working with globalResources"
**I'm submitting a bug report**

* **Library Version:**
aurelia-18n@1.2.3

**Please tell us about your environment:**
* **Operating System:**
OSX 10.12.2 | Windows 10

* **Node Version:**
6.2.2

* **NPM Version:**
3.10.6

* ** Aurelia-CLI **
0.23.0

* **Browser:**
all

* **Language:**
ESNext

**Current behavior:**
if I have a HTML file translated using i18n it works just fine. If I add this file t

[2017-01-11 17:10] zewa666 commented on #192
Hi @tbnovaes. Interesting never thought of this to be honest. Could you create a minimal example to take a look at it?

[2017-01-11 20:46] tbnovaes commented on #192
@zewa666 I'll try to reproduce it in a new project, and let you know the repo.

[2017-01-13 15:07] zewa666 commented on #190
ok thanks for the hint, I've updated the docs, will be pushed with the next Hubs release

[2017-01-13 15:07] #190 closed

[2017-01-17 17:07] zewa666 commented on #152
@rmja did you have a chance to give it a look?

[2017-01-23 02:22] peterver commented on #192
+1

I bumped into the same issue today, i18n is initialized correctly though, it's the value converters that don't appear to work for me.

if i try the following :

[code]

it doesnt work. But the following does work :

[code]

[2017-01-23 02:58] peterver commented on #192
After turning on debug of aurelia-i18n i found something rather peculiar :

![screen shot 2017-01-23 at 03 55 22](https://cloud.githubusercontent.com/assets/821415/22189896/e3efc21c-e11f-11e6-90e4-5a972a01b7c7.png)

Apparently calls for translations are being done before i18n has initialized? Since value converters are one-time binds that would explain why the full-fledged two-way bound 't' does w

[2017-01-23 03:08] peterver commented on #192
This is most likely not the best fix possible, but a workaround for now would be :

[code]

reference in i18next spec : [on-loaded](http://i18next.com/docs/api/#on-loaded)

[2017-01-23 07:58] zewa666 commented on #192
@peterver thanks for further investigation, @tbnovaes hope you had a chance to build a small example so we can take a look at your specific case

[2017-01-23 12:43] peterver commented on #192
@zewa666 you're welcome, feel free to mention me in any future comments as i am most likely dealing with the same issue as @tbnovaes in my stack

[2017-01-23 22:34] tbnovaes commented on #192
@zewa666 yes, I did build a new project, but I'm trying to add the same issue on it, because the behavior I'm having in the sample project is different from what I'm having in my real application.

[2017-01-24 10:28] zewa666 commented on #192
@tbnovaes awesome. Maybe @peterver you can help out with that as well

[2017-01-24 20:41] peterver commented on #192
what exactly is it you require @zewa666 ? :]

[2017-01-25 06:38] zewa666 commented on #192
@peterver What would really help me to debug issues is to have a small example at hand. Most of the time the issue is a combination of certain steps. How is the data defined, what were the init options, and then the specific use case itself. So instead of me trying to second guess what happened, a dummied down example greatly reduces the time and effort I have, and thus the bugfix can come in quic

[2017-01-27 16:13] bas080 opened #194 "Human readable durations."
**I'm submitting a feature request**

**Library Version:**
1.3.0

**Current behavior:**
There is currently no way to translate a duration to a human readable string. I understand the issue as it requires a way of defining durations. The simplest I can think of is by providing two dates and getting a human readable string. e.g.

**Expected/desired behavior:**
[code]

The `dd` stands for `Date Durat

[2017-01-28 19:32] zewa666 commented on #194
A good idea for an enhancement, allthough I'm not sure if this exceeds the plugins point. Calculating durations is not as straight forward as thought, think about leap years and varying formats (calendar, business e.g bank etc.). Thats just one part, after that creating a human readable format is another thing.

Should 3,660sec be 61 minutes, or 1 hour and 1 minute or 1 hour and 60 seconds? You se

[2017-01-29 14:22] peterver commented on #192
@zewa666 Sorry for the late reply, i'll put in some work tonight on a dumbed down version of my stack ( koa serverside and aurelia clientside ) to act as an example :].

[2017-01-30 02:01] peterver commented on #192
@zewa666 You can take a look at the following folder ( i didn't even have to use global resources ) https://github.com/peterver/aurelia-i18n-globalresource-issue

[2017-01-30 07:28] zewa666 commented on #192
Well I've tried everything to bundle your app locally on windows, but seems there are several issues with the package.json, not all dev-deps are included and the develop:app script fails with a missing preset env.

Nevertheless I think the issue could be in this line: https://github.com/peterver/aurelia-i18n-globalresource-issue/blob/master/src/public/app/main.js#L19

the setup method returns a pr

[2017-01-30 10:24] peterver commented on #192
@zewa666 ok well now i feel stupid :'), adding the return statement definitely works for me, even the global resources work perfectly

[2017-01-30 10:27] zewa666 commented on #192
nothing to feel stupid about, happened to myself more then often, which is a reason why I now setup projects always by coping the section from the hub 😆

@tbnovaes can you confirm that you're having the same issue?

[2017-01-30 10:39] peterver commented on #194
@zewa666 Just giving my 50cents on this done, but this doesn't sound like a job for i18n as it would most likely increase the size of the repo by a lot ( taking timezones etc into account ).

What would help tremendously is if someone could setup an example / article with custom value converters for use cases like this ( better to teach a man how to fish than give him a fish i guess ).

[2017-01-30 11:57] zewa666 commented on #194
@peterver we'd welcome such an article and I'm sure @EisenbergEffect would be ok to even post it on the main aurelia-blog. So whoever volunteers to do so, make sure to ping me in gitter and I'll help out where I can.

@bas080 I'd still be interested in your answer to this, since you opened the issue. Maybe you have some different use cases we haven't thought of yet.

[2017-01-30 13:09] tbnovaes commented on #192
@peterver @zewa666 no in my case I'm returning a promise. But when I try to reproduce the error in a new project, I can not. It is workig just fine. So I'll keep investigating, if I'm able to put it in a new project than I can reopen the case. Otherwise probably is something that I'm doing wrong some place else.

[2017-01-31 06:14] zewa666 commented on #192
@tbnovaes allright, I'm going to close this issue then and let us reopen it if you find out something new

[2017-01-31 07:56] zewa666 commented on #152
Closing due to inactivity

[2017-01-31 07:56] #152 closed

[2017-01-31 09:22] bas080 commented on #194
@zewa666, I can see that this feature surpasses the responsibility of aurelia-i18n.

[2017-01-31 12:23] #194 closed

[2017-02-09 14:37] RWOverdijk opened #197 "t attribute with slots produces error"
**I'm submitting a bug report**

* **Library Version:**
1.3.0

* **Operating System:**
OSX 10.x

* **Browser:**
Chrome 56

* **Language:**
ESNext

Combining the `t` attribute with slots causes an error to occur.

[code]

* **What is the expected behavior?**
I expect it to replace the content with a translation, if value is of type string (`null` gets skipped already).

* **What is the motivation /

[2017-02-10 06:33] zewa666 commented on #197
@RWOverdijk hi, can you come up with a small example that replicates the issue?

[2017-02-10 08:12] RWOverdijk commented on #197
Sure. Easy:

[code]

[code]

[2017-02-10 08:12] RWOverdijk commented on #197
@zewa666

Sure. Easy:

[code]

[code]

[2017-02-10 09:19] stsje commented on #197
Wouldn't you use the translation value-converter instead of the `t` attribute in this case?
[code]

[2017-02-10 09:23] bas080 commented on #197
@stsje, Using the t customAttribute allows you to implement translation in plugins without needing a hard dependency on translation. custom attributes are ignored while value converters that are not defined are not.

[2017-02-10 09:59] stsje commented on #197
@bas080 I see. Maybe the plugin authors should provide their own dummy implementation if the plugin isn't loaded? Abstract away the i18n dependency.

When the plugin is loaded, maybe it could check to see if the `t` binding behavior, custom attribute, or value-converter exist?
I think Aurelia's `ViewResources` can be used for it
[code]
I'm not sure if there's a better way of checking if the i18n p

[2017-02-10 10:48] RWOverdijk commented on #197
@stsje Using the attribute is an awesome way, as it's easy to supply a fallback. I solved this issue using a span, but I think it's still a bug.

[2017-02-10 11:37] zewa666 opened #199 "Update to I18Next version 9.0.0"
Besides keeping up to date with the next version of i18next, this will also likely solve a often stated issue with TS not understsanding syntheticDefaultExports per default.

See PRs issues:
https://github.com/aurelia/i18n/pull/198
https://github.com/aurelia/i18n/pull/196
https://github.com/aurelia/i18n/pull/171
https://github.com/aurelia/i18n/issues/191
https://github.com/aurelia/i18n/issues/183

[2017-02-14 21:38] zewa666 commented on #197
@RWOverdijk I can't replicate any issue with your mentioned example. The thing is that the custom attribute from label, will simply wipe all the contents of the label as such I can't see how this is going to create an issue. This is also the main use-case of the attribute based translation. Also providing null, means that your data isn't loaded or set, as such it won't touch the element and simply

[2017-02-15 08:22] RWOverdijk commented on #197
@zewa666 That works fine for me. It just doesn't work as soon as I add slots. Perhaps it's something in combination with something else in my application, if you can't reproduce it.

[2017-02-15 08:22] #197 closed

[2017-02-15 10:52] zewa666 commented on #197
Oki doki, if you manage to find the root cause and its still related to i18n lets reopen this one again.

[2017-02-23 16:54] mar9000 commented on #197
I think I encountered a bug/feature request related to this issue.

As you can see in this gist, I set up using ``aurelia-materiali-bridge``, https://gist.run/?id=c7e1c50ba6073c7c27c0fd2bb277e002 the last checkbox does not show correctly, see also the app.html comments.

This is due to the actual implementation of checkbox, see https://github.com/aurelia-ui-toolkits/aurelia-materialize-bridge/blob

[2017-02-24 08:46] zewa666 commented on #197
@mar9000 what would really help is maybe to expand the docs section and explain in short like you did whats happening and how you can work around the issue, namely the `span` including a small code example for the markup. If you would be up to creating a PR for that I think that could help others stumbling across the same problem

[2017-02-24 09:38] mar9000 commented on #197
@zewa666 I can do it.
Can I ask why you don't think this is a bug or at least a FR? Don't you think it's confusing that aurelia maps content into slot but aurelia-i18n does not? Just asking I don't know if it's possible to do it.

[2017-02-24 10:13] zewa666 commented on #197
well its no bug, thats what it was reported like. If you feel this makes a good candidate for a general use case, please lets open up a new feature request and address forward discussion over there, maybe with a link to this issue.

[2017-02-24 14:06] mar9000 opened #200 "aurelia-i18n breaks standard content projection done by aurelia"
**I'm submitting a feature request**

* **Library Version:** 1.3.0
* **Operating System:** gist run
* **Browser:** Firefox 50.1.0

**Current behavior:**
As you can see in this gist https://gist.run/?id=c7e1c50ba6073c7c27c0fd2bb277e002 the last checkbox is not displayed correctly. This depends on 2 things, one is the the implementation of the element ``md-checkbox``:
[code]
See https://github.com/a

[2017-02-28 07:00] zewa666 commented on #200
@mar9000 sorry for letting you wait so long. I did some research and I think we can handle those scenarios.
What would be helpful for the first step is to gather some examples we can test a future implementation against. I do envision something like this:

[code]

are those somewhat what you'd expect? Any other concrete examples are welcome

[2017-02-28 08:37] mar9000 commented on #200
@zewa666 those are components' internal implementations we are going to test right?
In this case that's what I was thinking about. In fact the first example it's equal to the checkbox implementation from aurelia-materialize-bridge. And names slots it's another important case even if I did not mention at first. More info when I could se the test together with the component use (where i18n will be u

[2017-02-28 16:31] zewa666 commented on #200
When we talk about Slots it also means we do support all standard scenarios like text, pre/append and html. The attribute would then act as usual by replacing/modifying all the slot contents and placing the new. So I guess the first case should be doable pretty soon.

The multi slot is something I'm not sure yet how to support since it would require a totally new syntax. How should the t attribute

[2017-02-28 17:44] mar9000 commented on #200
The simple slot example from the aurelia doc (http://aurelia.io/hub.html#/doc/article/aurelia/templating/latest/templating-content-projection/2) I think should work this way (supposing that the name Ralphie has a translation in every language):
[code]
At runtime the translation of ``ralphie`` should substitute ``<slot></slot>`` the same way that without translation ``<slot></slot>`` is substituted

[2017-03-01 12:45] stuartbloom opened #201 "loading viewmodel specific translations"
Hi there, I know this is a question and not an issue.

Is it possible, to load a global translations file in the setup of the plugin, but then to load a specific one for each viewmodel.

Thanks

[2017-03-01 13:05] zewa666 commented on #201
Hi there, yes you can add resources at runtime whenever required. The global thingy is done as described in all the examples and for dynamic additions just get hold of the i18next reference via the i18n service and call the [addResource/s/Bundle](http://i18next.com/docs/api/#add-resource) functions according to your needs.

Typically whenever you need to do any more complex stuff, chances are pret

[2017-03-01 13:05] #201 closed

[2017-03-07 19:36] paulharker commented on #56
The compiler warning ```Module ''i18next'' has no default export.``` issue continues to exist with the current version today. I have the following versions from npm:
**aurelia-i18n**     - v1.3.2
**i18next**             - v3.5.2
     (both the root version and the version that comes in with aurelia-i18n - I downgraded for
      compatibility, the current version available on NPM is 71.11!!! That's

[2017-03-07 19:51] EisenbergEffect commented on #56
@zewa666 Is this really an issue on our side? or is this a problem we need to report to i18next?

[2017-03-07 20:13] mxl commented on #56
@paulharker Please read carefully my comments [here](https://github.com/aurelia/i18n/pull/171#issuecomment-258476664) and [here](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/10006#issue-164321325).

[2017-03-07 21:57] zewa666 commented on #56
@EisenbergEffect it's neithers fault but actually a TS problem as it does not understand allowSyntheticDefaultImports without a tsconfig configuration

[2017-03-07 22:12] dinkzilla commented on #56
This has a great summary of this issue at the end.

#171

[2017-03-07 22:25] zewa666 commented on #56
I'm just wondering whether we should put that info using a
# BIG FONT SIZE
on the repos readme 😆

[2017-03-09 12:04] timfish commented on #192
I'm seeing this too using `i18next-xhr-backend`.

In all my custom elements added through `globalResources`, the `i18n` attribute doesn't work, whereas the `t` binding behaviour works fine.

[code]

[2017-03-09 14:36] zewa666 commented on #192
I dunno how await behaves here but have you tried returning the promise as mentioned above in the discussion?

[2017-03-09 14:51] timfish commented on #192
Yes, even the following doesn't appear to work:

[code]

[2017-03-09 15:12] zewa666 commented on #192
Can you create a new issue with an example gist? It does somehow sound like a new thing

[2017-03-09 15:20] timfish commented on #192
I'll create a repo based off a skeleton. My setup has been doing this for over 6 months. I've got loads of nasty `${'buttons.save' & t}` in my components back when I started.

[2017-03-09 15:56] timfish commented on #192
[This repository](https://github.com/timfish/aurelia-i18n-issue192) reproduces the issue.

`some-component.html`
[code]
Only displays the translation from the binding behaviour:

![image](https://cloud.githubusercontent.com/assets/1150298/23758159/1b699da2-04e9-11e7-9552-b6c69334f250.png)

I probably should have added it in two commits so you could see the changes I made from the typescript skelet

[2017-03-09 17:04] zewa666 commented on #192
ok this is definitely a new bug. The issue is the aliasing of the TCustomAttribute. Changing `<span i18n="some-text"></span>` to `<span t="some-text"></span>` will fix it meanwhile. I'll have a look whats happening here

[2017-03-09 19:34] AStoker commented on #192
Same issue here. Looking into it as well. For the sake of testing, I have a bare bones repo here: https://github.com/AStoker/i18nAttributeComparison

[2017-03-09 21:46] AStoker commented on #192
So just to add some details here, I've been digging through the code, and this is what _appears_ to be the order of operations.

1. Project loads up, and i18next gets "configured". In reality, it's not completely configured until Aurelia runs through it's `postTasks` queue (https://github.com/aurelia/i18n/blob/master/src/aurelia-i18n.js#L26). So the code that is responsible for registering the `i1

[2017-03-09 21:53] zewa666 commented on #192
That's as far as I was, so it's good to see we're on the same track. Utilizing preTask didn't help either, so I have to fiddle around and see how to let the aliasing part be executed earlier

[2017-03-09 22:03] AStoker commented on #192
Essentially, we would have to somehow piggyback off of when the `t` attribute is created, since Aurelia is going through all the resources at once. We can't wait for it to finish processing the resources, since it's too late for globals. Not sure exactly how to accomplish that, or if it's even possible/a good idea.

[2017-03-10 15:17] tbnovaes commented on #192
@zewa666 that's why I could not reproduce the issue on the example project I was creating. In my real code I was using `i18n` alias, but in the testing project I was using `t`, changing the `i18n` to `t` in my code made it work as expected.

[2017-03-14 19:18] zewa666 commented on #192
@tbnovaes, @timfish sry for not coming back to you guys in a while, but meantime, with the help of @AStoker, we've found the reason for the issue.

In order to properly fix this, we need to add a new feature to aurelias templating repo which is introduced with this PR https://github.com/aurelia/templating/pull/535.
Once this is done I'll update the docs and put some instructions on how to leverage

[2017-03-21 05:46] #192 closed

[2017-03-21 13:19] timfish commented on #192
Great to have this fixed. Once we have a new `aurelia-i18n` release, will there be any changes required or will the aliases just start working again in global resources?

[2017-03-21 13:25] AStoker commented on #192
You'll have to configure things slightly @timfish (It's probably worth documenting how to set up aliases, @zewa666)
But what you'll have to do is this:
[code]
Note, you can also use this for your `t-params` custom attribute too. Just pull in the `TParamsCustomAttribute` and do the exact same thing you did for `TCustomAttribute`.
So the `attributes` configuration option is no longer needed in your

[2017-03-21 13:34] timfish commented on #192
@AStoker Nice! Thanks.

I wasn't even aware `i18n` was an alias until stumbling across this issue. I'd decided to use it over `t` as it seems a little more explicit for what it's doing.

[2017-03-21 13:42] AStoker commented on #192
I had the exact same situation :P

[2017-03-21 14:24] tbnovaes commented on #192
Thank you! @AStoker @zewa666. Glad to here that this one is fixed!

[2017-03-28 09:36] timfish commented on #192
Tried this today with the new releases and `TCustomAttribute.configureAliases(['t', 'i18n'])` in the top of configure (as per @AStoker example) appears to break things and stop the app from loading.

I updated all aurelia dependencies:
`jspm install aurelia-animator-css aurelia-binding aurelia-bootstrapper aurelia-computed aurelia-dialog aurelia-event-aggregator aurelia-fetch-client aurelia-framew

[2017-03-28 10:45] AStoker commented on #192
@timfish, sorry, my mistake. I thought we could remove the attributes option, but we need to leave it in there for now.
Our fix was an initial one, we'd like to find a more elegant solution, but this provided us with a way to get roadblocks out of the way for people. So go ahead and just add your `attributes: ['t', 'i18n'],` code back in, and see if that works.

[2017-03-28 11:13] timfish commented on #192
Even with just ` TCustomAttribute.configureAliases(['t', 'i18n'])` added I get the above. It doesn't seem to matter if `attributes: ['t', 'i18n'],` is there or not.

I've cleaned out all the forks listed by `jspm` (although none were aurelia libs) and tried reinstalling them all from scratch but it didn't help, so I'm digging into the exception.

One of the expressions appears to be `undefined`:

[2017-03-28 11:35] AStoker commented on #192
I'll be at work in about an hour where I can dig a little more into this. Make sure you have the latest version of the templating engine too (1.4.0)

[2017-03-28 12:11] stuartbloom opened #204 "issue with building."
Hi

I am able to perform an au run and the application works perfectly.

When i perform a au build --env prod, the build runs, I then copy the files to my IIS folder, but when i browse to it I am getting the following error:

![image](https://cloud.githubusercontent.com/assets/7871566/24404155/ff345eaa-13b7-11e7-97ec-6ee9f0d2e30c.png)

I assume there is something missing in my aurelia.json file, b

[2017-03-28 12:24] timfish commented on #192
Thanks.

Yes, the exception is coming from within `aurelia-templating@1.4.0`
[code]

[2017-03-28 12:36] AStoker commented on #192
Just for kicks and giggles, does it happen when you don't use the `configureAliases` function?

[2017-03-28 12:38] timfish commented on #192
No, unfortunately not . It works fine when I comment out the call to `configureAliases `

[2017-03-28 12:39] AStoker commented on #192
Okay, that at least rules out us hosing the templating engine 😛

[2017-03-28 12:46] timfish commented on #192
Or fortunately not 😂

[2017-03-28 15:38] zewa666 commented on #204
hi, make sure you've the backend addon to the aurelia.json file as described here http://aurelia.io/hub.html#/doc/article/aurelia/i18n/latest/i18n-with-aurelia/2

[2017-03-28 15:40] stuartbloom commented on #204
Thanks for your response; but I do; file attached.
[aurelia.zip](https://github.com/aurelia/i18n/files/876230/aurelia.zip)

[2017-03-29 07:05] stuartbloom commented on #204
I have build a new application from the start and it works fine.

I must have something wrong with my current app.  I will go back and rebuild it.

Thanks for your time :)

[2017-03-29 07:05] #204 closed

[2017-03-29 21:50] timfish commented on #192
@AStoker Did you manage to reproduce this your end?

[2017-03-30 18:24] AStoker commented on #192
@timfish, sorry I'm just getting back to you, a few other things came up hard and fast. I just tested these changes out on my local machine, and they seem to work fine. Are you still getting this error? Can you recreate the error in a basic skeleton project?

[2017-03-30 18:34] timfish commented on #192
@AStoker thank. I'll get something together

[2017-03-30 18:41] AStoker commented on #192
Let me correct my previous statement, I don't get any errors in the latest. I still have a few things missing, so it's possible that I'm not set up correctly yet...

[2017-03-30 19:00] timfish commented on #192
It looks like it's caused by Aurelia dialog so that'll be the first thing I try.

[2017-03-30 19:51] AStoker commented on #192
Yah, my little hiccup was just some cache stuff. It's working on my end.

[2017-03-31 00:03] timfish commented on #192
The exceptions loading `aurelia-dialog` are because most of the built-in attributes are not in the `ViewResources` and it's one of the first modules that gets loaded. Remove `aurelia-dialog` and it dies when try and use the attributes later.

It took a while but I finally found the culprit:

- Take the basic Typescript skeleton
- Add i18n and use `configureAliases`
- `jspm install reflect-metadata

[2017-04-06 11:51] mohammedJ opened #205 "Aurelia relative time not translating correctly"
**I'm submitting a bug report**

* **Library Version:**
1.2.1

**Please tell us about your environment:**
* **Operating System:**
OSX 10.12.1

* **Node Version:**
5.10.0

* **NPM Version:**
3.8.3

* **JSPM OR Webpack AND Version**
JSPM 0.16.53

* **Browser:**
Chrome 57.0.2987.133

* **Language:**
TypeScript 1.8.9

**Current behavior:**
Following the documentation on aurelia developer hub under the

[2017-04-06 12:14] zewa666 commented on #205
hmm funny enough I can't replicate the issue over here. Can you create a small sample showing the error? Either gist.run or create a small repo and post the link

[2017-04-06 12:16] ry8806 opened #206 "i18n attribute not working in globally registered custom elements"
**I'm submitting a bug report**

* **Library Version:**
1.4.0

* **Browser:**
all

* **Language:**
all

**Current behavior:**
Using attribute [i18n] inside a globally registered custom element, does not work
"Locally" (using <require>) registered custom elements with [i18n] inside work

**Expected/desired behavior:**
i18m (and all registered attributes) work in globally registered custom elements

[2017-04-06 12:18] zewa666 commented on #206
Thats related to https://github.com/aurelia/i18n/issues/192.
Please see the instructions provided there for how to make it work.

[2017-04-06 14:07] mohammedJ commented on #205
@zewa666 I managed to narrow down the issue, on the standard skeleton app its working. When I add moment as a dependency and add the "interpolation" into the setup, thats when it breaks.
I am trying to find a way to upload the code

[2017-04-06 14:37] mohammedJ commented on #205
@zewa666 Sorry but i don't know how else to do this. I forked the repo and created a branch in which i am able to replicate it, heres the link. https://github.com/mohammedJ/i18n/tree/feature/i18n-moment-relative-time-issue/skeleton-typescript

[2017-04-06 15:01] zewa666 commented on #206
Actually I totally forgot about adding that. I would be very glad if you could do so @ry8806. To do that just edit the [https://github.com/aurelia/i18n/blob/master/doc/article/en-US/i18n-with-aurelia.md](i18n-with-aurelia.md) file in the repo and a create a PR. Thanks for the offer.

I'll close this issue for now, but when creating the PR please make sure to reference this issue.

[2017-04-06 15:01] #206 closed

[2017-04-06 15:28] zewa666 commented on #205
Alright ... found it. Well so thats a very dirty one you found there. The relative time feature is quite old and still leverages double underscores `__var__` as interpolation suffix and prefix.
So typically when you specify your own interpolation in the option you'd also override the prefix and suffix, which wouldn't be a problem as then those would be taken to update the relativeTime default tran

[2017-04-07 04:47] mohammedJ commented on #205
@zewa666 Thanks for the feedback

[2017-04-09 09:28] #205 closed

[2017-04-12 11:47] timfish opened #209 "Built-in attributes are missing when using configureAliases with reflect-metadata"
I've opened a new issue to cover my findings [at the end of this issue](https://github.com/aurelia/i18n/issues/192).

When using the new `configureAliases` methods with `reflect-metadata`, aurelia is missing all the built in attributes from `aurelia-templating-resources` and so any basic app will not load.

This can be reproduced by:
- Taking the basic Typescript skeleton
- Add i18n and use the ne

[2017-04-12 16:06] EisenbergEffect commented on #209
@zewa666 Can you look into this?

[2017-04-12 18:54] zewa666 commented on #209
@EisenbergEffect sure, @timfish I can't start with the repo mentioned since its lacking a `input-placeholder` whatever. Can you try to bring the repo to a buildable state?

[2017-04-12 19:55] timfish commented on #209
Sorry, my bad. Check this one out: https://github.com/timfish/aurelia-i18n-issue-209

[First commit](https://github.com/timfish/aurelia-i18n-issue-209/commit/dcf5e6825c6f2e5473f37c9f3cfcf5aefa344304) - Initial add skeleton
[Second commit](https://github.com/timfish/aurelia-i18n-issue-209/commit/e6915467217d18affae583eade8dd404c7d10b5a) - Basic i18n working with `configureAliases`
[Third commit](ht

[2017-04-13 06:06] zewa666 commented on #209
@EisenbergEffect wow that seems to be something really strange. Its not related to the aliases at all but if I do the following:

[code]

It's already enough to raise the issue.
Could it be that the bootstrapper/framework is not done yet and thus creating the issue?

[2017-04-13 06:17] EisenbergEffect commented on #209
Possibly, reflect-metadata is added too late....and so you get one method of storing metadata being replaced by another and they aren't reading the metadata from the same spot. Just a guess...

[2017-04-13 07:21] zewa666 commented on #209
@EisenbergEffect you're right. @timfish in your example if I remove the import of reflect-metadata in `main.ts` and change the index.html to look like:

[code]

everything works properly

[2017-04-13 07:32] timfish commented on #209
@zewa666 Thanks for tracking this down.

Its probably just enough to document this somewhere?

[2017-04-13 07:36] zewa666 commented on #209
I mean it would be nice if we could track down the reason why it doesn't work, but I suspect this will quite hard so for the begin a update for the docs would be the way to go.
Could you create a PR for that @timfish?

[2017-04-13 07:58] timfish commented on #209
Before `#typescript-support` I could add a reflect-metadata heading with some details, the above code and link to this issue?

[2017-04-13 08:04] zewa666 commented on #209
yeah that sounds good

[2017-04-13 08:54] timfish commented on #209
https://github.com/aurelia/i18n/pull/210

Is this an issue with Webpack/CLI too?

[2017-04-13 08:58] zewa666 commented on #209
hm I guess so

[2017-04-18 10:25] RWOverdijk opened #211 "t attribute colon in translation"
`t="00:00"` produces output: `00`. There's no key in my locale files with value "00:00" yet. Does the colon have special meaning?

`<span t="asa00:0asas0"></span>` produces `Hello! 0asas0` etc.

[2017-04-18 10:37] RWOverdijk commented on #211
Just heard this is "namespacing". Can this be disabled?

[2017-04-18 14:09] zewa666 commented on #211
Yes the colon is used by default as the `nsSeparator` in i18next. Take a look at their [options documentation](http://i18next.com/docs/options/). The idea is that you can split your translations among multiple translations files/categories and thus conceptually keep together whats defining a context.

To allow colons to be used as part of your key you'd have to define a different nsSeparator in th

[2017-04-18 14:14] #211 closed

[2017-04-18 14:57] zewa666 commented on #209
I'm closing this for now since it is documented. If we experience further issues we can reopen this one

[2017-04-18 14:57] #209 closed

[2017-04-20 16:54] bmarotta opened #212 "localesProcessor doesn't work"
**I'm submitting a bug report**

* **Library Version:**
1.5.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.8.0

* **NPM Version:**
3.10.10

* **Browser:**
all

* **Language:**
TypeScript 1.9.0

**Current behavior:**
First of all, the documentation is outdated. To get it working with aurelia-cli one has also to change the build.ts file and th

[2017-04-20 17:16] bmarotta commented on #212
OK. I found the solution. The json files must also be added to the "text" plugin section of the aurelia.json as below. Please update the documentation.
[code]

[2017-04-20 17:27] zewa666 commented on #212
@bmarotta we'd happily accept a PR for that. If you wanna give it a try, just [edit this file](https://github.com/aurelia/i18n/blob/master/doc/article/en-US/i18n-with-aurelia.md) and add your changes.

[2017-04-26 07:51] enrico-padovani opened #213 "IE11 error: Object doesn't support property or method 'isInteger'"
**I'm submitting a bug report**

* **Library Version:**
1.5.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.10.0

* **NPM Version:**
4.5.0

* **JSPM OR Webpack AND Version**
2.1.0-beta.22

* **Browser:**
IE 11

* **Language:**
TypeScript 2.2.2

**Current behavior:**
When trying to format a date the error occours.

`${myDate | df: { weekday: '

[2017-04-26 10:07] zewa666 commented on #213
@enrico-padovani thanks for checking that out. Good catch, this should be fixed with the next release. Meanwhile as you proposed just add the polyfill yourself to your app.

[2017-04-28 10:35] enrico-padovani commented on #213
I see this was addressed by 1.6.0 release. Tested and worked.

[2017-04-28 10:35] #213 closed

[2017-04-28 10:57] zewa666 commented on #213
@enrico-padovani thanks for the feedback

[2017-05-07 14:04] Robbe64 commented on #137
Run into the same issue. Please update the doc: http://aurelia.io/hub.html#/doc/article/aurelia/i18n/latest/i18n-with-aurelia/3

[2017-05-08 10:14] zewa666 commented on #137
I'm not sure why that happened for you, the original issue was fixed in the meantime. So it must be something related to your app trying to fetch data eagerly before the service is initiated. Typically the described approach in the docs should work.

Can you try to create a minimal example, reproducing the problem and open a new issue so we can take a look at it?

[2017-05-08 16:38] Robbe64 commented on #137
I got this propblem when I tried to use the in i18n bundeled backend. But I didn't got it running with the workaround described here.
I switched to i18next-xhr-backend and now it works without the workaround.

Don't know what's the reason for the problem with the bundeled backend but didn't tried again.

[2017-05-17 02:35] HIRANO-Satoshi opened #215 "uf() uses float for currency? uf100()?"
uf() parses a string into a number. It assumes currency is kept in float as written in the document.

[code]

But you know it is impossible to keep accuracy with float.

[code]

I think the current uf() causes problems if people use it for currency. Should i18n plugin have a method that converts currency into integers or BCD?

For example, uf100("10.20") would do as Number("10") * 100 + Number("20

[2017-05-17 06:28] zewa666 commented on #215
Hi @HIRANO-Satoshi the use case for uf was simply to unformat numbers and represent them without a style, perhaps even pass them on to other formatters. Your use case is valid though. uf100 would as such just remove two decimal places right?

So what you propose is a function that removes the decimal place at all? Like over here https://github.com/aurelia/i18n/blob/master/src/i18n.js#L82 to includ

[2017-05-19 13:37] salihbaki opened #216 "Phantomjs undefined is not an object (evaluating 'target.__useDefault')"
There is no error when running on browsers , but i have prerender service running and that service uses phantomjs.

When i remove .plugin('aurelia-i18n', (instance) => {  ...
phantomjs does not give any error and perfectly prerenders project.

I tried promise polyfills (bluebird).

But the error still there .

Error is shown at vendor-bundle.js

function ensureOriginOnExports(executed, name) {

[2017-05-19 14:56] zewa666 commented on #216
First of all it is always helpful if you create the issue using our issue template. As of now we'd have to second guess bundler/loader you've used, I guess its an aurelia cli app right? Which OS?

With the provided error information I can't really figure out whats going on. Have you tried adding additional polyfills to your setup to ensure that its not due to lack of supported features. you could

[2017-05-19 15:17] salihbaki commented on #216
I used angular-cli with typescript , OS is linux-ubuntu.
I also tried bluebird , promise polyfill , babel-polyfill ,

The problem is spesific when i use aurelia-i18n plugin ,Phantomjs gives error :

TypeError: undefined is not an object (evaluating 'target.__useDefault')

  http://www.chooseclick.com:8082/scripts/vendor-bundle.js:13659 in ensureOriginOnExports
  http://www.chooseclick.com:8082/scr

[2017-05-19 16:22] salihbaki commented on #216
So the solition to my problem was , first i used bluebird polyfill then i had to add create intl.js polyfill under /src/intl.js .

It looks like phantom js looks that file for i18n support.

[2017-05-19 16:33] #216 closed

[2017-05-25 10:55] B3zo0 opened #218 "Bindable called 'text' cause error"
**I'm submitting a bug report**

* **Library Version:**
1.6.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
7.9.0

* **NPM Version:**
4.2.0

* **JSPM OR Webpack AND Version**
webpack 2.5.1

* **Browser:**
Chrome 58.0.3029.110 (64-bit)

**Current behavior:**
I have a custom element which has a bindable called text. I want to use the T attribute

[2017-05-25 17:17] zewa666 commented on #218
Hmm that's a good question. Actually I think the plugin should give you a warning or at least handle the case somehow. I'll take a look at it next week, but we will definitely do something about it. Thanks for reporting

[2017-05-29 05:51] zewa666 commented on #218
I thought about how we should go about this. Your proposed solution to change the predefined keys to be omitted if a bindable with the same name exists, sounds a bit contraproductive as it would disable the opportunity to do exactly what they're supposed to do. In most cases I do feel that a simple renaming/aliasing of your bindable should solve your issue. So what we could do instead is log a war

[2017-05-29 09:01] B3zo0 commented on #218
Hi @zewa666!
I did rename my property so it won't cause error. I like that warning, I think it would make sense to print it if a property which is one of the reserved word can be found in the element. To be honest it was my fault because I didn't read the doc carefully it says that it is a reserved name. I'll create a gist later.

[2017-05-29 09:32] zewa666 commented on #218
Yep thats the way to do it, only show the warning if the key is one of the reserved words. I'll create a PR in a min for that

[2017-05-30 08:19] HIRANO-Satoshi commented on #215
There is no browser support for parsing numbers by locales. *parseFloat("٣٣٫٣٣")* does not work, for example.

i18next does not have locale based parsing of numbers, right?

I think globalize is needed.

[2017-05-30 10:35] zewa666 commented on #215
Yes that's true and it's clearly not the intention to replicate other plugins, so people needing specific support should head out to numeraljs or globalize

[2017-06-02 05:59] HIRANO-Satoshi commented on #215
I see.

Here is an example of parsing currency and converting it to an integer having currency*1000 for avoiding error of floating point numbers. 1000 is because some currencies have three digits after decimal point.
Although it is not suitable to a-i18n, it might be useful for somebody.

big.js is a small library for arbitrary-precision decimal arithmetic.
You can use *int1000* and *bigDecimal* f

[2017-06-19 19:03] devteamexpress opened #221 "Failed to load translation with aurelia backend and latest webpack 2.6.1"
I'm submitting a bug report

Library Version:
1.6.1
Please tell us about your environment:

Operating System:
Windows 10

Node Version:
6.11.0

NPM Version:
3.10.10
Webpack
webpack 2.6.1
Browser:
Chrome 58.0.3029.110 (64-bit)
Current behavior:

I followed the aurelia docs in terms of installing the i18n aurelia plugin into a webpack project. I am using the aurelia loader backend configuration as s

[2017-06-20 14:47] dkent600 opened #222 "options.attributes property is applied twice, is incorrectly documented, and plays poorly with typescript"
In [this article](http://aurelia.io/hub.html#/doc/article/aurelia/i18n/latest/i18n-with-aurelia/3)  you call for adding `['t', 'i18n']` in two different places (which has strong code smell).

One of the two places is where setting an `attributes` property on the i18n `options` object that is passed to `setup` and then directly on to `i18n.init()`.  Your docs state: "adapt options to your needs (se

[2017-06-20 14:50] dkent600 commented on #221
I am about to attempt the same thing and have been anticipating that this could be a problem.  :-(

[2017-06-20 14:52] dkent600 commented on #221
I also have worried about using `aurelia.loader` -- whether that is going to automatically do the webpack thing.

[2017-06-20 15:51] zewa666 commented on #218
@B3zo0 the recently released version should fix this issue.

[2017-06-20 15:51] #218 closed

[2017-06-20 16:17] zewa666 commented on #222
Hi @dkent600. Yes the attributes option is an aurelia i18n custom one. Its similar to the `selectorAttr` used by the [jquery implementation](https://github.com/i18next/jquery-i18next#initialize-the-plugin), but instead allows multiple aliases, and no official part of i18next itself. The hint about `adapt options to your needs` was refering to other settings like namespaces, interpolations etc.

Ye

[2017-06-20 16:24] zewa666 commented on #221
The issue with Webpack is that it is actually just a module packer not runtime loader, aka SystemJS or RequireJS thus your translations would have to be pre-bundled and already available. To be honest I'm not that much up to date with Webpack and besides that there is currently a lot of work being invested to finalize the aurelia-webpack-plugin. So once that is stable I'll take a look at how we mi

[2017-06-20 18:28] dkent600 commented on #221
`aurelia-webpack-plugin` is in rc3, is quite stable and working quite well as far as I can tell.  There shouldn't be a problem using the current version of it to understand what is going on with `aurelia-i18next`.  Further, if happens to be an issue with `aurelia-webpack-plugin` that is contributing to this issue with `aurelia-i18next`, it would be really good to know about it now before the final

[2017-06-20 18:29] dkent600 commented on #221
So is the current status then that in fact `aurelia-i18next` doesn't work with webpack?

[2017-06-20 18:32] jods4 commented on #221
@zewa666 being a RC, aurelia-webpack-plugin is very stable. There's no API change planned at the moment, only enabling some additional scenarios. It's worth looking at right now, because it's the best time to ask for a new feature or change to support your scenario. Later will be slower, and maybe harder (once RTM, I won't be as keen to break compatibility as I might be right now).

That said, you

[2017-06-20 18:35] dkent600 commented on #221
I find that the `Backend.with(aurelia.loader)` does appear to be resolving to the `WebpackLoader`.

[2017-06-20 18:38] dkent600 commented on #221
Ooops, sorry, I guess I saw the rc3 on the GitHub page, didn't realize it wasn't released yet.

[2017-06-20 18:39] jods4 commented on #221
If you build with Webpack, of course it does -- at least by default.

When building with Webpack, Aurelia is automatically configured to use `WebpackLoader` from `aurelia-loader-webpack` as its internal "loader".

There is an option to use your own custom loader instead, if you are hardcore. If you use Webpack, I think it would derive from (or compose) `WebpackLoader`.

That said, if the problem i

[2017-06-20 18:40] jods4 commented on #221
Feel free to use RC3 from Github. It's feature complete and tested.
The last thing I want to do before releasing the code is ensure compatibility with upcoming Webpack 3.

[2017-06-20 18:56] dkent600 commented on #221
@zewa666

OK, I just tried the workaround offered by @jods4 (using `ModuleDependenciesPlugin`) and find that it does enable the code to find the translation.json files.  However, it fails to "parse" them.  It appears to expect these files to be returned as text, when in fact they are being returned as already-parsed objects.

[2017-06-20 19:03] dkent600 commented on #221
@zewa666 @jods4 Further to ^^^, I changed the json loader as follows:

`{ test: /\.json$/i, use: 'raw-loader' }`

And now it completely works.  I do have a question how I could scope this raw loader spec to i18n, as I worry that it might break other cases where json is being loaded in the default manner.

[2017-06-20 19:06] dkent600 commented on #221
@jods4 My only remaining issue:  I am using `aurelia-i18n` in a library, and do not want the application to have to be responsible for manually setting these dependencies for my library.  Do you kindly have any suggestions?

[2017-06-20 20:15] zewa666 commented on #221
@dkent600 I'm aware of the method to upfront bundle your translations, as stated in my reply. The problem with this though is that I don't think that this really solves the issue as, like you found out yourself, you just delegate the problem to the consumer and have him do the settings correctly. This is not the quality level that Require and SystemJS do offer, it's more comparable to prebundling

[2017-06-20 21:53] jods4 commented on #221
@dkent600 an easy way to restrict that loader is to use a more specific condition. For example you can add `include: "path/to/translations/folder"`. [Docs](https://webpack.js.org/configuration/module/#condition)

@zewa666

Please don't go CLI-first or introduce Gulp.
- Using Gulp with Webpack doesn't make much sense, except to ease migration.
- There are people (myself included) who don't use the

[2017-06-21 06:33] zewa666 commented on #221
@jods4 We definitely can and should do that plugin as it would further simplify the configuration.. But still this doesn't feel like a good experience in my opinion. You still end up with having the end user to define custom configurations. Whatever is the solution, it shouldn't be solely based on bundles or we'll never reach the UX provided by SystemJS or RequireJS, where the consumer essentially

[2017-06-21 07:02] jods4 commented on #221
As far as no config goes then using a different backend (e.g. XHR) is the only solution I see.

[2017-06-21 09:50] dkent600 commented on #221
Just for the record, I don't use the Aurelia CLI and at the moment have no need for it.  I understand how to use npm and am learning how to use webpack.  The dotnet CLI tool and associated project templates work great for me so far, better in fact than what the CLI creates, which for my taste creates a lot of bloat.  The only thing I'm aware of that the Aurelia CLI does that the dotnet CLI doesn't

[2017-06-21 10:03] dkent600 commented on #221
@zewa666 With respect to [your comment](https://github.com/aurelia/i18n/issues/221#issuecomment-309977162)

I think it might be acceptable for my use case to, instead of modifying the webpack.config.js file (with `new LocalizationPackerPlugin` as suggested by @jods4), rather, supply a new backend loader with the `aurelia-i18n` configuration, something like this:

`instance.i18next.use(Backend.with

[2017-06-21 10:16] zewa666 commented on #221
@dkent600 what you're proposing there is exactly what i18next-xhr-backend is doing. Take a look at the docs below the custom bundled loader. It will essentially just use XHR calls to request your translations files, without the need of having to pre-bundle files.

I wouldn't like to introduce yet another loader as that beats the purpose of having a unified aurelia i18n loader and just for the sake

[2017-06-21 10:29] dkent600 commented on #221
@zewa666 Yes, the fact that what I proposed is the same mechanism as with the XHR loader is exactly why I thought it would be a good pattern to follow.

But making the current loader fall back to XHR seems reasonable too.

However, in my use case, I would like to have a way by which my plugin can cause its translation.json files to be automatically bundled so that XHR would not be needed, using `i

[2017-06-21 10:58] dkent600 opened #224 "importing xhr backend does not compile for typescript"
**I'm submitting a bug report**

* **Node Version:**
8.1.2

* **NPM Version:**
5.0.3

* **Library Version:**
1.6.1

* **Language:**
TypeScript 2.3.4

**Current behavior:**
The docs say to that to use the xhr loader one must do:

`import Backend from 'i18next-xhr-backend'`

But when I do this I get:

"Could not find a declaration file for module 'i18next-xhr-backend'. '[...]/node_modules/i18next-xh

[2017-06-21 11:20] dkent600 commented on #221
@zewa666 @jods4

OK, I tested this using the XHR backend loader and there is an issue.  Recalling that my code is in a plugin library that is installed via npm,  the translation.json files are therefore buried under node_modules, outside of where XHR loader will ever be able to find them.

Thus it seems necessary to either bundle the translation files, or copy them into the dist folder.  The latte

[2017-06-21 11:33] jods4 commented on #221
`PLATFORM.moduleName` is your friend.

That said, as a library, you still rely on the end-user using the `aurelia-loader` backend, as opposed to, say, XHR :)

[2017-06-21 12:04] dkent600 commented on #221
@jods4  Wow, adding this line in the plugin config:

`PLATFORM.moduleName("./locales/en-CA/translation.json");`

causes the default aurelia-i18n backend loader to be able to find it, with the caveat:  I have to add the following to the webpack.config.vendor.js:

`{ test: /\.json$/i, use: 'raw-loader' }`

And just for the record, the loadPath is set as:

`loadPath: 'ferngully-aurelia-tools/locales/

[2017-06-21 12:14] dkent600 commented on #221
@zewa666 There is an improvement that could be made here:

Note from above that the application has to add `{ test: /\.json$/i, use: 'raw-loader' }` to the webpack.config.json.

The only reason I have to do this is because Aurelia-i18n assumes that the loaded JSON is a string that must be parsed.  If instead it made a simple check for whether the json has already been parsed and is in fact already

[2017-06-21 12:27] zewa666 commented on #221
sounds good. Regarding your parsing problem, if you take a look at the loader here https://github.com/aurelia/i18n/blob/master/src/aurelia-i18n-loader.js#L58 you'll find the parser being executed, which indeed just leverages the default JSON.parse mechanism. So adding a check of type object should fix it. I'll happily accept PRs for that as I can't get to it for the next few days.

[2017-06-21 13:13] dkent600 commented on #221
@zewa666 Forgive me for spamming this issue, but in trying to make this code change, I find that the unit tests are failing:

        TypeError: frameworkConfig.postTask is not a function
            at registerI18N (src/aurelia-i18n.js:44:19)
            at configure (src/aurelia-i18n.js:100:26)
            at Object.eval (test/unit/aurelia.integration.spec.js:28:32)
Chrome 58.0.3029 (Windows 10

[2017-06-21 13:23] dkent600 commented on #221
Here is the PR:  https://github.com/aurelia/i18n/pull/225

GitHub believes that all tests passed.  But for what it's worth, they don't for me on my machine.

[2017-06-21 14:02] zewa666 commented on #221
yeah strange although it worked on my machine. Anyways thanks for the contribution and I'm happy we got a initial solution for this. I'll close this meanwhile but I'm sure there will be more in future to follow this

[2017-06-21 14:02] #221 closed

[2017-06-21 14:04] dkent600 commented on #221
Thanks for everyone's help!  @zewa666  @jods4

[2017-06-22 05:48] zewa666 commented on #224
@dkent600 I'm not sure I get the problem you're describing. The docs section [TypeScript support](http://aurelia.io/hub.html#/doc/article/aurelia/i18n/latest/i18n-with-aurelia/4) says in the beginning

[code]
Do you propose to add the install instruction via the scoped types package?

[2017-06-22 11:50] dkent600 commented on #224
@zewa666 Sorry, I missed that, but I still contend that the typings should not be required to compile.  They are not required for any other Aurelia packages.

One other thing I could suggest:  Since Typescript 2.0 or 2.1 (I forget which), the `typings` tool has become unneeded.  This makes for a welcome simplification of the tools ecosystem.  Thus the command can be `npm install @types/i18next-xhr

[2017-06-22 11:59] zewa666 commented on #224
well in order to use a custom type you have to have the type definition. If you don't use the external package i18next-xhr-backend you wont need the typedef and have no compile errors either. This has nothing to do with this plugin, but is just the way how typescript works. So it just happens that most other Aurelia plugins do not have external references and you haven't encountered the issue.

Wh

[2017-06-22 12:26] dkent600 commented on #224
OK, I concede that you might be right that typings are necessarily required in this case -- seems like this has also been the case for me with bootstrap and jquery.  I have always assumed that in those cases the types were required only because the respective modules were not properly defined.

BTW, with respect to the i18next typings, I tried using them and found them incomplete, or at least, I c

[2017-06-22 12:44] zewa666 commented on #224
Well this is exactly one of those reason why I personally try to stay away from typescript. With all this overload of tooling, complexity and additional tasks for the end user it feels very heavy. So I feel with you ;)

we can't really do anything about any wrong i18next typedefs on our side. Your best bet would be to head over to the i18next github repo, create an issue there describing your prob

[2017-06-22 12:44] #224 closed

[2017-06-26 17:13] zewa666 commented on #222
Closed due to referenced PR being merged

[2017-06-26 17:13] #222 closed

[2017-06-28 03:33] senal opened #226 "i18n on custom elements with @bindable does not work with 't.bind'"
**I'm submitting a bug report**

* **Library Version:**
aurelia-i18n : 1.6.1
aurelia-framework: 1.1.2

**Please tell us about your environment:**
* **Operating System:**
Windows [10]

* **Node Version:**
6.9.5

* **Aurellia-CLI Version:**
0.29.0

* **Browser:**
all

* **Language:**
TypeScript 2.2.2.0

**Current Issue:**

I have already post a question on SO.
https://stackoverflow.com/questions/447

[2017-06-28 05:58] zewa666 commented on #226
Hi @senal. I wasn't able to reproduce this issue on my side, could you create a small example as instructed with the issue template so that I can take a look at your exact setting?

[2017-06-28 06:01] zewa666 commented on #215
After more thinking, and as our conversation turned out, I definitely think this is supposed not to be part of the plugin by itself. Your information provided above will definitely help others, who might try to build something similar but honestly I suspect its that often needed. Therefore I'm going to close this issue for know. If we get more feedback or further requests we can always reopen. Tha

[2017-06-28 06:01] #215 closed

[2017-06-28 06:49] mikeesouth opened #227 ""Unable to find module with ID: aurelia-i18n" (Webpack)"
**I'm submitting a bug report**

* **Library Version:**
1.6.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
7.3.0

* **NPM Version:**
4.5.0

* **JSPM OR Webpack AND Version**
webpack 3.0.0

* **Browser:**
all
* **Language:**
TypeScript 2.4.1

**Current behavior:**
As soon as I include `.plugin('aurelia-i18n', ...` I get this error at runtime, n

[2017-06-28 07:11] HIRANO-Satoshi commented on #215
okay. Thanks for consideration.

[2017-06-28 10:04] zewa666 commented on #227
Thanks for reporting the issue @mikeesouth, I think there is an issue with your configuration, as described here https://github.com/jods4/aurelia-webpack-build/wiki/Debugging-missing-modules#cant-find-module-id-at-runtime. Lets dig into this so we can update the docs to give a better instruction for the new webpack plugin

[2017-06-28 15:45] mikeesouth commented on #227
@zewa666 nice, thanks for that link. Google didn't help me find that one :) The problem was quickly solved by changing `.plugin('aurelia-i18n', (instance) => {` to `.plugin(PLATFORM.moduleName('aurelia-i18n'), (instance) => {`. That solved the issue, feel free to close this issue.

I would assume that the Documentation should be updated, at least for the Webpack part?

[2017-06-28 15:45] #227 closed

[2017-06-29 02:49] senal commented on #226
Hi @zewa666 ,

Thanks for your prompt reply.

I thought it would be best to use the same component which is having the issue.
NOTE:
1. You may need to setup a back-end for i18n to provide contents.
2. Remove unnecessary verbose.

## **Alert-box custom element**
We implement a custom element to show alerts in our system.

**alert-box.html**
`
<template>

    <div show.bind="isElementVisible">

[2017-06-29 05:27] zewa666 commented on #226
@senal thanks for the detailed description. I've tried that and ... it still works :)
How about the following, create a new project with the CLI, add all your code and verify that you have the issue. When done, pack up all the contents (excluding node_modules of course) and post the zip somewhere so I can take a look at whats missing. As for the backend use either the built in aurelia-loader backe

[2017-06-29 06:14] senal commented on #226
Hi @zewa666,

Big thanks for your prompt feedback. :)

Do you mind if I ask you to send (perhaps a link to a github repository) me your test project to test on my local ?

Meantime I will do a sample project as you requested.

Thanks for your interest in solving mysteries :)

Regards

[2017-06-29 08:07] #226 closed

[2017-06-29 08:11] senal commented on #226
Hi @zewa666 ,

The mystery has been solved.

we changed the name of the property name to
` @bindable
    mainMessage: string;`

Everything started to work !
Thank you very much for your support !

P.S: Closing this issue.

[2017-06-29 11:20] zewa666 commented on #226
So it sounds like a side effect you had there. I'm glad it got resolved.

[2017-07-06 07:34] ZoolWay opened #230 "Hardening DOM changes"
**I'm submitting a bug report**

* **Library Version:**
1.6.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.1.2

* **NPM Version:**
5.0.4

* **JSPM**
JSPM 0.17.0-beta.42, SystemJS Loader 0.20.14

* **Browser:**
Chrome 59

* **Language:**
TypeScript 2.3.4

**Current behavior:**
Sometimes it can occur that the plugin tries to manipulate the DOM

[2017-07-06 09:28] zewa666 commented on #230
Thanks for reporting, yes that's definitely a good idea. So far no issues like that have been reported so it would be great if you could provide a minimal example replicating the problem.

[2017-07-06 13:08] RichTeaTime opened #231 "config.attributes aliases do not get processed before aurelia global resources."
**I'm submitting a bug report**

* **Library Version:**
1.6.1

**Please tell us about your environment:**
* **Operating System:**
Windows 8.1

* **Browser:**
all

* **Language:**
TypeScript 2.2.1

**Current behavior:**
If I register an alias for the 't' attribute during aurelia startup, e.g.
`
 aurelia.plugin('aurelia-i18n', function (instance) {
             instance.setup({
                 attr

[2017-07-06 13:09] ZoolWay commented on #230
I will try to build a minimum example tomorrow.

It might have something to do with translations inside something with `if.bind` when the element vanishes. A colleague of mine gets that error more frequently than me.

[2017-07-07 06:14] zewa666 commented on #231
Hi @RichTeaTime. Thats currently a known issue which I'm honestly not sure how to properly solve as it boils down to having the postTasks of plugins run later than the view parser for globalResources and features. In order to work around the issue you'd have to, as described [in the docs](http://aurelia.io/hub.html#/doc/article/aurelia/i18n/latest/i18n-with-aurelia/3), manually do the preregistrat

[2017-07-07 07:48] zewa666 commented on #230
That's really much appreciated. Thanks for the help

[2017-07-07 10:36] ZoolWay commented on #230
Hm, have you just an empty sample gist.run where aurelia and aurelia-i18n are loaded?

[2017-07-07 14:40] RichTeaTime commented on #231
Thanks. That's perfect.

[2017-07-07 14:40] #231 closed

[2017-07-07 21:11] bryceg commented on #212
@bmarotta Thanks for this, the missing steps on the build.ts file that are not documented was what my problem ended up being, as the translation files were not being bundled in...

[2017-07-11 06:38] zewa666 commented on #212
@bmarotta and @bryceg I've added an additional note with the recent docs update, although tbh the part you mentioned was already present before https://github.com/aurelia/i18n/blob/master/doc/article/en-US/i18n-with-aurelia.md#bundle-translation-files

[2017-07-11 06:38] #212 closed

[2017-07-17 07:00] zewa666 commented on #230
@ZoolWay, Here's an example from another issue: https://gist.run/?id=c7e1c50ba6073c7c27c0fd2bb277e002
Alternatively feel free to just create a new github repo and share the link here, or even just small project, zipped and uploaded.

[2017-07-19 09:01] ZoolWay commented on #230
Looks like it is quite difficult to reproduce so I am working on a new github repo.

The problem occurs in `i18n.js` on line 193: `node.removeChild(node._newChild);`
In my case `node._newChild` is not a child of `node`. Instead it is a grandchild and that might be because Kendo UI manipulates the DOM. Will check to defer one or another and otherwise try to come with something up using the opensour

[2017-07-19 09:21] zewa666 commented on #230
Sry for putting you in all that trouble but that would be of great help. Looking forward to seeing what you come up with

[2017-07-19 09:22] ZoolWay commented on #230
Issue also does not occur when using expression with value converter (i.e. `${'my_const' & t}`) instead of translation attribute (i.e. `t="my_const"`).

[2017-07-19 11:29] ZoolWay commented on #230
Okay, I got a repo for you to reproduce the problem, also showing the possible workaround from the comment before:

https://github.com/telecomsoftware/sample-aurelia-i18n-i230

The README covers how to setup and reproduce the problem. It uses Aurelia with SystemJS 0.20 and Kendo UI Core (Open Source, Apache License 2).

[2017-07-20 11:56] zewa666 commented on #230
First of all thanks for the example. Great to be able to debug and dig into it.

So for your concrete example this line: https://github.com/aurelia/i18n/blob/master/src/i18n.js#L209 would need to be modified to something like this

[code]

And yes you were right, its due to the fact that Kendos jQuery implementation directly works with the DOM element. I'll add the fix asap, just wanna try out the

[2017-07-21 08:11] ZoolWay commented on #230
Happy to help!

[2017-07-25 07:48] Daviot opened #233 "Module ''i18next'' has no default export"
**I'm submitting a bug report**

* **Library Version:**
1.6.2

**Please tell us about your environment:**
* **Operating System:**
Linux ubuntu 16.04 LTS

* **Node Version:**
7.10.0

* **NPM Version:**
5.3.0

* **JSPM OR Webpack AND Version**
webpack 2.7.0

* **Browser:**
all

* **Language:**
TypeScript 2.4.2

**Current behavior:**
I will get the error:

In the file dist/aurelia-i18n.d.ts on line 2

[2017-07-26 18:15] zewa666 commented on #233
closing as it's a duplicate of https://github.com/aurelia/i18n/pull/198

[2017-07-26 18:15] #233 closed

[2017-08-18 13:16] Xceno commented on #137
Just a quick heads up. I had the same issue and this was the problem:

`au install` updated the `aurelia.json` file like this:

[code]

Which produces the exact same error as described above.
I fixed it by adjusting it like this:

[code]

[2017-09-07 06:10] dweggemans commented on #199
I'd make that 9.0.0 which was released 13 days ago. Any ETA on this? There are some issues fixed that I ran into so I'd love to get the updated package.

[2017-09-07 07:01] zewa666 commented on #199
Thats the next thing I'm going to target. Thanks for pointing out the latest release. I'm stuffed with work currently but this is definitely the next thing I'll do once I have a few spare moments

[2017-09-11 13:23] #230 closed

[2017-09-11 13:24] zewa666 commented on #199
The update is pushed to master, as soon as we have a new release all should work.
Make sure to not use any v1 options for i18next anymore as support for those depcricated styles has been dropped with 9.0.0

[2017-09-12 21:26] fracz opened #234 "Cannot read property 'indexOf' of undefined at RelativeTime.setup, key is undefined (WEBPACK)"
**I'm submitting a bug report**
* **Library Version:**
1.6.2

**Please tell us about your environment:**
Webpack 3.5.6, aurelia-webpack-plugin: 2.0.0-rc5

* **Browser:**
all

* **Language:**
TypeScript 2.4.1

**Current behavior:**
I'm trying to migrate an existing JSPM-based Aurelia app to webpack and I can't get rid of the following error from JS console in Chrome:

[code]

or in Firefox:

[code]

[2017-09-13 08:20] zewa666 commented on #234
Please try adding the `lng` property to your plugin options to define the default locale. That might help

[2017-09-13 09:25] fracz commented on #234
It helped, indeed. I have set `lng: 'en'`. Thank you!

[2017-09-13 13:22] zewa666 commented on #234
Actually we should expose a better error message if the default language is not provided, so I'll leave this one open until it's fixed. Glad it helped though.

[2017-09-19 11:41] RouR commented on #42
Example
i18n.tr("name", { name: "1'<>22"})
It translates to 1&#39;&lt;&gt;22 instead of 1'<>22

[2017-09-19 11:47] RouR commented on #42
Workaround
sometext = $('<textarea />').html(sometext).text();

[2017-10-02 10:40] Dresel commented on #221
Sorry to reactivate this discussion, but I'm having a hard time to get this settled.

I have added

    new ModuleDependenciesPlugin({
        "aurelia-i18n": [
            { name: path.join(__dirname, "/locales/en/translation.json") },
            { name: path.join(__dirname, "/locales/de/translation.json") }
        ]
    }),

to my plugins definition of my webpack.config.vendor.js. I had to use

[2017-10-07 12:30] jcarruo commented on #221
I send @Dresel, I've read this over several times yet i can get any translations going with the aurelia typescript webpack nav skeleton.  Is a sample around document full config of webpack with aurelia i18n?

[2017-10-07 13:59] bellstrand commented on #221
@Dresel I had on the same problem as you, and my issue was that I was not allowed to place my "locales" folder outside of the src folder when using this "fix". But after moving it in and fixing the paths it worked great!

main.js
[code]

webpack.config.js
[code]

[2017-10-07 14:02] jcarruo commented on #221
Ok great tip!  Will give this a try and see how i end up.  Cheers

[2017-10-07 23:17] jcarruo commented on #221
so.  i've battled with this for nights.  and I was literally typing up a detailed description of my config and stepping through each part with build, test etc.  then it started bloody working.  it was almost more infuriating then when i just didn't work!!!  lol

so I've obviously made a rookie error somewhere along the way which was corrected when I stepped through it bit by bit.  thanks for the i

[2017-10-08 06:35] zewa666 commented on #221
@dresel glad you got it. Now since the necessary steps to get it running are so fresh on your mind, would you bother to write down some docs so others can benefit of your hard work?

[2017-10-09 15:08] josundt opened #236 "Workaround for allowSyntheticDefaultImports = true"
In aurelia-i18n@2.0.0, in the typings file (node_modules/aurelia-i18n/dist/aurelia-i18n.d.ts)  on **line 2**:

[code]

This line causes typescript compile errors if your project's tsconfig.json has not been explicitly configured to allow synthetic default imports.

[code]

This constraint could easily have been avoided by simply changing the line to

[code]

Can you please fix this?
I believe this

[2017-10-09 16:38] zewa666 commented on #236
The thing is that this is the approach how it's done with es6. As such Typescript, being the superset and not the base, it's needed to do that so that both worlds are kinda happy.

[2017-10-10 08:00] josundt commented on #236
My suggested change is 100% ES6 module syntax compliant.
[code]
This is the expected syntax when importing the complete module content.
This is what you want when importing i18next.

The current import statement in aurelia-i18n@2.0.0...
[code]
...assumes that i18next has a **default** export, which is not the case.

(The error message I get when building with WebPack is that i18next has no default

[2017-10-13 11:26] zewa666 commented on #236
So you essentially suggest switching [this line](https://github.com/aurelia/i18n/blob/master/src/i18n.js#L3) to the alias import? Hmm, well it'd be definitely worth a try. Can you create a PR and see whether thats all thats needed?

[2017-10-15 20:26] josundt commented on #236
Please see my pull request. It should solve the problem.

[2017-10-16 05:33] #199 closed

[2017-10-16 05:34] zewa666 commented on #236
I've changed the title to fit your recent findings of the PR.

[2017-10-16 06:07] #234 closed

[2017-10-16 15:19] gheoan commented on #236
This can also be fixed by switching the transpiler from babel to typescript, correct?

[2017-10-16 18:20] zewa666 commented on #236
For the whole plugin? Yes pretty likely that would solve the issue as well.

[2017-10-16 20:23] josundt commented on #236
This is as far as I can tell an issue that ideally should be taken care of by the "babel-dts-generator" plugin. At transpile time, Babel can distinguish CommonJS source modules from other module types, and "babel-dts-generator" should translate the import statements for CommonJS modules to TypeScript compliant import statements.
I just mention in case someone can follow it up...

[2017-10-21 10:25] #236 closed

[2017-10-25 17:35] alexsaare opened #239 "plugin.load is not a function - TypeScript & Aurelia CLI"
**I'm submitting a bug report**

* **Library Version:**
2.0.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.6.0

* **NPM Version:**
3.10.3

* **JSPM OR Webpack AND Version**
Aurelia CLI 0.32.0

* **Browser:**
all

* **Language:**
TypeScript 2.5.3

**Current behavior:**
Create a new application with TypeScript - au new
Follow tutorial here wit

[2017-10-25 20:37] zewa666 commented on #239
Could you try switching the stub property in your aurelia.json File?

[2017-10-25 21:38] alexsaare commented on #239
Thank you for you quick response.

This helped me get things working!

In addition to changing stub to false in aurelia.json I also had to make the following changes to get this to work with the tutorial.

1 - change loadPath from './locales/{{lng}}/{{ns}}.json' to '../locales/{{lng}}/{{ns}}.json' in main.ts - (otherwise it's relative to the src directory)
2 - change source to 'locales/**/*.json'

[2017-10-25 21:38] #239 closed

[2017-10-27 00:02] HIRANO-Satoshi opened #241 "auto updating relativeTime and rt"
Hi,

relativeTime and rt do not update their time by themselves. "in 1 minute" remains as it is forever.

I tried the following code. It forces 'value & rt' to rewrite every one second.
It is very heavy since aurelia-translation-signal causes df, nf and t to rewrite, too.

[code]

There are some approaches.

1. rt listens another signal such as aurelia-timeupdate-signal.
    cons: there must be a

[2017-11-02 06:58] zewa666 commented on #241
@HIRANO-Satoshi good ideas. Tbh I'm having a very challenging time right now at my company so I'm kinda out of order for the upcoming week. I will definitely revisit this afterwards, as it is an important aspect of performance savings. So please stay tuned a bit longer

[2017-11-06 09:53] enrico-padovani opened #242 "Cannot read property 'loadText' of null"
**I'm submitting a bug report**

* **Library Version:**
2.0.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.11.2

* **NPM Version:**
5.5.1

* **JSPM OR Webpack AND Version**
webpack 3.3.0

* **Browser:**
all

* **Language:**
TypeScript 2.5.3

**Current behavior:**
Cannot load json translation file. The error accours into aurelia-i18n-loader.j

[2017-11-06 10:27] zewa666 commented on #242
You cannot use the internal Backend of your translation files are not prebundled and configured. Please try switching to the i18next-xhr-loader backend

[2017-11-06 12:03] enrico-padovani commented on #242
Is that something changed in version 2.0.0? Do you have an example / doc in how to do that?

[2017-11-06 13:29] enrico-padovani commented on #242
The error was given by missing `instance.i18next.use(Backend.with(aurelia.loader));` anyway if I do that, the string is not translated (the result is the key itself). If I use `instance.i18next.use(Backend);` with Backend imported from i18next-xhr-backend, the translation seems to work on in code not into html like `${'my_string' & t}` which is empty.

[2017-11-06 14:08] zewa666 commented on #242
Can you create a sample so that I can take a look at it?

[2017-11-06 14:38] enrico-padovani commented on #242
I don't know how to set up the environment quickly.

Anyway if I do `<span t="my_string"></span>` it works, but with string intertpolation des not `<span>${'my_string' & t}</span>`

Wierd

[2017-11-06 15:20] enrico-padovani commented on #242
Ok, I figured out ... log time ago in .net we had dll hell ... here we have npm hell. I was using a library which was depending upon 1.6.2 I've updated that lib do use 2.0.0 and now it works as expected.

WTF!

[2017-11-06 15:20] #242 closed

[2017-11-08 15:54] dweber019 opened #243 "ReferenceError: Element is not defined - nodejs-pal"
**I'm submitting a bug report**

* **Library Version:**
1.6.2 / 2.0.0

**Please tell us about your environment:**
* **Operating System:**
OSX

* **Node Version:**
6.11.4

* **NPM Version:**
3.10.10

* **JSPM OR Webpack AND Version**
webpack 3.8.1

* **Browser:**
Jest

* **Language:**
TypeScript 2.6.1

**Setup:**
I'm using a slighly changed version of the Aurelia Skeleton for Webpack and Typescript

[2017-11-08 18:14] zewa666 commented on #243
@dweber019 let me first say thanks for the great issue report and the example to reproduce the issue. This makes fixing things much easier :)

So the reason was that the i18n plugin still directly referenced `window` instead `PLATFORM.global` and injected the `Element` instead of `DOM.Element` provided by the specific PAL.

I've checked out your example and with these fixes it works.

[2017-11-09 06:53] dweber019 commented on #243
@zewa666 awesome! Really like you guys speed on fixing things.

Do you have any estimate on when this fix will be published?

[2017-11-09 07:22] zewa666 commented on #243
I've already contacted @EisenbergEffect and queued this up for the next release cycle. So as soon as his time permits this will be pushed. In the meantime if this is a blocker for you, you can fork the repo, build the dist files and reference your fork for the time being.

[2017-11-09 19:58] atsu85 commented on #243
@EisenbergEffect, @zewa666 i think this kind of problems could be automatically detected with [aurelia-template-lint](https://github.com/MeirionHughes/aurelia-template-lint) - it just needs small improvements ([additional rule, that would alert via linter when using globals, that don't work with aurelia-pal-nodejs](https://github.com/MeirionHughes/aurelia-template-lint/issues/181))

[2017-11-14 18:20] zewa666 commented on #241
I went with option A and added an additional signal listener `aurelia-relativetime-signal`

[2017-11-15 00:22] HIRANO-Satoshi commented on #241
You did? Thanks. That means a timer should tick very second, even though relativeTimes were counting hours or days. If we don't need to think about battery consumption, it would be good.

I thought option B would be better, since each realtiveTime could setup setInterval() by itself according to its time scale.  Hourly ticks are enough for a hour counter, for example.

[2017-11-15 05:11] zewa666 commented on #241
Thats true but since now the dev has to setup the interval first he/she can decide when to start/pause and on which interval length. Adding all of the edgecases would be likely to heavy for the Plugin

[2017-11-16 05:38] zewa666 commented on #241
@HIRANO-Satoshi feature is released. I'm gonna close this issue for now, if we have any additional requirements/problems we can always repoen

[2017-11-16 05:38] #241 closed

[2017-11-16 10:00] HIRANO-Satoshi commented on #241
Thanks so much!

[2017-11-16 10:40] chabou-san commented on #234
I'm having an issue with the commit provided in here. Forcing to set the `lng` option breaks the `i18next-browser-languagedetector` plugin (and probably other i18next language detection plugins)  as per their documentation : see https://www.i18next.com/configuration-options.html where it is said that setting `lng` option overrides language detection. Can't there be a better solution than the one p

[2017-11-16 18:32] dweber019 commented on #243
Thanks a lot. Amazing speed :+1:

[2017-11-21 10:02] DickvdBrink commented on #200
Exactly the same issue here, the use case @mar9000  above  and @zewa666's "default slot, no container" are my use cases

[2017-11-24 09:33] hadrienl opened #245 "HTML entities in translations properties"
**I'm submitting a bug report**

* **Library Version:**
1.6.2

**Please tell us about your environment:**
* **Operating System:**
OSX 10.13.1

* **Node Version:**
8.1.4

* **NPM Version:**
5.4.0

* **JSPM OR Webpack AND Version**
aurelia-cli 0.26.1 (requirejs)

* **Browser:**
Chrome 62

* **Language:**
ESNext

**Current behavior:**
I have a string in a const : `const text = 'A&B';`. I give this pr

[2017-12-07 10:21] mikeesouth opened #246 "Load translation key from specific language without changing i18n language?"
I use aurelia-i18n with two languages: Swedish (sv) and English (en). Everything works as expected. But I would like to fetch a translation for a specific language without changing the language for the entire i18n instance.
Say that the user has Swedish language selected, i18n is initialized and set to Swedish. In 99% of all cases i18n.tr('my-key') gives the correct translation (Swedish).
**In som

[2017-12-09 16:33] zewa666 commented on #245
Im not sure I get the expected and actual result. Could it be that Github changes the amp sign for one of them?

[2017-12-09 16:49] zewa666 commented on #246
I've just tried the very same with German (DE) and English (EN) and it does work for me with getFixedT. Could you maybe create an example and upload it so I can debug the issue?

[2017-12-09 16:54] zewa666 commented on #245
Ok I figured it out by trying to edit your issue. So what you're saying is that the current result is the escaped variant `A&ampB` instead of `A&B`. Well thats totally fine, since you're using the text interpolation by default. If you'd like everything to be properly displayed your t binding should look like this:

[code]

Keep in mind though that this could be a potential security issue, dependin

[2017-12-09 16:54] #245 closed

[2017-12-09 23:54] ghiscoding opened #247 "How to translate params via code (ViewModel)?"
**I'm submitting a bug report**
**I'm submitting a feature request**

* **Library Version:**
2.1.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
9.2.0

* **NPM Version:**
5.5.1

* **JSPM OR Webpack AND Version**
WebPack

* **Browser:**
all

* **Language:**
all

**Current behavior:**
There is no information in the doc about translating with para

[2017-12-10 07:48] zewa666 commented on #247
if you take a look at the docs and search for `Translating via code`, the section explains that the second parameter to `tr` accepts an option param which may contain the replacement parts as used with `t-params` . Looking at `Complex objects for variables` you'll see an example of how additional parameters may be provided.

Do you think this is enough? If you have a better idea I'd like to ask yo

[2017-12-10 16:41] ghiscoding commented on #247
Wow I did not see that, my bad, I was looking around `via code` and `t-params` and couldn't find the info. Also there's a bad link, which may have helped if it existed. The link in the `next section` is not working and I don't know what it could be, is it suppose to refer to the `Complex object for variables`?

I think this

Should be renamed to this

Also, this

Could be changed to this (unless `

[2017-12-15 11:21] mpoelman opened #248 "Using prepend in IE is not working as expected."
**I'm submitting a bug report**

* **Library Version:**
2.1.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.11.0

* **NPM Version:**
3.10.10

* **Browser:**
IE 11.64.16299.0

* **Language:**
TypeScript 2.6.1

**Current behavior:**
Using [prepend] within a 't' attribute in IE is not working as expected.
For example:
`<span class="col" t="[prep

[2017-12-17 12:44] zewa666 commented on #247
I think that sounds good. If you could create a PR with those Changes that would be awesome. Regarding the links, i think there's a issue that you cant link to 3rd level anchors, so id recommend just leaving them out and describing where to find what instead.

[2017-12-17 13:36] zewa666 commented on #248
I wasn't able to replicate the issue, I guess it must have to do something with the workflow of your app. Could you create a simplified example depicting the issue so I can take a look at it?

[2017-12-18 01:55] ghiscoding commented on #247
done

[2017-12-18 06:31] zewa666 commented on #247
awesome, thanks for the help

[2017-12-18 06:31] #247 closed

[2017-12-18 09:26] mpoelman commented on #248
Thank you for your answer.

I can't replicate this issue as well (in a new empty project). I'm using the same versions of i18next and aurelia-i18n in both projects. I will update when I fixed the issue or when I can replicate it.

[2018-01-17 14:14] bellstrand commented on #221
@Lloyc How does your folder structure look? (the locales folder should be located inside the src folder with that setup).
It would also be easier for us if you posted a bit more from your configs (the whole loader config and which loader you are using etc).

[2018-01-17 14:49] Lloyc commented on #221
Thank you @bellstrand for the quick reply.

Here is my webpack.conf
[code]
Here is my folder structure:
![image](https://user-images.githubusercontent.com/11031281/35048604-90dc3b7a-fb6b-11e7-9bdd-83b14542d72e.png)

[2018-01-17 14:54] bellstrand commented on #221
@Lloyc Sorry for not being clear... I meant the config you had in your main.js file.
And the loader that you are trying to use in main.js (aurelia-i18n or i18next-xhr-backend)?

[2018-01-17 15:07] bellstrand commented on #221
Okay, great :) Think I got the problem!
change:
[code]

[2018-01-17 15:09] bellstrand commented on #221
Okay great! Think I got the problem! :)
Right now your config is using i18next-xhr-backend and not aurelia-i18n's backend.
Change:
[code]
To:
[code]
And then you can remove "import Backend from "i18next-xhr-backend";"

[2018-01-17 15:14] Lloyc commented on #221
Thank you so much @bellstrand ! It works!

[2018-01-17 19:31] lstarky opened #251 "i18n breaks for attribute t.bind="(integer variable)""
**I'm submitting a bug report**

* **Library Version:**
2.1.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.1.0

* **NPM Version:**
5.0.3

* **JSPM OR Webpack AND Version**
webpack 3.5.5

* **Browser:**
all

* **Language:**
ESNext

**Current behavior:**
An accidental use of the T Attribute (like `<p t.bind="myVar"></p>`) breaks when `myVar` i

[2018-01-18 13:57] zewa666 commented on #251
Thanks for reporting. Will be fixed with the next release

[2018-01-20 14:32] inmchfw commented on #234
Had the same problem. So it seems it is not possible to very the 18n feature:

1. change chrome language setting to a language other than en, e.g. de
2. refresh the app, the tranlsation is still in 'en'.

Then deleting lng: 'en' will result in this problem.

[2018-01-25 06:58] zewa666 commented on #251
@lstarky a new version has been released with the bug fix. Please reopen if it still doesn't work for your

[2018-01-25 06:58] #251 closed

[2018-01-26 15:30] wmansfield opened #254 "Incorrectly forcing the selection of a language"
https://github.com/aurelia/i18n/blob/702b2bc22b9bd189455b559f035e696e6318c54d/src/i18n.js#L38

The plugin should not force a lng option. When using a detector, this would be dynamically resolved, by forcing this option, it prevents the detector from doing its job. If anything, the fallback language should be forced.

[2018-01-31 14:19] Akiyamka opened #255 "i18n dot in translation string cut from the result"
I'm submitting a bug report

* **Library Version:**
1.1.1.2
**Please tell us about your environment:**
* **Operating System:**
Linux (Manjaro)
* **Node Version:**
8.9.4
* **NPM Version:**
5.6.0

* **JSPM OR Webpack AND Version**
JSPM 0.16.53

* **Browser:**
all

* **Language:**
ESNext

**Current behavior:**
i18n dot in translation string cut from the result. Example:
  "foo_bar_baz": "12.12...12"

[2018-01-31 16:39] zewa666 commented on #255
Wow interesting, can you create a minimal example reproducing the issue for download?

[2018-01-31 16:41] zewa666 commented on #248
Closing this for now, lets reopen If it pops up again

[2018-01-31 16:42] zewa666 commented on #254
Yeah I see i've introduced a regression when fixing the RT feature. Will have a look at how to so it differently

[2018-02-03 10:42] Akiyamka commented on #255
Sorry, the reason was not in the translation plugin, the issue can be closed

[2018-02-03 12:07] #255 closed

[2018-02-04 13:42] rezabojnordi commented on #221
![eeror-38](https://user-images.githubusercontent.com/28585397/35778106-93af5abe-09ce-11e8-9835-d0457b067c09.png)

error using sudo npm start build

[2018-02-04 15:30] rezabojnordi commented on #221
Error building - when new library is added

[2018-02-16 08:01] LittleGnome opened #258 "How can I pass a '/' or an URL while using i18n.tr()"
hello,

How can I pass a '/' or an URL while using i18n.tr()??

I tried this
`i18n.tr("My test string with this {{link}}", { link: "https://goo.gl/4r9AqW" })`

and this
`i18n.tr("My test string with this {{link}}", { link: "https:\/\/goo.gl\/4r9AqW" })`

For both the result is: `https:&#x2F;&#x2F;goo.gl&#x2F;4r9AqW`

Finally I tried this option:
`i18n.tr("My test string with this {{link}}", { link

[2018-02-16 08:07] #258 closed

[2018-02-16 08:07] LittleGnome commented on #258
Sorry my bad need to set a property in a custom component that we use.... :-1:

[2018-02-16 16:45] Jule- commented on #234
@chabou-san same here!

Maybe a better solution should be to enforce a `fallbackLng` and use it for `relative-time` when `lng` is missing!

It is a blocking issue for browser language detection, which I guess everyone who wants to internationalize its app wants too...

[2018-02-16 17:21] Jule- commented on #254
As said in #234 :
Maybe a better solution should be to enforce a `fallbackLng` and use it for `relative-time` when `lng` is missing!

It is a blocking issue for browser language detection, which I guess everyone who wants to internationalize its app wants too...

[2018-02-17 14:14] Jule- commented on #254
A workaround is:
[code]
Calling `changeLanguage()` without `lng` argument trigger language detection mechanism. Side effect is that setting `lng` in `setup()` options cache the selected language in `localStorage` and `cookie` so I have to enforce `navigator` language detection in order to get it, if not language detection find obviously what you set at first in `lng`... With this specific workarou

[2018-02-19 13:43] zewa666 commented on #254
Alright sorry for taking me so long to fix this but I think I got it with the recent PR https://github.com/aurelia/i18n/pull/259. Just waiting for it to properly build and after merge we'll hopefully get a quick release out.

[2018-02-22 10:26] WizzApp commented on #248
I stumbled (presumably) over this issue when doing an update on an element after changing the locale in IE11 and using append/prepend.

See [this](https://github.com/WizzApp/aurelia-append-issue-repro) repository for an Aurelia CLI project to reproduce the issue.

[2018-02-24 08:27] zewa666 commented on #254
The new Release has been pushed, may I ask you guys to check out whether now everything runs as expected?

[2018-02-24 10:48] Jule- commented on #254
Thanks @zewa666! All seems ok for me! =)

[2018-02-24 11:12] zewa666 commented on #254
Thanks for the quick response. Im gonna close this for now and we can reopen the issues If any other troubles occur.

[2018-02-24 11:12] #254 closed

[2018-02-24 11:13] zewa666 commented on #246
Since this cant be reproduced i'll close it for now. We can reopen once there is more info

[2018-02-24 11:13] #246 closed

[2018-02-28 05:16] HIRANO-Satoshi opened #260 "translations for relative time lack months and years in ar, th, sv, da and no"
I have sent a PR for ja and jp.

[2018-02-28 09:58] Alexander-Taran commented on #260
https://github.com/aurelia/i18n/pull/261

[2018-02-28 10:21] zewa666 commented on #260
Thanks a lot for the contribution. Closing this as the PR got merged

[2018-02-28 10:29] HIRANO-Satoshi commented on #260
@zewa666

The PR I sent was just for ja and not for ar, th, sv, da, no. They do not have months and years.

So, could you reopen this issue?

[2018-02-28 11:36] zewa666 commented on #260
Oh right, im sorry didnt pay proper attention.

[2018-03-13 14:48] Rutulpatel7077 opened #263 "i18next overriding Aurelia binding"
`<p   i18n="base-msrp" >
            <span>${ basePrice }</span>
        </p>`

It is only giving i18next part but not basePrice binding of aurelia.

[2018-03-13 15:06] Alexander-Taran commented on #263
By design
http://aurelia.io/docs/plugins/i18n#using-the-plugin
basically i18n used like that will set the text contents of `<P>`

[2018-03-13 15:19] Rutulpatel7077 commented on #263
@Alexander-Taran   So is there any solution of it ? to use span in <p> with i18n ?

[2018-03-13 16:45] Alexander-Taran commented on #263
You might want to read the docs.. there are a lot of solutions..

[2018-03-13 18:31] zewa666 commented on #263
As Alex mentioned the docs can tell you about different ways to do it. Either by passing vars to the attribute approach or using the tbindingbehavior.

[2018-03-13 18:31] #263 closed

[2018-03-13 20:16] Rutulpatel7077 commented on #263
`<p i18n="[prepend]base-msrp" > <span>${ basePrice }</span> </p>` .  This Works!  Thanks guys!

[2018-03-13 20:47] Alexander-Taran commented on #263
`<span>` is not needed btw

[2018-03-13 20:48] Rutulpatel7077 commented on #263
@Alexander-Taran  How! can you please explain a little bit more sir

[2018-03-13 20:51] Rutulpatel7077 commented on #263
@Alexander-Taran  Sure! I will join. btw Thanks for your wonderful help. all of you!

[2018-03-13 21:12] Alexander-Taran commented on #263
@Rutulpatel7077

I didn't understand the question. sorry

[2018-03-19 11:59] zewa666 commented on #260
Grmpf didn't meant to close it, sorry bad reference in the PR

[2018-03-19 11:59] Alexander-Taran commented on #260
reopen please (-:

[2018-04-19 17:36] pmanu93 opened #265 "Cannot use namespaces when using the `$t(key)` markup in the `t` custom attribute"
**I'm submitting a bug report**

* **Library Version:**
2.1.2

**Please tell us about your environment:**
* **Operating System:**
Linux Mint 17.3 Rosa

* **Node Version:**
v8.10.0

* **NPM Version:**
5.8.0

* **Browser:**
all

* **Language:**
all

**Current behavior:**
When using the attribute with combined translations, I can't use namespace because it breaks the translation.
Example:
[code]
rend

[2018-04-19 18:53] zewa666 commented on #265
I'm not sure we can really do a lot about that. Nevertheless this example seems like to be anyway better solved with two BindingBehaviors

[code]

[2018-04-19 20:55] pmanu93 commented on #265
Foi o que acabei por fazer... no entanto achei que devia informar,  até porque na documentação do i18next mostra que isto é possível :)

[2018-04-19 20:55] pmanu93 commented on #265
That's what I ended up doing ... however I thought I should inform you, because in the i18next documentation it shows that this is possible :)

[2018-04-22 17:18] migajek opened #267 "t attribute: optional graceful fallback when: when key is missing, don't replace innerHtml"
**I'm submitting a feature request**

* **Library Version:**
2.1.2

please consider adding the configurable graceful fallback for missing keys when using t attribute, as discussed in aurelia forums
https://discourse.aurelia.io/t/i18n-t-attribute-dont-translate-when-a-key-is-missing/1123/2

[2018-04-22 17:56] zewa666 commented on #267
I guess same should apply for prepend and append right?

[2018-04-22 19:15] migajek commented on #267
for consistency - I'd say so. But to be honest I don't use any of these

[2018-05-05 07:05] alankila opened #268 "Using aurelia-i18n with webpack + typescript + aurelia's own loader"
**I'm submitting a bug report**
Note: this is really a request for clarification of documentation.

* **Library Version:**
2.1.2, project skeleton as created by aurelia-cli 0.33.0

**Please tell us about your environment:**
* **Operating System:**
OSX 10.13.4

* **Node Version:**
10.0.0

* **NPM Version:**
6.0.0

* **JSPM OR Webpack AND Version**
webpack 2.1.2

* **Browser:**
all

* **Language:**

[2018-05-05 08:13] zewa666 commented on #268
Thanks for looking into this. Sadly I cant really help with this one as Im trying to avoid using webpack wherever I can so my knowledge is too limited. Raising this issue over at Gitter or our Discourse forum should help bringing people with a better expertise.

[2018-05-05 16:14] zewa666 commented on #267
@migajek ok I think the linked commit should do so. There should be now a console.warn with the text
[code]

where key is the missing key. To turn on this feature you'd have to pass in `skipTranslationOnMissingKey: true` during plugin initialization.

[2018-05-06 20:04] migajek commented on #267
perfect, thank you. I'll give it a shot with a next release !

[2018-05-07 12:43] davidtimovski opened #269 "Jibberish code snippet in article"
There seems to be an issue with the article. This is what I'm seeing:

![capture](https://user-images.githubusercontent.com/25406486/39702306-a3b16ab4-5204-11e8-82cf-6b0baa27bf4a.PNG)

Looks like it may be from [this commit](https://github.com/aurelia/i18n/commit/09060e110049b60a98a30a2fafa779bc30e19e22) (an extra bracket at line 344) though I don't know why that would cause the code snippet to br

[2018-05-07 12:50] davidtimovski opened #270 "Article not the same as one on aurelia.io"
I was under the impression that the [article](https://github.com/aurelia/i18n/blob/master/doc/article/en-US/i18n-with-aurelia.md) was the source for the one at [https://aurelia.io/docs/plugins/i18n/](https://aurelia.io/docs/plugins/i18n/) but it doesn't look to be the same.

I had a small fix merged into it a while back and I just noticed the article at aurelia.io doesn't reflect the fix. In fact,

[2018-05-18 14:40] doktordirk commented on #268
@alankila maybe see https://discourse.aurelia.io/t/solved-how-to-use-i18n-with-backend-in-au-cli-webpack-projects/542/7

[2018-05-18 21:49] doktordirk commented on #268
@alankila @zewa666
previous didn't work for me in the end.

but i did get https://github.com/atroo/i18next-resource-store-loader to work and have the translation.jsons bundled in the app bundle. no webpack.config edits needed (as a json loader is usually included already)

sample file structure:
[code]

in `main.js`
[code]

[2018-05-29 18:56] rluba opened #273 "i18n.updateTranslations does not respect t-params bindings"
**I'm submitting a bug report**

* **Library Version:**
2.2.0

**Please tell us about your environment:**
* **Operating System:**
OSX 10.13.4

* **Node Version:**
8.9.1

* **NPM Version:**
5.8.0

* **JSPM OR Webpack AND Version**
webpack 4.1.1

* **Browser:**
all

* **Language:**
ESNext

**Current behavior:**
Using a translation attribute with params on a VM that inherits from `BaseI18N` causes th

[2018-05-30 19:28] zewa666 commented on #270
Should be fixed now. The update of the docs happens manually so it could be some parts got missed.

[2018-05-30 19:28] #270 closed

[2018-05-30 19:29] zewa666 commented on #269
@eisenbergeffect can you take a look at this one?

[2018-05-30 19:36] zewa666 commented on #273
Actually the BaseI18N class altogether isnt the best Idea in retrospective as inheritance causes more troubles than good. Could you create a minimal sample reproducing the issue and share it as GitHub repo?

With regards to timing and overall architecture I'm planing to do a full rewrite of the Plugin in TS for better support of both languages and also cleaning up the promise/setup nightmare that

[2018-05-31 00:33] EisenbergEffect commented on #269
Looks like there are multiple bugs in the latest version of that document. I've fixed the one above locally but there are other issues. I'll work on getting it done this evening.

[2018-05-31 00:40] #269 closed

[2018-05-31 00:40] EisenbergEffect commented on #269
I've pushed the fixes. Site deploy is in progress.

[2018-06-01 19:45] rluba commented on #273
I just stopped using `BaseI18N` to fix 2. I can still switch languages at runtime so I really don’t see the point of `BaseI18N`.

I’ve used `au new` to create [a minimal example project that reproduces 1.](https://github.com/rluba/aurelia-i18n-issue-273/tree/master).

[2018-06-02 14:51] zewa666 commented on #273
thanks for the repo, but I can't get it to run. Is it CLI based? The tasks build/run report a missing `configureEnvironment` from `./environment`. Could it be you haven't checked in everything?

There used to be a case for BaseI18N in the beginnings of the plugin, when the t attribute wasn't fully implemented via Aurelia custom attributes with signaling behavior.

With regards to the Q1, yep it ne

[2018-06-02 18:08] rluba commented on #273
Sorry, my fault. One of the task files got excluded by .gitignore

I don’t think that’s correct. Yes, it’s lazy, but [`TCustomAttribute` explicitly checks in `bind` whether a `t-params` exists before performing the initial translation](https://github.com/aurelia/i18n/blob/b9d147a6a77c4d7c0810b5bd7d9b6722b438e59c/src/t.js#L63).

Yikes, I did not even consider that this could be allowed. Are you sur

[2018-06-04 06:09] zewa666 commented on #273
Params are checked thats right, but not their value. The usage of t-params being undefined can stem from forwarding values passed into custom elements via custom attributes, which haven't yet resolved to a value. The `default translation` was just an example.

With regards to BaseI18N, yep I definitely see that it's using the ancient form of updateTranlsations, which clearly doesn't walk through t

[2018-06-04 06:12] #267 closed

[2018-06-04 06:48] rluba commented on #273
That’s exactly what I mean when I said: "Why does TCustomAttribute not postpone the translation when params is present but its value is still undefined?"

Yeah, but in that case my suggested solution would work: If `t-params` is present but the value is undefined, then postpone the translation until the `valueChanged` handler fires. This would fix the "undefined parameters" warning _and_ avoid tra

[2018-06-04 10:49] zewa666 commented on #273
I agree, would you mind creating a [PR for the docs](https://github.com/aurelia/i18n/blob/master/doc/article/en-US/i18n-with-aurelia.md) to state it the way you would see it?

With regards to your proposed fix, this would change the behaviour of the current workflow. Everyone, for whatever reason, who depends on that undefined step, will have a breaking change, whereas the double translation is me

[2018-06-06 10:46] zewa666 commented on #273
hmm there might be a fix for having the `updateTranslations` function also figure out params. I've created a branch `updatetranslations-params` which includes the fix and built files. If you could give this a try `npm install aurelia/i18n#updatetranslations-params` that would be helpful

[2018-06-30 10:35] zewa666 commented on #273
Ping @rluba. Did you have a chance to try the mentioned fixes above?

[2018-07-23 20:10] rluba commented on #273
I finally got around to [testing your fix](https://github.com/rluba/aurelia-i18n-issue-273/commit/189acba4697068222d8b1cc1ba5dff2c5f5b4b2f): it seems to work – but I’d nonetheless suggest not to use BaseI18N since it does zero useful work on top of the `t` attribute.

[2018-07-25 11:52] groenlid opened #278 "Defaulttranslations gets cached when xhr requests fails"
**I'm submitting a bug report**

* **Library Version:**
"aurelia-i18n": "2.0.0",

**Please tell us about your environment:**
* **Operating System:**
Linux Solus Mate

* **Browser:**
all

* **Language:**
Typescript 2.8.3

**Current behavior:**
[code]
In the case where the xhr request to our translation-service fails, the cache is still populated with the default-translations included in aurelia-i18

[2018-08-01 06:17] zewa666 commented on #273
Thanks for checking it out @rluba. Yes I agree, still it's worth having the fix in the base.
Guess we can close this one or is there anything left from your side?

[2018-08-01 06:46] groenlid commented on #278
Yes. The problem for us is the automatic registration. We do not use them, and by including them, I don't see how we could stop the i18next-localStorage-cache from caching when the xhr-request fails and it's only given the default-values included in aurelia-i18n.

Adding a configuration-option would fix our problem :+1:

[2018-08-01 06:48] rluba commented on #273
I‘d still strongly suggest to change the initial „undefined“ translation because it’s more than just inefficient: it logs a warning for every parameter, saying that the parameter is missing – even though it isn’t!
This causes me to ignore all those warnings – making them useless and increasing the chance of missing a real mistake.

But I understand that you might consider the change „breaking“. If

[2018-08-01 07:08] zewa666 commented on #273
Yeah I think this is due to the highly "inefficient" way of initializing the whole plugin. Admittedly it was at the time due to me not fully understanding the async behavior. With the next major all of this definitely needs to be rewritten and the initial translation should be gone. We're currently building out our monorepo infrastructure for Aurelia, so as soon as that is set, I plan on starting

[2018-08-01 07:10] zewa666 commented on #278
Do you want to go ahead and try creating a PR for that? If you need any guidance just ping me either here or on gitter

[2018-08-02 13:36] groenlid commented on #278
This issue seems to have been resolved by upgrading aurelia-i18n to the latest version + using i18next-chained-backend instead of using xhrbackend and localstorage-backend separately.

Thanks for the support! :+1:

[2018-08-02 13:36] #278 closed

[2018-08-02 15:04] zewa666 commented on #278
Ahh cheap trick to avoid a PR :)

May I just ask you to post how your new instance setup looks like with your adaption?
https://github.com/i18next/i18next-chained-backend indeed looks nice

[2018-08-14 07:04] groenlid commented on #278
sure :)

Here's our current setup, but I'm looking into having the caching part in our serviceworker instead of localstorage :)

[code]

[2018-08-23 15:35] samueldjack opened #280 "Error "Module 'aurelia-i18n' has no exported member 'configure'""
**I'm submitting a bug report**

* **Library Version:**
2.3.2

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
v10.1.0

* **NPM Version:**
6.4

* **JSPM OR Webpack AND Version**
webpack 4.17

* **Browser:**
all

* **Language:**
TypeScript 3.0

**Current behavior:**
I'm attempting to register the aurelia-i18n plugin using the imported module method

[2018-08-25 07:34] zewa666 commented on #280
I really wonder why since it actually is exported https://github.com/aurelia/i18n/blob/master/src/aurelia-i18n.js#L87

[2018-08-29 13:12] samueldjack commented on #280
I should clarify that this is a compile time error, not a run time error.

[2018-08-29 18:48] zewa666 commented on #280
oh well ... I see the trouble. The dts-gen plugin simply creates stupid outputs for the generated typings. I guess you're using TypeScript which is why you hadn't seen this.

As a workaround for now, please try to do

[code]

It's ugly as hell but I doubt anything I can do about it for now. I'm in the phase of rewriting the whole plugin to typescript and cleaning it up. So that will definitely be

[2018-09-07 13:23] graycrow opened #281 "[3.0.0-beta.1] Failed loading translation files with aurelia backend and webpack"
**I'm submitting a bug report**

* **Library Version:**
3.0.0-beta.1

**Please tell us about your environment:**
* **Operating System:**
Windows 8.1

* **Node Version:**
10.9.0

* **NPM Version:**
6.4.1

* **Webpack 4.17.2**

* **Browser:**
all
* **Language:**
TypeScript 3.0.3

**Current behavior:**
My translation files included in the Webpack bundle using ModuleDependenciesPlugin:
[code]
and this

[2018-09-07 13:32] chabou-san opened #282 "Options on Backend init are overloaded with the default values."
**I'm submitting a bug report**

* **Library Version:**
3.0.0-beta.1

**Please tell us about your environment:**
* **Operating System:**
OSX 10.x

* **Node Version:**
8.11.4

* **NPM Version:**
5.6.0

* **JSPM OR Webpack AND Version**
webpack 4.17.2

* **Browser:**
all

* **Language:**
all

**Current behavior:**
When specifying `options` for the backend at boot of the app using the following piece

[2018-09-07 13:48] chabou-san commented on #281
I think I'm reporting the same issue in  #282. By the time I wrote it, this one got published. Sorry for the duplicate!

[2018-09-07 13:56] graycrow commented on #281
@chabou-san, after a quick look I'm not sure if it's the same issue. You see, looks like in my case options are taken into account, because error message has the `loadPath` filled with parameters.

[2018-09-07 14:09] chabou-san commented on #281
This is the same error I got, as I have the same configuration as you. Your options specify :
[code]
 whereas the default value for `loadPath` is `"/locales/{{lng}}/{{ns}}.json"` (see https://github.com/aurelia/i18n/blob/e2ff0485da8239fbca25ec32a8c4856112cd6e0a/src/aurelia-i18n-loader.ts#L38 and notice the trailing slash at the beginning, and it is the one in your logged error).
This single differ

[2018-09-07 14:33] zewa666 commented on #281
Thanks guys for giving the Beta a try. Expected few issues so its great to have you tried it out. I'll try to get to it asap next week. Meanwhile PRs on the port-to-typescript branch are welcome ;)

[2018-09-10 13:31] zewa666 commented on #282
Yeah I think I see what happened here. Essentially the trouble was that the implementation of `defaults` was only updating if previously the property was `undefined`, thats why the order didn't really matter. So in [this line](https://github.com/aurelia/i18n/blob/e2ff0485da8239fbca25ec32a8c4856112cd6e0a/src/aurelia-i18n-loader.ts#L37) merely switching the second with the third argument should get

[2018-09-10 13:34] chabou-san commented on #282
This is exactly what I did to fix the issue on my side and get going. I just didn't take the time to PR that change. So I can confirm it fixes it. 👍

[2018-09-12 06:49] zewa666 commented on #281
@graycrow and @chabou-san can you guys try out the latest beta-2 and see if that fixes your issues?

[2018-09-12 08:45] graycrow commented on #281
@zewa666, unfortunately no, the same error, but now without leading slash: `Unhandled rejection (<failed loading locales/cs/translation....>, no stack trace)`

[2018-09-12 09:36] graycrow commented on #281
@zewa666, ok, I found the source of my issue, it works now. In the i18next framework `LanguageUtil.prototype.toResolveHierarchy()` adds extra languages by default if configuration option `load` is not set to `currentOnly`. So now the relevant part of my main.ts looks like this:
[code]

[2018-09-12 11:36] zewa666 commented on #282
Closing this as the fix was released in beta-2

[2018-09-12 11:36] #282 closed

[2018-09-12 11:39] zewa666 commented on #281
ok so that boils down to a new breaking change of i18next itself. Good catch @graycrow.
The trouble in the end is that the webpack build actually crashes if it cant find the file, which instead should be treated as a *warning*.

Would be great if you could build a small sample and share it via a GitHub repo so we can try to calm webpack down.

[2018-09-12 11:41] chabou-san commented on #281
For my configuration, beta-2 is fixing the issue.

[2018-09-12 12:43] graycrow commented on #281
@zewa666: [here it is](https://github.com/graycrow/aurelia-i18n-test).

[2018-09-12 13:57] zewa666 commented on #281
@graycrow awesome, I'll take a look at it as soon as I can. Having your workaround is great. Ideally as said though I'd like to find a way to treat non-existing translation files as warnings vs errors and continue execution

[2018-10-01 12:45] zewa666 commented on #280
@samueldjack can you check with the latest beta release. The rewrite should now include proper types and should allow what you're planning to do here.

[2018-10-14 19:59] jdonzallaz opened #285 "Bundle doc not up-to-date"
**I'm submitting a documentation error**

Hello,
In the documentation to *Bundle Translation Files* with the cli, the watch task must be added to the new `watch.ts` file, and not in `run.ts`:
[code]

With aurelia-cli: 1.0.0-beta.1

[2018-10-17 13:42] zewa666 commented on #285
thank you @jdonzallaz

[2018-10-17 13:42] #285 closed

[2018-11-14 04:41] huochunpeng opened #289 "The default backend loader doesn't work with cli+bundler+systemjs"
@zewa666 I need to modify this line

https://github.com/aurelia/i18n/blob/b58538378aecc3918fbaa9a357a087784a86c3f6/src/aurelia-i18n-loader.ts#L73

to
[code]

In order to make it work on cli+bundler+systemjs, it is something related to how systemjs normalize module id with plugin subfix.

The aurelia-loader has an abstraction on normalize but I have no reference to 2nd parameter `relativeTo`. (the

[2018-11-14 04:50] huochunpeng commented on #289
Looks like this is not aurelia-i18n bug. An easier fix is to remove following code from aurelia-loader-default.

https://github.com/aurelia/loader-default/blob/6bb824869f2969614694a7f568c4dd4c56004001/src/index.js#L211-L224

That code block is unnecessary, as cli+bundler provides systemjs text plugin from npm package systemjs-plugin-text.

It looks like the double definition of text plugin confuse

[2018-11-14 04:52] huochunpeng commented on #289
@EisenbergEffect it looks like jspm setup does not need that inline text plugin either.

https://github.com/aurelia/skeleton-navigation/blob/4cd41380bf0e5e977266fc3793f9a5072d996bac/skeleton-esnext/config.js#L28

[2018-11-14 04:54] EisenbergEffect commented on #289
@huochunpeng Can you submit a PR to address it? If so, I can make a release this week.

[2018-11-14 04:55] huochunpeng commented on #289
@EisenbergEffect is it safe to remove it? I don't know the history.

[2018-11-14 04:58] EisenbergEffect commented on #289
I have no idea. That's been there for years.

[2018-11-15 00:02] #289 closed

[2018-11-23 09:03] henrikroschmann opened #290 "Path in typings.json no longer targeting aurelia-i18n.d.ts"
**I'm submitting a bug report**
Path in typings.json no longer targeting aurelia-i18n.d.ts. 6 days ago aurelia-i18n.d.ts was moved out from the typings folder to the root in the dist folder.

**Current behaviour:**
typings ERR! message Unable to read typings for "aurelia-i18n". You should check the entry paths in "typings.json" are up to date
typings ERR! caused by https://raw.githubusercontent.co

[2018-11-23 09:32] henrikroschmann commented on #290
typings.json
{
  "name": "aurelia-i18n",
  "main": "dist/typings/aurelia-i18n.d.ts"
}

It should say
{
  "name": "aurelia-i18n",
  "main": "dist/aurelia-i18n.d.ts"
}

[2018-11-23 09:43] bigopon commented on #290
@henrikroschmann Would be nice if you could create a PR for it 👍

[2018-11-23 16:43] zewa666 commented on #290
PR merged

[2018-11-23 16:43] #290 closed

[2018-12-28 20:52] davidsk opened #292 "i18next 'has no exported member' errors"
**I'm submitting a bug report**

* **Library Version:**
3.0.0-beta.4

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.11.3

* **NPM Version:**
6.3.0

* **JSPM OR Webpack AND Version**
JSPM 0.16.32 | webpack 2.1.0-beta.17
Neither, using the new autotracing bundler

* **Browser:**
Chrome 71.0.3578.98

* **Language:**
TypeScript 2.9.2

**Current be

[2018-12-28 21:15] davidsk commented on #292
Sample project: [https://github.com/davidsk/Aurelia-i18n_292](https://github.com/davidsk/Aurelia-i18n_292)

[code]

[2018-12-29 06:35] zewa666 commented on #292
@bigopon remember that you added the fix for the star import? Was there a specific reason? Guess because of tsconfig settings right?

[2018-12-29 16:50] zewa666 commented on #292
Alright, last but not least can you provide us your tsconfig.json contents @davidsk, just to make sure there are no special setups in place

[2018-12-29 17:08] davidsk commented on #292
Sure.  It was created via the CLI and I haven't edited it so I imagine it's pretty standard.

[code]

[2018-12-29 18:15] zewa666 commented on #292
Thanks for the feedback. I've merged the PR to fix this. Will be available with the next release

[2018-12-29 18:15] #292 closed

[2019-02-04 09:26] developer-pta opened #295 "Namespace 'i18next' has no exported member 'TranslationFunction'"
**I'm submitting a bug report**

* **Library Version:**
3.0.0-beta.5

**Please tell us about your environment:**
* **Operating System:**
Windows [10]

* **Node Version:**
11.8.0

* **NPM Version:**
6.7.0

* **JSPM OR Webpack AND Version**
JSPM 0.16.32 | webpack 2.1.0-beta.17

* **Browser:**
all

* **Language:**
TypeScript 3.1.2

**Current behavior:**
On 'au build' it throws errors:
error TS2694: N

[2019-02-04 09:31] ProtechAutomation commented on #295
Ok, this errors are in module /node_modules/aurelia-i18n/dist/aurelia-i18n.d.ts
and it seems to be related to: https://github.com/i18next/i18next/pull/1180 where they introduced a BREAKING CHANGE i v.14 of i18next.

the breaking change is:

So by renameing those calls in aurelia-i18n.d.ts, should work fine.
Will try then report.

[2019-02-04 09:33] bigopon commented on #295
@ProtechAutomation Cool, thanks for the finding. The definition was built with v11 or 12 I think, and newer version of i18next will probably requires some updates from i18next plugin. It should not be difficult to do so though. Would be nice if you could create a PR to fix this

[2019-02-04 09:37] ProtechAutomation commented on #295
Will try. I have never done this (PR).

[2019-02-04 09:52] bigopon commented on #295
@ProtechAutomation You can follow the instruction for development in `README.md`, if you hit any issues,  please post it here ❤️

[2019-02-04 11:11] ProtechAutomation commented on #295
Hmm...
It seem that those were not the only changes they made.
This was also changed:

So now i get new problems in:

[code]
Where first I had to make the type of defaultOptions explict, and remove 'compatibilityAPI: "v1"'.
Now vscode is complaining of the i18next.init method not returning the correct type. The init method now returns: **Promise<i18next.TFunction>** while aurelia.i18n expects: **p

[2019-02-05 10:18] ProtechAutomation commented on #295
Ok,

...ok

...ok

I created a pull request for it: fix-for-295

[2019-02-15 17:21] jeremy-holt opened #300 "Documentation suggestion"
The documentation at https://aurelia.io/docs/plugins/i18n#installing-the-plugin at Registering the Plugin - using the i18next-xhr-backend using the aurelia-cli loader should be clearer.....

Using aurelia-cli 1.0.0-beta.13

1. ONLY install `aurelia-i18n` and `i18next-xhr-backend`. DO NOT install `i18next`.

2. ONLY use the `i18next-xhr-backend` Backend

`main.ts` should look something like
[code]

[2019-02-16 05:50] khuongduybui commented on #300
Or you can just use `plugin.i18next.use(Backend.with(aurelia.loader));`
I only needed to install aurelia-i18n and nothing else.
I don't need to copy anything either.

[2019-02-16 07:17] zewa666 commented on #300
@jeremy-holt if you could create a PR it would be easier to follow the actual edits.

[2019-03-20 18:06] mredl commented on #295
Problem still exists. I installed aurelia-i18n yesterday, got 3.0.0-beta.5, and during build i get following 3 errors:
c:/Projekte/coopa/solution/public.coopa.at/node_modules/aurelia-i18n/dist/aurelia-i18n.d.ts(31,45): error TS2694: Namespace 'i18next' has no exported member 'TranslationFunction'.
c:/Projekte/coopa/solution/public.coopa.at/node_modules/aurelia-i18n/dist/aurelia-i18n.d.ts(36,47): e

[2019-03-20 23:18] EisenbergEffect commented on #295
@zewa666 Any ideas?

[2019-03-21 08:06] zewa666 commented on #295
@mredl thats weird, can you check on a fresh new project what gets installed and whether the old types are present in the same d.ts file?

[2019-03-21 08:08] mredl commented on #295
i did! that was a fresh new project, created with cli on the same day. the first plugin i installed was aurelia-18n.
then i got this ts errors which i have fixed. but the app still hangs during loading of aurelia-18n.
if i uncomment the loading in main.ts the app boots.

[2019-03-25 06:42] zewa666 commented on #295
@mredl oh wow that was super dumb mistake from our side :( We've forgot to release the latest version on npm and I was merely testing it from a local branch. Sorry for that. @EisenbergEffect can you create another patch release?

[2019-03-25 06:46] zewa666 commented on #280
closing due to inactivity

[2019-03-25 06:46] #280 closed

[2019-03-25 16:51] EisenbergEffect commented on #295
I'll get a release out tonight 😄

[2019-03-26 01:22] EisenbergEffect commented on #295
@zewa666 I don't think I can release this yet. There seems to still be an issue. In the generated d.ts file for the library, there are two imports for i18next, with two different syntaxes. This makes the d.ts invalid. It also leads me to be believe that one of the imports, which isn't correct, is still used somewhere in the codebase. Can you investigate? You can see the issue if you build master a

[2019-04-17 13:11] gcastre opened #302 "T attribute inside a repeater refresh the whole table"
As discussed on the gitter with @zewa666

**I'm submitting a bug report**

* **Library Version:**
major.minor.patch-pre

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
10.15.3

* **NPM Version:**
6.9.0

* **JSPM OR Webpack AND Version**
webpack 4.30.0

* **Browser:**
Chrome 73.0.3683.103

* **Language:**
ESNext

**Current behavior:**

Using the T

[2019-04-17 13:34] bigopon commented on #302
@gcastre I think the behavior you described is related to how I18N works. With a `t` custom attribute, probably the whole innerHTML is updated (by service from I18N library) while with value converter or binding behavior, only the text content is updated.

[2019-04-17 15:58] zewa666 commented on #302
that is true. In most scenarios the original DOM element is recreated and replaced. This is partially due to avoid replacement issues (prepend/append, attributes) and due to this approach not really being the best for large tables. In such cases typically you'd want to stick with BindingBehavior or even better the T ValueConverter, if your locales are not going to change at runtime, due to smaller

[2019-04-18 08:22] gcastre commented on #302
Ok thank you for your response. May I suggest to add a warning about that in the documentation ?

[2019-04-18 10:35] zewa666 commented on #302
Good idea. Created a PR for the docs, please have a quick review @gcastre.

[2019-04-19 05:07] #302 closed

[2019-07-05 04:27] peitschie opened #305 "i18n params attribute doesn't work in globally registered custom elements"
**I'm submitting a bug report**

* **Library Version:**
aurelia-i18n 3.0.0-beta.7

* **Webpack AND Version**
webpack 4.27.0
webpack-cli 3.3.5

* **Browser:**
all

* **Language:**
TypeScript 3.1.2

**Current behavior:**
![image](https://user-images.githubusercontent.com/1052079/60697853-baeec400-9f2f-11e9-8999-36982d8d1025.png)
Repro code at https://github.com/peitschie/bug-repro-aurelia-i18n-alias

[2019-07-05 04:51] zewa666 commented on #305
Thx for the repro I'll take a look. Clearly it looks like a bug as I cant see anything wrong in the sample

[2019-07-10 11:32] zewa666 commented on #305
I think I found the issue, yet I don't really know why it happens.

In your `main.ts`, if you comment out the following:
[code]

and instead require the message custom element right before it's use

[code]

all seems to work. So it must be a timing issue with registration, as that the features are registered before the plugin so we're too late to the story.

[2019-08-17 04:44] khuongduybui commented on #305
I tried to fix the "timing issue with registration" as following but could not fix the issue.

[code]

[2019-08-17 11:25] bigopon commented on #305
Doing the following:
[code]
means load all resources inside `resources/index` and **then** load `aurelia-i18n`. Which means any resources loaded before i18n will have their template parsed without the knowledge of `aurelia-i18n` attributes, value converters, binding behaviors.
I think this can simply be solved by ensuring this plugin will be registered before any app resources:
[code]

[2019-08-17 14:04] zewa666 commented on #305
Nope not going to work since i18n is lazily initialized via callback

[2019-08-20 16:15] khuongduybui commented on #305
Can we force it to behave differently?

[2019-08-30 03:49] warm3snow opened #310 "Can"
**I'm submitting a bug report**
**I'm submitting a feature request**

* **Library Version:**
major.minor.patch-pre

**Please tell us about your environment:**
* **Operating System:**
OSX 10.x|Linux (distro)|Windows [7|8|8.1|10]

* **Node Version:**
6.2.0

* **NPM Version:**
3.8.9

* **JSPM OR Webpack AND Version**
JSPM 0.16.32 | webpack 2.1.0-beta.17

* **Browser:**
all | Chrome XX | Firefox XX |

[2019-08-30 03:51] #310 closed

[2019-12-19 20:43] lioff commented on #23
This issue is quite old but I need a way to parse the locale from the url (without defining each route several times for all the locales). Is there a solution to this?

[2020-02-18 06:25] peitschie opened #313 "i18n via t.bind fails to clear translated string when key becomes undefined"
**I'm submitting a bug report**

* **Library Version:**
aurelia-i18n 3.0.0-beta.7

* **Webpack AND Version**
webpack 4.27.0
webpack-cli 3.3.5

* **Browser:**
all

* **Language:**
TypeScript 3.1.2

**Current behavior:**
When using the `t.bind` syntax, translations will not be correctly cleared when bound value becomes undefined. Reproduction at: https://github.com/peitschie/bug-repro-aurelia-i18n-b

[2020-02-18 08:08] zewa666 commented on #313
The reason why it happens [is simple](https://github.com/aurelia/i18n/blob/master/src/i18n.ts#L189-L191), the problem is I can't recall why that was added ;) I'll need to dig up a bit

[2020-02-18 08:44] zewa666 commented on #313
PR is the works lets see this shouldn't hopefully take long to fix @peitschie. Love your nickname btw ;)

[2020-09-10 14:14] josundt opened #324 "TypeScript compile error in typings for v3.1.2"
**I'm submitting a bug report**

* **Library Version:**
3.1.2

* **Operating System:**
Windows [10]

* **Node Version:**
LTS

* **NPM Version:**
LTS

* **Language:**
TypeScript 4.0.2

**In **aurelia-i18n@3.1.2**, the _typings_ (aurelia-i18n/aurelia-i18n.d.ts) causes a TypeScript compile error.**

The error is related to the import statement for _i18next_ on **line 6** in _aurelia-i18n/aurelia-i18n

[2020-09-10 15:49] zewa666 commented on #324
Not really because it would force users to have additional settings in their tsconfig. Besides that while default exports are common in React and other frameworks they're not really seen as a good practice. We had this one popping up several times in existing issues.

[2020-09-10 17:17] josundt commented on #324
**The current typings breaks the TypeScript compilation regardless of the tsconfig settings you use!**

I guess the tsconfig settings referred are `allowSyntheticDefaultImports` and/or `esModuleInterop` which allows using "default import syntax" similar to BabelJS for interoperability with CommonJS modules. I prefer not changing the defaults for these settings (false), I rather prefer the `import

[2020-09-10 18:11] josundt commented on #324
PS! There seems to be a difference in the typings in the `@types/i18next` package used in your repository (v8.4.5) and the ones that come with `i18next` (v14.1.1) package that could be clarifying:

_From the `@types/i18next@8.4.5` typings:_
[code]

_From `i18next@14.1.1` typings:_
[code]

The `@types/i18next` package has been **deprecated**, you should now use the one included in i18next instead.

[2020-09-10 18:36] zewa666 commented on #324
Thx for looking into it. I will take a look asap and I'm sure we'll be rolling a fix out soon. Meanwhile if this is a blocker for you I'd recommend patch-package which allows you to safely navigate around the issue by patchfixing the d.ts file after npm installs.

[2020-09-10 18:47] josundt commented on #324
Np. Sorry for causing all this work lately :-)
And sorry for adding as much text as I have in this case.
The compressed information is:
* the deprecated `@types/i18next` typings may have been vulnerable to different tsconfig settings - but the included typings with latest `i18next` should not have this problem.
* until the import is changed to `import i18next from 'i18next' in your typings, there

[2020-09-11 09:13] josundt commented on #324
Please let me know if you my contribution for this fix.
I realized I was involved in this earlier as well (#237).

[2020-09-11 13:24] zewa666 commented on #324
Aahh I wasn't sure but had the idea that the two of us already had contact with that issue. Thanks again and no absolutely no disturbance, it's me who's in debt with the low time.

If you can create a PR with your change it would be super helpful for testing. I should be able to take a look at it over the weekend.

[2020-09-12 18:27] josundt commented on #324
Added a PR now that should fix the problem (#325).
It would be nice to have this released ASAP since the 3.1.2 release will be problematic for Aurelia TypeScript based projects.

[2020-09-12 19:19] #324 closed

[2020-09-12 19:22] zewa666 commented on #324
thanks again for the quick help, I was literally turning up VSCode to start looking at the issue. What a service ;)
I realized over at the Aurelia v2 version of the plugin we're already on 17.x thats why we didn't have the issue there. So thanks for the great catch.

By time, and once v2 alpha bubbles up I'll take the time to update the v1 plugins dependency as well and ship it with the next major

[2020-09-14 23:32] josundt commented on #324
@zewa666 Just testet out the 3.1.3 release. Looks like the typings file (aurelia-i18n.d.ts) file has not been updated!
PSI did not add in changes in the "dist" folder in my PR as I was instructed not to do that earlier - some CI process would take care of this folder. But in aurelia-i18n@3.1.3, it seems `npm run build` has not been run before releasing the package so it seems the dist folder is id

[2020-09-15 19:37] zewa666 commented on #324
there was something totally strange since the change you did for 3.1.3 already landed previously and got released with 3.1.2 if you look at the repos commit history. I'm unsure how this happened but frankly when I just created a fresh new Webpack TS project and added aurelia-i18n I have no issues and all works. The i18next dependency is ^14.1.1 and no types/i18next present. So it seems ok to me, d

[2020-09-15 20:05] zewa666 commented on #324
ok now I think I see the issue. If I try to inject I18N and then `instance.i18next.use` I get a type info. Now the built in typings export still via `export default i18next;` which is why we still need our script we had before that changes from named to default import.

God, the typings of i18next are really so messed up and these default exports are really giving me a grind. Can you verify that @

[2020-09-15 23:38] josundt commented on #324
I now realize that I have made a mistake.
The `fixI18nDefaultImport` function was actually fixing the problem, not causing it 😫
The function was replacing `import { i18next } from 'i18next'` with `import i18next from 'i18next'` (desired), so it was a mistake from my side to remove it from the build script in my last PR

But when aurelia-i18n@3.1.2 was built, for some reason the `fixI18nDefaultImpo

[2020-09-16 11:20] zewa666 commented on #324
Agree the `dts-bundle-generator` is an old relict from early Aurelia times. It certainly is going to be got rid of but was postponed to be done with the next major update.

So bottom line, the generated aurelia dts file should have `import i18next from 'i18next';` as it used to be with the fixup task (like in 3.1.1) so the actual change is merely to have an updated i18next dependency and the drop

[2020-09-16 14:35] josundt commented on #324
@zewa666 That's exactly right 👍.
Pleas also make sure that the typings fix is actually is applied to the typings in the dist folder before publishing the package, since it for some reason did not happen in the 3.1.2 release...

[2020-09-16 14:37] doktordirk commented on #324
might be to add a typescript test. took me a little to follow the trail after getting the error after an `yarn upgrade`

[2020-09-18 09:27] josundt commented on #324
@zewa666 Will you be able to fix this and make yet another release?
It should be more or less just to revert to the commit for the 3.1.2 release, but to figure out why the typings fix was not applied by the build preceding the package publishing of 3.1.2.

[2020-09-18 11:02] zewa666 commented on #324
hey guys, sorry that it took me so long. I've created the PR could you give it another look @josundt just to be safe :)

I guess that should really be it. Aside from the fix I've also made sure to update the jspm dependency which wasn't the same as the npm dependency.

[2020-09-18 11:54] CedricMalfreytBL opened #327 "aurelia-i18n.d.ts(6,10): error TS2614: Module '"../../i18next"' has no exported member 'i18next'"
**I'm submitting a bug report**

* **Library Version:**
3.1.2 and 3.1.3

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
12.18.3

* **NPM Version:**
6.14.4

* **JSPM OR Webpack AND Version**
webpack 4.42.0

* **Browser:**
all

* **Language:**
TypeScript 4.0.2

**Current behavior:**
When building a project whith aurelia-i18n v 3.1.2 ou > the follow

[2020-09-18 18:18] zewa666 commented on #327
Yep sorry PR is there just waiting for a quick review https://github.com/aurelia/i18n/pull/326

[2020-09-19 13:02] josundt commented on #324
@zewa666 I pulled your PR branch and looked at the code.
_After_ running `npm run build` the generated typings file is completely correct, but the file in the repo is incorrect _before_ running `npm run build` .
As mentioned I don't fully understand build/release process or why the build artifacts of the dist folder is not ignored in the repository, but if `npm run build` is executed before `npm p

[2020-09-19 18:31] zewa666 commented on #324
Released

[2020-09-19 18:32] zewa666 commented on #327
Released v3.1.4 which should fix this. Going to close this ping again if you still encounter issues

[2020-09-19 18:32] #327 closed

[2020-09-19 19:47] josundt commented on #324
It's been a bumpy road but it seems we finally we nailed it 😀
Thanks a lot!

[2020-09-21 07:13] doktordirk commented on #324
@josundt the dist folder is not in gitignore since it contains the transpiled code for eg npm instalations. it shouldn't be commited (outside releases) since it's superficial and would make reviews 50times harder.

[2020-09-21 12:04] CedricMalfreytBL commented on #327
Hi @zewa666 , just updated to 3.1.4, the issue no longer exists.

Thank you 👍

[2021-01-25 12:01] blarsern opened #331 "Can't return arrays in tr() anymore?"
**I'm submitting a bug report**

* **Library Version:**
3.1.4

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
14.15.4

* **NPM Version:**
6.14.11

* **JSPM OR Webpack AND Version**
Webpack 4.4.1

* **Browser:**
Chrome

* **Language:**
Typescript 3.2.2

**Current behavior:**

dist/aurelia-i18n.d.ts changed 27th of mars 2019:

Changed from:
tr(key:

[2021-01-25 12:42] zewa666 commented on #331
Ouch, yep that was a mistake I forgot about the returnObject parameter. So it really should be `unknown` or `any` right?

[2021-01-25 14:46] blarsern commented on #331
Probably not used a lot ;)

Not sure what's best of unknown or any..

[2021-01-25 16:33] zewa666 commented on #331
ok so the proper result seems to be `TResult` which can be.

Please give the fixed version [in the PR](https://github.com/aurelia/i18n/pull/332) a try. Clone the tr-result branch, run `npm run build` and then install in your project via `npm install ../path/to/your/local/clone/root`.

If all is good we can merge and create another patch release.

[2021-01-26 15:29] blarsern commented on #331
Well tested it.

Now this simple code fails:
return { name: this.i18n.tr('enums.myEnum.ngh') };

  TS2322: Type 'TrResult' is not assignable to type 'string'.
  Type 'object' is not assignable to type 'string'.

To fix this, i have to add toString:
return { name: this.i18n.tr('enums.myEnum.ngh').toString() };

var a:string = this.i18n.tr('enums.myEnum.ngh');  //Not working
var a:string = this.i18n

[2021-01-26 15:38] zewa666 commented on #331
Thx for the Test and the Testcase, I'll fix that when at the PC.

[2021-01-28 13:47] zewa666 commented on #331
ok lets give the next version a try, I've pushed the changes @blarsern

[2021-02-01 22:51] blarsern commented on #331
Seems to be working perfectly @zewa666

Thanks!

[2021-04-09 09:28] josundt opened #334 "RelativeTime stops BackendLoader from downloading resources for fallback language"
**I'm submitting a bug report**

* **Library Version:**
3.1.4

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
14.16.1

* **NPM Version:**
6.14.12

* **Webpack**
4.44.2

* **Browser:**
all
* **Language:**
all

**Current behavior:**
aurelia-i18n has a RelativeTime component.
The component comes with translations for multiple languages to support re

[2021-04-09 10:14] zewa666 commented on #334
Uh oh, that sounds logical. So I guess the backendloader merely detects the presence of the Key from the RT translations and skips applying them. I'll try to reproduce the issue and see how we can fix this.

@Sayan751 I guess this shouldnt affect the v2 since relative time is handled natively by the browser right?

[2021-04-09 10:28] josundt commented on #334
In our products, we have also created our own custom RelativeTime locale formatter that uses the native browser features, but falls back to the aurelia-i18n RelativeTime for browsers that lacks the native RelativeTime support.

I believe certain iOS Safari versions lacks this support - even quite new versions.

Are you planning a fallback solution for v2?

[2021-04-22 10:57] krisha2 opened #335 "Vulnerabilities in current version of i18next"
**I'm submitting a feature request**

* **Library Version:**
3.1.4

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
12.20.1

* **NPM Version:**
6.14.10

* **JSPM OR Webpack AND Version**
require

* **Browser:**
all

* **Language:**
ESNext

**Current behavior:**
Vulnerabilities for i18next is reported by Snyk:
https://app.snyk.io/vuln/SNYK-JS-I18NE

[2021-04-24 11:31] Sayan751 commented on #335
@zewa666 Do you think we can modify the our i18next dependency specification to allow >19.8.5 in general? It has been a relatively stable package wrt to the usage in aurelia-i18n. Probably we can have same version specifier for v2.

[2021-04-24 12:39] zewa666 commented on #335
I guess the probably we could do, although it would result in a breaking change.

[2021-05-13 04:31] adityazagade opened #340 "Sonatype reports vulnerabilities in i18next version used by aurelia-i18n"
* **Library Version:**
3.1.4

* **Operating System:**
Windows10

* **Node Version:**
v12.21.0

* **NPM Version:**
6.14.11

* **Browser:**
all

* **Language:**
(Don't know what to put here)
all | TypeScript X.X | ESNext

**Current behavior:**
Sonatype has reported security vulneribilities in i18next v14.1.1
sonatype-2020-0598 8.1 i18next : 14.1.1
sonatype-2020-0577 7.5 i18next : 14.1.1
sonatype-202

[2021-05-13 06:04] adityazagade commented on #340
By changing the import statement in aurelia-i18n.d.ts,  to

import * as i18next from "i18next";

I was able to build.

[2021-05-13 06:06] adityazagade commented on #340
@zewa666 @Sayan751@krisha2

[2021-06-28 14:56] adubois1337 commented on #340
Is there any plan to roll this package upgrade into a future release?

[2021-07-05 21:03] #335 closed

[2021-07-05 21:03] #340 closed

[2021-09-06 12:30] mitsoe opened #342 "keySeparator: '_', conflicts with the RelativeTime translations"
I'm submitting a bug report

Library Version:
3.1.4
Please tell us about your environment:

Operating System:
Windows 10

Node Version:
14.16.1

NPM Version:
6.14.12

Webpack
4.44.2

Browser:
all

Language:
all

**Current behavior:**

Setting keySeparator: '_', the translations for RelativeTime are broken.

second_ago_plural is now seen as an object instead of the string

**Expected/desired behavi

[2021-11-17 09:01] Mohsen-Bazmi commented on #268
I ended up referencing a javascript file. Is there anything wrong with that? That seems more explicit and easier to reason about:

[code]

[code]

[2021-11-17 09:10] zewa666 commented on #268
totally fine. the only downside could be if you load multiple translations that all are eagerly loaded and increase bandwidth

[2022-05-23 20:39] Alexander-Taran commented on #149
@bigopon
Duplicate of https://github.com/aurelia/cli/issues/297

which was created later and closed

[2022-05-24 04:57] #149 closed

[2022-10-04 08:47] rmja opened #352 "I18N.tr has wrong options overload type"
**I'm submitting a bug report**

* **Library Version:**
4.0.3

**Please tell us about your environment:**
* **Operating System:**
any

* **Node Version:**
16.14.2

* **NPM Version:**
8.7.0

* **JSPM OR Webpack AND Version**
webpack 5

* **Browser:**
all

* **Language:**
TypeScript 4.2

**Current behavior:**
The current prototype of `i18.tr()` has this prototype:

[code]

It should instead have:
[c